{% load static %}
{% load i18n %}
 {% load languify %}

{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-expand-md pt-3 pb-4 my-0
            navbar-light sticky-top">
  <div class="container container-fluid ">
    <a class="navbar-brand py-0" href="{% url 'base_home' %}">      
      <img class="img-fluid p-0" 
           style="max-height: 1.5rem; max-width: 10rem;" 
           src="{% if LANGUAGE_CODE == 'ar' %}
                  {% static 'brand/insi-brand-ar.svg' %}
                {% else %}
                  {% static 'brand/insi-brand.svg' %}
                {% endif %}" 
           alt="eMarches">
    </a>
    <button class="navbar-toggler border-0 p-0 ps-1" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" 
        style="outline: none; box-shadow: none;"
        aria-label="Toggle navigation">
        {% if request.user.is_authenticated %}
        <img class="img-fluid border rounded-circle" 
             src="{% if request.user.profile.avatar %}
                    {{ MEDIA_URL }}{{ request.user.profile.avatar }}
                  {% else %}
                    /static/media/users/avatars/default.png
                  {% endif %}"
             alt="" style="width: 1.5rem; height: 1.5rem; object-fit: cover;">
        {% endif %}
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarToggler">
      
          <ul class="navbar-nav me-auto navbar-nav-scroll">
            {% include 'portal/snippets/menu-tenders.html' %}
            {% include 'insights/snippets/menu-insights.html' %}
            {% include 'bdc/snippets/menu-bdc.html' %}
          </ul>

            <ul class="navbar-nav ms-auto navbar-nav-scroll text-end">
              {% include 'base/snippets/menu-languages.html' %}
              {% include 'base/snippets/menu-user.html' %}
            </ul>
      
    </div>
  </div>
</nav>

		
<script>
    // Get the navbar
    const navbar = document.querySelector('.navbar');
    const scrollThreshold = 10; // pixels

    // Listen for scroll events
    window.addEventListener('scroll', () => {
      if (window.scrollY > scrollThreshold) {
        // Scrolled past threshold → shrink
        navbar.classList.remove('pt-3', 'pb-4');
        navbar.classList.add('py-0', 'shadow', 'bg-warning-subtle');
      } else {
        // At top → restore original padding
        navbar.classList.remove('py-0', 'shadow', 'bg-warning-subtle');
        navbar.classList.add('pt-3', 'pb-4');
      }
    });
  </script>