{% load static %}


<div class="text-center text-muted">
     <div class="d-flex align-items-center mb-2">
               <hr class="flex-grow-1 me-2">
               <span>
               <img class="img-fluid p-1" style="max-height: 8rem;"
                    src="{% static 'graphics/under-const.png' %}" alt="TEST">
               </span>
               <hr class="flex-grow-1 ms-2">
          </div>
     <div class="">          
          <span>Data maybe <span class="text-danger fw-bold blink">inaccurate</span> or outdated</span>
     </div>
     <div class="pb-4"><i class="bi bi-dash-lg fs-1"></i></div>
</div>
