{% load i18n static %}
{% load paraminos %}
{% load humanize %}
{% load tz %}

<div class="border-0 border-bottom">

    <div class="{% if tender.lots_count > 1 %}ms-3{% endif %}">

        <div id="bid-{{ bid.id }}-digest" class="p-2">

            <div class="row g-1 my-1">
                {% if bid.title %}
                    <div class="col-12 text-start oneline">
                        <span class="fw-bold small">{{ bid.title }}</span>
                    </div>
                {% endif %}

                <div class="col-12 col-md-6 oneline">
                    <span>
                        <span class="me-1" data-bs-toggle="tooltip" title="{{ bid.company.name }}">
                            <img src="{{ bid.company.logo }}" alt="" 
                                class="img-fluid rounded rounded-circle" 
                                style="width: 1.5rem; height: 1.5rem;">
                            <span>{{ bid.company.name }}</span>
                        </span>
                        {% if bid.duplicated %}
                            <span class="badge bg-danger me-1" data-bs-toggle="tooltip" title="{% trans 'DUPLICATED' %}">
                                <i class="{{ bicons.duplicate }}"></i>
                                <span>{% trans 'DUPLICATED' %}</span>
                            </span>
                        {% endif %}
                        <span class="badge bg-{{ bid.tag_tint }} small me-1">{{ bid.tag_display }}</span>
                        {% if bid.date_submitted %}
                            <span class="small"  data-bs-toggle="tooltip" title="{% trans 'Submitted date' %}">
                                <i class="{{ bicons.bid }} small text-secondary me-1"></i>
                                <span class="text-secondary me-2 ">{{ bid.date_submitted.date|default:'-' }}</span>
                            </span>
                        {% endif %}
                    </span>
                </div>

                <div class="col-12 col-md-6 text-end oneline">
                    <div>
                        <span class="small fw-light badge bg-secondary me-1">E{{ bid.ratio_str|default:'?' }}</span>
                        <span><i class="{{ bicons.estimate }} small"></i></span>
                        <span class="fw-bold">{{ bid.bid_amount }}</span>
                    </div>
                </div>

            </div>              
        </div>

    </div>

</div>

