{% extends "allauth/layouts/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">        
            <h2>{% block form_title %}{% endblock %}</h2>
            <form method="post" class="allauth-form">
                {% csrf_token %}
                {% for field in form %}
                    {% include "account/allauth_field.html" with field=field %}
                {% endfor %}
                {% block extra_fields %}{% endblock %}
                <button type="submit" class="btn btn-primary">{% block submit_text %}{% trans "Submit" %}{% endblock %}</button>
            </form>
        </div>
    </div>
{% endblock %}