{% load i18n %}


<div class="row gx-4 gy-0 small">

    <div class="col-12">
        <div class="d-flex-inline my-1">
            <span class="badge bg-secondary">
                {{ lot.number }}
            </span>
            <span class="ms-1">
                {{ lot.title|default:'--' }}
            </span>
        </div>
    </div>

    {% if lot.description %}
        {% if lot.description != lot.title %}
            <div class="col-12">
                <div class="d-flex-inline my-1">
                    <span class="text-muted small fw-light">
                        {% trans 'Description' %}:
                    </span>
                    <span class="ms-1">
                        {{ lot.description }}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="col-12">
        <div class="">
            <span class="me-3 my-1">
                <span class="text-muted small fw-light">
                    <i class="bi bi-dash-lg"></i>
                    {% trans 'Estimate' %}:
                </span>
                <span class=" fw-bold">
                    {{ lot.estimate }}
                </span>
            </span>

            <span class="me-3 my-1">
                <span class="text-muted small fw-light">
                    <i class="bi bi-dash-lg"></i>
                    {% trans 'Guarantee' %}:
                </span>
                <span class="">
                    {{ lot.bond }}
                </span>
            </span>

            <span class="me-3 my-1">
                <span class="text-muted small fw-light">
                    <i class="bi bi-dash-lg"></i>
                    {% trans 'Category' %}:
                </span>
                <span class="">
                    {{ lot.category|default:tender.category.label|default:'?' }}
                </span>
            </span>

            <span class="me-3 my-1">
                <span class="text-muted small fw-light">
                    <i class="bi bi-dash-lg"></i>
                    {% trans 'Variant' %}:
                </span>
                <span class="">
                    {% if lot.variant %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                </span>
            </span>

            <span class="me-3 my-1">
                <span class="text-muted small fw-light">
                    <i class="bi bi-dash-lg"></i>
                    {% trans 'Reserved' %}:
                </span>
                <span class="">
                    {% if lot.reserved %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                </span>
            </span>
        </div>
    </div>

    {% if lot.agrements.all %}
        {% trans 'Required Licences' as agrements_caption %}
        {% include 'portal/snippets/lots/qu-ag.html' with caption=agrements_caption objects=lot.agrements.all %}
    {% endif %}

    {% if lot.qualifs.all %}
        {% trans 'Required Qualifications' as qualifs_caption %}
        {% include 'portal/snippets/lots/qu-ag.html' with caption=qualifs_caption objects=lot.qualifs.all %}
    {% endif %}

    {% if tender.has_samples %}
        {% trans 'Required Samples' as samples_caption %}
        {% include 'portal/snippets/lots/sa-me-vi.html' with caption=samples_caption objects=lot.samples.all %}
    {% endif %}

    {% if tender.has_meetings %}
        {% trans 'Scheduled Meetings' as meetings_caption %}
        {% include 'portal/snippets/lots/sa-me-vi.html' with caption=meetings_caption objects=lot.meetings.all %}
    {% endif %}

    {% if tender.has_visits %}
        {% trans 'Scheduled Visits' as visits_caption %}
        {% include 'portal/snippets/lots/sa-me-vi.html' with caption=visits_caption objects=lot.visits.all %}
    {% endif %}
</div>

