{% load i18n %}                    
<div class="col-12">
    <div class="d-flex-inline my-1">
        <div class="text-muted small fw-light">
            {{ caption }}:
        </div>
        <div class="ms-2">
            {% for object in objects %}
                <span class="">— {{ object.short }}: </span>
                <span class="small">{{ object.name }}</span><br>                                    
            {% empty %}
                <span class="fw-light small text-muted my-2">{% trans 'Not found' %}</span>
            {% endfor %}
        </div>
    </div>
</div>
