{% load i18n %}

<div class="text-center">

    <a class="m-1 btn btn-outline-primary" href="{% url 'bidding_bid_edit' bid.id %}">
        <span><i class="bi bi-pencil me-1"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Edit' %}</span>
    </a>

    <button type="button" class="btn btn-outline-danger" 
            data-bs-toggle="modal" data-bs-target="#bidDeleteModal">
        <span><i class="{{ bicons.delete }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Delete' %}</span>
    </button>
    
</div>