.git/
.venv/
.env
.env.*
*.sqlite3

emarches/__pycache__/
emarches/migrations

scraper/.env
scraper/.env.*
scraper/exports
scraper/logs
scraper/crony/.lock
scraper/__pycache__/

base/__pycache__/
base/migrations

authy/__pycache__/
authy/migrations
