{% load i18n humanize %}

<div id="company-{{ company.id }}-line">

    <a data-bs-toggle="collapse" href="#company-{{ company.id }}-collapse"
       role="button" aria-expanded="false" aria-controls="company-{{ company.id }}-collapse"
       class="text-decoration-none text-reset">

        <div id="company-{{ company.id }}-digest" class="p-2 {% if company.is_mine == False %}text-secondary{% endif %}">

            <div class="row my-1">
                <div class="col-12 col-md-6 text-start">
                    <div class="d-flex align-items-center">
                        <div data-bs-toggle="tooltip" 
                             title="{{ company.name }} | {{ company.ice }}"
                             style="min-width: 2.5rem;"
                             class="me-2">
                            <img src="{{ company.logo }}" alt="X"
                                class="img-fluid rounded rounded-circle" 
                                style="width: 2.5rem; height: 2.5rem;">
                        </div>
                        <div>
                            <div class="">{{ company.name }}</div>
                            <div class="fw-light small text-secondary oneline">
                                {% if company.is_mine %}
                                    <span class="me-2">{{ company.ice|default:'-' }}</span>
                                {% else %}
                                    <span class="me-2">@{{ company.user.username }}</span>
                                {% endif %}
                                
                                {% if company.qualifs.all|length > 0 %}
                                    <span class="me-2 small"
                                        data-bs-toggle="tooltip" title="{% trans 'Qualifications' %}">
                                        <i class="{{ bicons.qualifs_ico|default:'bi bi-dash-lg' }}"></i>
                                        <span>{{ company.qualifs.all|length }}</span>
                                    </span>
                                {% endif %}

                                {% if company.agrements.all|length > 0 %}
                                    <span class="me-2 small"
                                        data-bs-toggle="tooltip" title="{% trans 'Licences' %}">
                                        <i class="{{ bicons.agrements_ico|default:'bi bi-dash-lg' }}"></i>
                                        <span>{{ company.agrements.all|length }}</span>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 small text-end">
                    <div class="fw-light small text-secondary">

                        {% if company.expenses_sum %}
                            <span class="ms-2"
                                  data-bs-toggle="tooltip" title="{% trans 'Total expenses' %}">
                                <i class="{{ bicons.expense|default:'bi bi-dash-lg' }}"></i>
                                <span>{{ company.expenses_sum|metrify }}</span>
                            </span>
                        {% endif %}

                        {% if company.bids_sum %}
                            <span class="ms-2"
                                  data-bs-toggle="tooltip" title="{% trans 'Total submitted bids' %}">
                                <i class="{{ bicons.bidding|default:'bi bi-dash-lg' }}"></i>
                                <span>{{ company.bids_sum|metrify }}</span>
                            </span>
                        {% endif %}

                        {% if company.awards_sum %}
                            <span class="ms-2 text-success"
                                  data-bs-toggle="tooltip" title="{% trans 'Total awards' %}">
                                <i class="{{ bicons.winner|default:'bi bi-dash-lg' }}"></i>
                                <span>{{ company.awards_sum|metrify }}</span>
                            </span>
                        {% endif %}

                    </div>
                </div>
            </div>              

        </div>
    
    </a>

    <div id="company-{{ company.id }}-collapse" class="collapse px-2 ms-4 border-start">  

        <div id="company-{{ company.id }}-extended" class="mx-0 mb-3">
            
            {% if company.ice %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "ICE" %}:</span>
                    <span class="text-secondary">{{ company.ice|default:'-' }}</span>
                </div>
            {% endif %}

            {% if company.rc %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "RC" %}:</span>
                    <span class="text-secondary">{{ company.rc|default:'-' }}</span>
                </div>
            {% endif %}

            {% if company.city %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "City" %}:</span>
                    <span class="text-secondary">{{ company.city|default:'-' }}</span>
                </div>
            {% endif %}

            {% if company.activity %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "Main Activity" %}:</span>
                    <span class="text-secondary">{{ company.activity|default:'-' }}</span>
                </div>
            {% endif %}

            {% if company.email %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "Email" %}:</span>
                    <span class="text-secondary">{{ company.email|default:'-' }}</span>
                </div>
            {% endif %}


            {% if company.running_expirables.all %}
                <div class="">
                    <span class="fw-light small me-1">{% trans "Expirables" %}:</span>
                    {% for xp in company.running_expirables.all %}
                        <div class="ms-3 mb-2">
                            <div class="text-secondary">{{ xp.name|default:'?' }}: {{ xp.subject|default:'?' }}</div>
                            {% if xp.days_to_go %}
                                <div class="progress bg-danger p-0 m-0" 
                                        style="height: 0.25rem;"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Validity end' %}: {{ xp.validity_end|date }}">
                                    {% with xp.days_to_go|barify:365 as green %}
                                        <div class="progress-bar bg-success" 
                                                role="progressbar" style="width: {{ green }}%;" 
                                                aria-valuenow="{{ green }}" aria-valuemin="0" 
                                                aria-valuemax="100">
                                        </div>
                                    {% endwith %}
                                </div>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>
            {% endif %}

            {% if company.is_mine %}
                {% if company.file %}
                    <div class="">
                        <span class="fw-light small me-1">{% trans "Company files" %} ({{ company.files_size|filesizeformat }}):</span>
                        <span class=""><a href="{% url 'nas_company_file' company.id 'file' %}">{{ company.file_name }}</a></span>
                    </div>
                {% endif %}
            {% endif %}

            
        </div>
        
        <div id="company-{{ company.id }}-actions" class="text-end mx-0 mb-3">

            {% if company.is_mine %}
                <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" target="_blank" href="{% url 'nas_company_detail' company.id %}">
                    <span><i class="{{ bicons.details }}"></i></span>
                    <span class="ms-1">{% trans 'Company details' %}</span>
                </a>
            {% endif %}

            <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" target="_blank" href="{% url 'bidding_bids_list' %}?company={{ company.id }}">
                <span><i class="{{ bicons.bidding }}"></i></span>
                <span class="ms-1">{% trans 'Bids' %}</span>
            </a>

            <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" target="_blank" href="{% url 'bidding_bonds_list' %}?company={{ company.id }}">
                <span><i class="{{ bicons.bond }}"></i></span>
                <span class="ms-1">{% trans 'Bonds' %}</span>
            </a>

            <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" target="_blank" href="{% url 'bidding_expenses_list' %}?company={{ company.id }}">
                <span><i class="{{ bicons.expense }}"></i></span>
                <span class="ms-1">{% trans 'Expenses' %}</span>
            </a>

            <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" target="_blank" href="{% url 'bidding_tasks_list' %}?company={{ company.id }}">
                <span><i class="{{ bicons.task }}"></i></span>
                <span class="ms-1">{% trans 'Tasks' %}</span>
            </a>

        </div>

    </div>

</div>


