{% load i18n %}
<div class="mt-0">
    <div class="d-flex align-items-center">

        <div class="h4 pb-0">
            <span class=""><i class="{{ bicons.details }} me-1"></i></span>
            <span class="me-2">{% trans "Company details" %}</span>
        </div>

        <div>
            <a class="btn btn-sm btn-light mb-1 me-2" 
               href="{% url 'nas_company_edit' company.pk %}">
                <i class="{{ bicons.edit }} me-1"></i>
                <span>{% trans "Edit" %}</span>
            </a>
        </div>

    </div>
</div>

<div class="row gx-4 mt-1 ms-4">
    <div class="col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Name" %} - {% trans "Type" %}</div>
            <div class="mx-3">
                <span class="me-1">{{ company.name|default:'--' }}</span>
                <span class="small text-muted fw-light">{{ company.forme|default:'--' }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "ICE" %}</div>
            <div class="mx-3">{{ company.ice|default:'--' }}</div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Commerce Register ID" %}</div>
            <div class="mx-3">{{ company.rc|default:'--' }}</div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Email" %}</div>
            <div class="mx-3">{{ company.email|default:'--' }}</div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Website" %}</div>
            <div class="mx-3">{{ company.website|default:'--' }}</div>
        </div>
    </div>
    <div class="col-12">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Main activity" %}</div>
            <div class="mx-3">{{ company.activity|default:'--' }}</div>
        </div>
    </div>

    {% if company.file %}
        <div class="col-12">
            <div class="mt-3 border border-bottom border-0">
                <div class="small text-muted fw-light me-2">
                    <span>{% trans "Company file" %}</span> 
                    <span class="small text-secondary fw-bold">({{ company.files_size|filesizeformat }})</span>
                </div>
                <div class="mx-3"><a href="{% url 'nas_company_file' company.id 'file' %}">{{ company.file_name }}</a></div>
            </div>
        </div>
    {% endif %}

    <div class="col">
        <div class="mt-3 border border-bottom border-0">
            <div class="small text-muted fw-light me-2">{% trans "Note" %}</div>
            <div class="mx-3">{{ company.note|default:'--' }}</div>
        </div>
    </div>
</div>

