{% load static i18n %}

<div id="accordionExpirable">
    <div class="accordion mt-3">
        <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#expirablesCollapse" aria-expanded="false" aria-controls="expirablesCollapse">
                    <div class="w-100">
                        <span class="fs-6">
                            <span><i class="{{ bicons.deadline }}"></i></span>
                            <span class="ms-1">{% trans "Expirables" %}:</span>
                            <span class="ms-1 small fw-bold">{{ company.expirables_count }}</span>
                            <span class="small">/</span>
                            <span class="small fw-light">{{ company.expirables.all|length }}</span>
                        </span>
                    </div>
                </button>
            </h2>
            <div id="expirablesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExpirable">
                <div class="accordion-body p-0">
                    <div class="list-group mb-0">
                        {% for expirable in company.expirables.all %}
                            <div class="list-group-item-action border-bottom p-0">
                                {% include 'nas/snippets/expirables/expirable-item.html' with expirable=expirable company=company %}
                            </div>
                        {% empty %}
                            <div class="list-group-item-action p-2 text-secondary">
                                <span class="ms-1">{% trans "None found" %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 mt-2 text-end">
        <span class="">
            <a class="btn btn-sm btn-outline-primary mb-1 ms-2" href="{% url 'nas_expirable_create' company.id %}"><i class="{{ bicons.create }} me-2"></i>{% trans "New" %}</a>
        </span>
    </div>
</div>

