{% load static i18n %}


<div id="accordionQualifs">
    <div class="accordion mt-3">
        <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#qualifsCollapse" aria-expanded="false" aria-controls="qualifsCollapse">
                    <div class="w-100">
                        <span class="fs-6">
                            <span><i class="{{ bicons.qualifs_ico }}"></i></span>
                            <span class="ms-1">{% trans "Qualifications" %}:</span>
                            <span class="ms-1 small fw-bold">{{ company.qualifs.all|length }}</span>
                        </span>
                    </div>
                </button>
            </h2>
            <div id="qualifsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionQualifs">
                <div class="accordion-body p-0">
                    <div class="list-group mb-0">
                        {% for qualif in company.qualifs.all %}
                            <div class="list-group-item list-group-item-action p-2">
                                <div class="d-flex">
                                    <div id="img-preview" class="d-inline-block ratio ratio-1x1 border rounded-circle text-center mb-1" style="max-width: 1.5rem; max-height: 1.5rem;">
                                        <span class="">{{ qualif.short.0|default:'Q' }}</span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="my-0">
                                            <span class="badge bg-secondary">{{ qualif.short }}</span>
                                            <span class="badge bg-success">{{ qualif.classe }}</span>
                                            <span>{{ qualif.name|default:'-' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="list-group-item-action p-2 text-secondary">
                                <span class="ms-1">{% trans "None found" %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 mt-2 text-end">
        <span class="">
            <a class="btn btn-sm btn-outline-primary mb-1 ms-2" href="{% url 'nas_company_qualifs' company.id %}"><i class="{{ bicons.edit }} me-2"></i>{% trans "Manage" %}</a>
        </span>
    </div>
</div>

