{% load static i18n %}

<div id="accordionSignatureKeys">
    <div class="accordion mt-3">
        <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#signature_keysCollapse" aria-expanded="false" aria-controls="signature_keysCollapse">
                    <div class="w-100">
                        <span class="h4">
                            <span><i class="{{ bicons.esign }}"></i></span>
                            <span class="ms-1">{% trans "Signature Keys" %}:</span>
                            <span class="ms-1 small fw-bold">{{ company.signature_keys_count }}</span>
                            <span class="small">/</span>
                            <span class="ms-1 small">{{ company.signature_keys.all|length }}</span>
                        </span>
                    </div>
                </button>
            </h2>
            <div id="signature_keysCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionSignatureKeys">
                <div class="accordion-body p-0">
                    <div class="list-group mb-0">
                        {% for signature_key in company.signature_keys.all %}
                            <div class="list-group-item-action border-bottom p-0">
                                {% include 'nas/snippets/signature_keys/signature_key-item.html' with signature_key=signature_key company=company %}
                            </div>
                        {% empty %}
                            <div class="list-group-item-action p-2 text-secondary">
                                <span class="ms-1">{% trans "None found" %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 mt-2 text-end">
        <span class="">
            <a class="btn btn-sm btn-outline-primary mb-1 ms-2" href="{% url 'nas_signature_key_create' company.id %}"><i class="{{ bicons.create }} me-2"></i>{% trans "New" %}</a>
        </span>
    </div>
</div>

