{% extends 'base/base.html' %}
{% load i18n static %}
{% load paraminos %}


{% block title %}
    {% trans "Tenders Details" %}
{% endblock title %}

{% block content %}
    <h3>{% trans "Tenders Details" %}</h3>

    {% if tender.cancelled %}
        <div class="my-3" id="tender-cancelled-top" >
            <div class="text-bg-danger rounded text-center my-2">
                <div class="fw-bold p-1">
                    {% trans 'CANCELLED' %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if tender.expired %}
        <div class="my-3" id="tender-expired-top" >
            <div class="text-bg-secondary rounded text-center my-2">
                <div class="fw-bold p-1">
                    {% trans 'EXPIRED' %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="my-3" id="tender-details">
        <div class="row gx-4 gy-0">

            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Object' %}
                    </div>
                    <div class="ms-4 fw-bold 
                                {% if tender.cancelled %}text-danger{% endif %}
                                ">
                        {{ tender.title }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Public Client' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.client.name }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Deadline' %}
                    </div>
                    <div class="ms-4">
                        <span>{{ tender.deadline }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Time to Deadline' %}
                    </div>
                    <span class="ms-4 fw-bold
                                    {% if tender.expired %}
                                    text-danger
                                {% endif %}">
                        {{ tender.days_to_go }} {% trans 'days' %}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Total Estimate' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.estimate }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Total Guarantee' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.bond }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Reference' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.reference }}
                    </div>
                </div>
            </div>
            <!-- {% if tender.lots.count > 1 %}
                <div class="col-12 col-md-6">
                    <div class="d-flex-inline my-3 border-0 border-bottom">
                        <div class="text-muted small fw-light">
                            {% trans 'Lots' %}
                        </div>
                        <div class="ms-4">
                            {{ tender.lots_count }}
                        </div>
                    </div>
                </div>
            {% endif %} -->

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Published' %}
                    </div>
                    <div class="ms-4">
                        <span>{{ tender.published }}</span>
                    </div>
                </div>
            </div>

            {% if tender.plans_price > 0 %}
                <div class="col-12 col-md-6">
                    <div class="d-flex-inline my-3 border-0 border-bottom">
                        <div class="text-muted small fw-light">
                            {% trans 'Price of Plans' %}
                        </div>
                        <div class="ms-4">
                            {{ tender.plans_price }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Main Category' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.category.label }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Execution Location' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.location }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Procedure' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.procedure.name }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Awarding Mode' %}
                    </div>
                    <div class="ms-4">
                        {{ tender.mode.name }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Electronic bidding' %}
                    </div>
                    <div class="ms-4">
                        {% if tender.ebid == 1 %}
                            {% trans 'Required' %}
                        {% elif tender.ebid == 0 %}
                            {% trans 'Optional' %}
                        {% else %}
                            {% trans 'Not Applicable' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Electronic signature' %}
                    </div>
                    <div class="ms-4">
                        {% if tender.esign == 1 %}
                            {% trans 'Required' %}
                        {% elif tender.esign == 0 %}
                            {% trans 'Optional' %}
                        {% else %}
                            {% trans 'Not Applicable' %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Reserved to SMBs, individuals, Unions, ...' %}
                    </div>
                    <div class="ms-4">
                        {% if tender.reserved %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Variants accepted' %}
                    </div>
                    <div class="ms-4">
                        {% if tender.variant %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                    </div>
                </div>
            </div>
            {% if tender.domains.all %}
                <div class="col-12">
                    <div class="d-flex-inline my-3 border-0 border-bottom">
                        <div class="text-muted small fw-light">
                            {% trans 'Domains of activity' %}
                        </div>
                        <div class="ms-4">
                            {% for domain in tender.domains.all %}
                                <span class="small">— {{ domain.name }}</span><br>
                            {% empty %}
                                <span class="fw-light small text-muted">{% trans 'Not found' %}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if tender.lots.count == 1 %}
                {% if tender.has_agrements %}
                    {% trans 'Required Licences' as agrements_caption %}
                    {% include 'portal/snippets/tenders/qu-ag.html' with caption=agrements_caption objects=tender.lots.first.agrements.all %}
                {% endif %}

                {% if tender.has_qualifs %}
                    {% trans 'Required Qualifications' as qualifs_caption %}
                    {% include 'portal/snippets/tenders/qu-ag.html' with caption=qualifs_caption objects=tender.lots.first.qualifs.all %}
                {% endif %}

                {% if tender.has_samples %}
                    {% trans 'Required Samples' as samples_caption %}
                    {% include 'portal/snippets/tenders/sa-me-vi.html' with caption=samples_caption objects=tender.lots.first.samples.all %}
                {% endif %}

                {% if tender.has_meetings %}
                    {% trans 'Scheduled Meetings' as meetings_caption %}
                    {% include 'portal/snippets/tenders/sa-me-vi.html' with caption=meetings_caption objects=tender.lots.first.meetings.all %}
                {% endif %}

                {% if tender.has_visits %}
                    {% trans 'Scheduled Visits' as visits_caption %}
                    {% include 'portal/snippets/tenders/sa-me-vi.html' with caption=visits_caption objects=tender.lots.first.visits.all %}
                {% endif %}
            {% endif %}
            
            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Withdrawal Address' %}
                    </div>
                    <div class="ms-4 small">
                        {{ tender.address_withdrawal }}
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Bidding Address' %}
                    </div>
                    <div class="ms-4 small">
                        {{ tender.address_bidding }}
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Awaeding Address' %}
                    </div>
                    <div class="ms-4 small">
                        {{ tender.address_opening }}
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Contact' %}
                    </div>
                    <div class="ms-4">
                        {% if tender.contact_name and tender.contact_name != '-' %}
                            <span class="me-1 mb-1">{{ tender.contact_name }}</span>
                        {% endif %}
                        {% if tender.contact_phone and tender.contact_phone != '-' %}
                            <span class="me-1 small">
                                <a href="tel:{{ tender.contact_phone }}" 
                                class="btn btn-sm mb-1 btn-outline-secondary">
                                    <i class="bi bi-telephone"></i>
                                    {{ tender.contact_phone }}
                                </a>
                            </span>
                        {% endif %}
                        {% if tender.contact_email and tender.contact_email != '-' %}
                            <span class="me-1 small">
                                <a href="mailto:{{ tender.contact_email }}" 
                                class="btn btn-sm mb-1 btn-outline-secondary">
                                    <i class="bi bi-envelope"></i>
                                    {{ tender.contact_email }}
                                </a>
                            </span>
                        {% endif %}
                        {% if tender.contact_fax and tender.contact_fax != '-' %}
                            <span class="me-1 small">
                                <a href="tel:{{ tender.contact_fax }}" 
                                class="btn btn-sm mb-1 btn-outline-secondary">
                                    <i class="bi bi-printer"></i>
                                    {{ tender.contact_fax }}
                                </a>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="my-3" id="tender-meta" >
        <div class="row gx-4 gy-0">
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Created' %}
                    </div>
                    <div class="ms-4 small">
                        {{ tender.created }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Database ID' %}
                    </div>
                    <div class="ms-4 small">
                        <span>{{ tender.id }}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Last updated' %}
                    </div>
                    <div class="ms-4 small">
                        <span>{{ tender.updated }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex-inline my-3 border-0 border-bottom">
                    <div class="text-muted small fw-light">
                        {% trans 'Time on display' %}
                    </div>
                    <div class="ms-4 small">
                        {{ tender.days_span }} {% trans 'days' %}
                    </div>
                </div>
            </div>

            {% if tender.changes.all %}                
                <div class="col-12">
                    <div class="d-flex-inline my-3 border-0 border-bottom">
                        <div class="text-muted small fw-light">
                            {% trans 'Tender Changes' %}
                        </div>
                        <div class="ms-4 small">
                            {% for change in tender.changes.all  %}
                                <div class="mt-2">
                                    <span class=""
                                           data-bs-toggle="tooltip" 
                                           title="{% trans 'Reported' %}: {{ change.reported }}">
                                        — {{ change.reported|date }}:
                                    </span>
                                    <span class="">
                                        {% for mod in change.changes|dictify %}
                                            <span class="ms-2" data-bs-toggle="tooltip" 
                                                title="{{ mod.old_value|default:'-' }} &#10230; {{ mod.new_value|default:'-' }}">
                                                <i class="bi bi-activity"></i> {{ mod.field }}
                                            </span>
                                            <!-- &gt;&gt; 10230 129050 129054 129062 129106 11142 -->
                                        {% endfor %}
                                    </span><br>
                                </div>
                            {% empty %}
                                <span class="fw-light small text-muted mt-2">{% trans 'Not found' %}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if tender.cancelled %}
        <div class="my-3" id="tender-cancelled-bottom" >
            <div class="text-bg-danger rounded text-center my-2">
                <div class="fw-bold p-1">
                    {% trans 'CANCELLED' %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="my-3" id="tender-actions" >
        <div class="text-center">
            {% if tender.lots_count > 1 %}
                <span>
                    <button type="button" class="m-1 btn btn-outline-primary" 
                            data-bs-toggle="modal" data-bs-target="#t{{ tender.chrono }}m">
                        <span><i class="bi bi-{{ bicons.multi_lots }}"></i></span>
                        <span class="fw-bold">{{ tender.lots_count }}</span>
                        <span class="ms-1">{% trans "Lots details" %}</span>
                        
                    </button>
                    <span class="text-start">
                        {% include 'portal/snippets/lots/lots-details.html' with chrono=tender.chrono lots=tender.lots.all %}
                    </span>
                </span>
            {% endif %}
            <a href="javascript:"
               class="m-1 btn btn-outline-primary">
                <span><i class="bi bi-{{ bicons.downloads }}"></i></span>
                <span class="ms-1 fw-bold">{{ total_size|filesizeformat }}</span>
                <span class="ms-1">{% trans 'Download' %}</span>
            </a>

            <!-- <a href="javascript:" class="m-1 btn btn-outline-primary">{% trans 'Bookmark' %}</a> -->

            <a target="_blank"
               href="{{ link_prefix }}{{ tender.link }}"
               class="m-1 btn btn-outline-primary">
                <span><i class="bi bi-{{ bicons.bidding }}"></i></span>
                <span class="ms-1">{% trans 'Bid' %}</span>
            </a>
            <!--
                Modal to say:
                We don't handle bidding process automatically.
                We can provide paid support separately (eSign, preparation, ...).
                Go to portal: Good luck.
                Contact us: $200 and if won: +1.5%
            -->
        </div>
        <div class="my-4" id="files-list">
            {% for file_item in files_info %}
                <p>{{ file_item.size|filesizeformat }} = {{ file_item.name }} - {{ file_item.priv }}</p>
            {% empty %}
                <p class="text-danger">No files found.</p>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


<!-- 
Chrono: 917273
Size_Read: 120,18 M
Size_Bytes: 126014292

Contact_Name: Brahim ARCHICH
Contact_Phone: 05 22 75 45 01 à 06
Contact_Email: archich@onee.ma
Contact_Fax: 05 22 75 47 14

Link: 917273&orgAcronyme=d4q
 -->