{% extends 'base/base.html' %}
{% load i18n static %}
{% load paraminos %}
{% load humanize %}
{% load tz %}
{% load groupify %}

{% block title %}
    {% trans "Tender Details" %}
{% endblock title %}

{% block content %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span id="faved" class="me-2 p-2 badge text-bg-success {% if not favorited %}d-none{% endif %}">
                <span class="">
                    <i class="{{ bicons.favorited }}"></i>
                    <span class="d-none d-md-inline">{% trans "FAVORITE" %}</span>
                </span>
            </span>
            <span class="h3">{% trans "Tender Details" %}</span>
        </div>
    </div>

    {% if not tender.expired %}
        <div class="col-12 mb-3">
            <div class="progress bg-danger p-0 mx-0 my-1" 
                style="max-height: 0.2rem;"
                data-bs-toggle="tooltip"
                title="{% trans 'Bidding deadline' %}: {{ tender.deadline }}">
                {% with tender.days_to_go|progrefy:full_bar_days as green %}
                    <div class="progress-bar bg-success" 
                        role="progressbar" style="width: {{ green }}%;" 
                        aria-valuenow="{{ green }}" aria-valuemin="0" 
                        aria-valuemax="100">
                    </div>
                {% endwith %}
            </div>
        </div>
    {% endif %}

    {% if tender.cancelled %}
        <div class="my-3" id="tender-cancelled-top" >
            <div class="text-bg-danger rounded text-center my-2">
                <div class="fw-bold p-1">
                    {% trans 'CANCELLED' %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if tender.expired %}
        <div class="my-3" id="tender-expired-top" >
            <div class="text-bg-secondary rounded text-center my-2">
                <div class="fw-bold p-1">
                    <span><i class="{{ bicons.expired }} me-1"></i></span>
                    <span>{% trans 'EXPIRED' %}</span>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'portal/snippets/tenders/tender-actions.html' %}


    <div class="my-3" id="tender-details">
        <div class="row gx-4 gy-0">
            
            {% trans 'Object' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-title' val_value=tender.title key_value=key_value uni_value='' ico_class=bicons.title full_width='yes' val_class='fw-bold' border='bottom' liner='threelines' %}
            
            {% trans 'Public Client' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-client' val_value=tender.client.name key_value=key_value uni_value='' ico_class=bicons.client full_width='yes' val_class='' border='bottom' liner='oneline' %}

            {% trans 'Time to Deadline' as key_value %}
            {% trans 'days' as unit %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-days_to_go' val_value=tender.days_to_go key_value=key_value uni_value=unit ico_class=bicons.days_to_go val_class='' border='bottom' liner='oneline' %}
            
            {% timezone "Africa/Casablanca" %}
                {% trans 'Deadline' as key_value %}
                {% trans 'Morocco time' as unit %}
                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-deadline' val_value=tender.deadline key_value=key_value uni_value=unit ico_class=bicons.deadline val_class='fw-bold' border='bottom' liner='oneline' %}
            {% endtimezone %}

            {% trans 'Total Estimate' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-estimate' val_value=tender.estimate key_value=key_value uni_value='' ico_class=bicons.estimate val_class='fw-bold' border='bottom' liner='oneline' %}
            
            {% trans 'Total Guarantee' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-bond' val_value=tender.bond key_value=key_value uni_value='' ico_class=bicons.bond val_class='' border='bottom' liner='oneline' %}
            
            {% trans 'Reference' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-reference' val_value=tender.reference key_value=key_value uni_value='' ico_class=bicons.reference val_class='' border='bottom' liner='oneline' %}
            
            {% trans 'Published' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-published' val_value=tender.published key_value=key_value uni_value='' ico_class=bicons.published val_class='' border='bottom' liner='oneline' %}

            {% trans 'Main Category' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-category' val_value=tender.category.label key_value=key_value uni_value='' ico_class=bicons.category val_class='' border='bottom' liner='oneline' %}

            {% trans 'Execution Location' as key_value %}
            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-location' val_value=tender.location key_value=key_value uni_value='' ico_class=bicons.location val_class='' border='bottom' liner='oneline' %}
        </div>

        <div>
            <div class="row gx-4 gy-0">
                {% trans 'Procedure' as key_value %}
                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-procedure' val_value=tender.procedure.name key_value=key_value uni_value='' ico_class=bicons.procedure val_class='' border='bottom' liner='' %}

                {% trans 'Awarding Mode' as key_value %}
                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-mode' val_value=tender.mode.name key_value=key_value uni_value='' ico_class=bicons.mode val_class='' border='bottom' liner='' %}

                {% trans 'Electronic bidding' as key_value %}
                {% with translated_value="" %}
                    {% if tender.ebid == 1 %}
                        {% trans 'Required' as translated_value %}
                    {% elif tender.ebid == 0 %}
                        {% trans 'Optional' as translated_value %}
                    {% else %}
                        {% trans 'Not Applicable' as translated_value %}
                    {% endif %}
                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-ebid' val_value=translated_value key_value=key_value uni_value='' ico_class=bicons.ebid val_class='' border='bottom' liner='' %}
                {% endwith %}

                {% trans 'Electronic signature' as key_value %}
                {% with translated_value="" %}
                    {% if tender.esign == 1 %}
                        {% trans 'Required' as translated_value %}
                    {% elif tender.esign == 0 %}
                        {% trans 'Optional' as translated_value %}
                    {% else %}
                        {% trans 'Not Applicable' as translated_value %}
                    {% endif %}
                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-esign' val_value=translated_value key_value=key_value uni_value='' ico_class=bicons.esign val_class='' border='bottom' liner='' %}
                {% endwith %}

                {% trans 'Reserved to SMBs, individuals, Unions, ...' as key_value %}
                {% with translated_value="" %}
                    {% if tender.reserved %}
                        {% trans 'Yes' as translated_value %}
                    {% else %}
                        {% trans 'No' as translated_value %}
                    {% endif %}
                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-reserved' val_value=translated_value key_value=key_value uni_value='' ico_class=bicons.reserved_ico val_class='' border='bottom' liner='' %}
                {% endwith %}

                {% trans 'Variants accepted' as key_value %}
                {% with translated_value="" %}
                    {% if tender.variant %}
                        {% trans 'Yes' as translated_value %}
                    {% else %}
                        {% trans 'No' as translated_value %}
                    {% endif %}
                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-variant' val_value=translated_value key_value=key_value uni_value='' ico_class=bicons.variant_ico val_class='' border='bottom' liner='' %}
                {% endwith %}

                {% if tender.plans_price > 0 %}
                    {% trans 'Price of Plans' as key_value %}
                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-plans_price' val_value=tender.plans_price key_value=key_value uni_value='' ico_class=bicons.plans_price val_class='' border='bottom' liner='' %}
                {% endif %}


                {% if tender.lots.count == 1 %}
                    {% if tender.lots.first.agrements.all %}
                        {% trans 'Required Licences' as agrements_caption %}
                        {% include 'portal/snippets/tenders/qu-ag.html' with caption=agrements_caption objects=tender.lots.first.agrements.all kind='agrement' ico_class=bicons.agrements_ico val_class='small' border='bottom' liner='' %}
                    {% endif %}

                    {% if tender.lots.first.qualifs.all %}
                        {% trans 'Required Qualifications' as qualifs_caption %}
                        {% include 'portal/snippets/tenders/qu-ag.html' with caption=qualifs_caption objects=tender.lots.first.qualifs.all kind='qualif' ico_class=bicons.qualifs_ico val_class='small' border='bottom' liner='' %}
                    {% endif %}

                    {% timezone "Africa/Casablanca" %}
                        {% trans 'Morocco time' as unit %}
                        {% if tender.lots.first.samples.all %}
                            {% trans 'Required Samples' as samples_caption %}
                            {% include 'portal/snippets/tenders/qu-ag.html' with caption=samples_caption|add:' - '|add:unit objects=tender.lots.first.samples.all kind='sample' ico_class=bicons.samples_ico val_class='small' border='bottom' liner='' %}
                        {% endif %}

                        {% if tender.lots.first.meetings.all %}
                            {% trans 'Scheduled Meetings' as meetings_caption %}
                            {% include 'portal/snippets/tenders/qu-ag.html' with caption=meetings_caption|add:' - '|add:unit objects=tender.lots.first.meetings.all kind='meeting' ico_class=bicons.meetings_ico val_class='small' border='bottom' liner='' %}
                        {% endif %}

                        {% if tender.lots.first.visits.all %}                    
                            {% trans 'Scheduled Visits' as visits_caption %}
                            {% include 'portal/snippets/tenders/qu-ag.html' with caption=visits_caption|add:' - '|add:unit objects=tender.lots.first.visits.all kind='visit' ico_class=bicons.visits_ico val_class='small' border='bottom' liner='' %}
                        {% endif %}
                    {% endtimezone %}
                {% endif %}


                {% if tender.lots_count > 1 %}
                    <div class="accordion my-3" id="accordionLots">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lotsCollapse" aria-expanded="true" aria-controls="lotsCollapse">
                                    <span><i class="{{ bicons.multi_lots }}"></i></span>
                                    <span class="fw-bold ms-1">{{ tender.lots_count }}</span>
                                    <span class="ms-2 fw-light">{% trans "Lots details" %}</span>
                                </button>
                            </h2>
                            <div id="lotsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionLots">
                                <div class="accordion-body p-0">
                                                                        
                                    <table class="table table-hover mb-0">
                                        <tbody>
                                            {% for lot in tender.lots.all %}
                                                <tr>
                                                    <td class="p-3">
                                                        {% include 'portal/snippets/lots/lot-details.html' with lot=lot %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if tender.domains.all %}
                    <div class="accordion my-3" id="accordionDomains">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domainsCollapse" aria-expanded="true" aria-controls="domainsCollapse">
                                    <span><i class="{{ bicons.domains }}"></i></span>
                                    <span class="fw-bold ms-1">{{ tender.domains.count }}</span>
                                    <span class="ms-2 fw-light">{% trans "Domains of activity" %}</span>
                                </button>
                            </h2>
                            <div id="domainsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionDomains">
                                <div class="accordion-body p-0">
                                    <table class="table table-hover small mb-0">
                                        <tbody>
                                            {% for domain in tender.domains.all %}
                                                <tr>
                                                    <td class="p-3">
                                                        <span>{{ domain.name }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>                             
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}


                <div class="accordion my-3" id="accordionContact">
                    <div class="accordion-item shadow-sm">
                        <h2 class="accordion-header">
                            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contactCollapse" aria-expanded="true" aria-controls="contactCollapse">
                                <span><i class="{{ bicons.address }}"></i></span>
                                <span><i class="{{ bicons.contact }}"></i></span>
                                <span class="ms-2 fw-light">{% trans "Addresses and Contact" %}</span>
                            </button>
                        </h2>
                        <div id="contactCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionContact">
                            <div class="accordion-body py-0 px-3">
                                <div class="row gx-3 gy-1 small">
                                    {% trans 'Withdrawal Address' as key_value %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.address_withdrawal|add:'-withdrawal' val_value=tender.address_withdrawal key_value=key_value ico_class=bicons.address val_class='' full_width='yes' border='bottom' liner='' %}
                                    
                                    {% trans 'Bidding Address' as key_value %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.address_bidding|add:'-bidding' val_value=tender.address_bidding key_value=key_value ico_class=bicons.address val_class='' full_width='yes' border='bottom' liner='' %}
                                    
                                    {% trans 'Opening Address' as key_value %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.address_opening|add:'-opening' val_value=tender.address_opening key_value=key_value ico_class=bicons.address val_class='' full_width='yes' border='bottom' liner='' %}
                                    
                                    {% trans 'Person' as key_value %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-contact_name' val_value=tender.contact_name key_value=key_value uni_value=uni_value ico_class=bicons.contact val_class='' border='bottom' liner='' %}
                                    
                                    {% if tender.contact_phone and tender.contact_phone != '-' %}                                        
                                        {% trans 'Phone' as key_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-contact_phone' val_value=tender.contact_phone key_value=key_value uni_value=uni_value ico_class='bi bi-telephone' val_class='' border='bottom' liner='' %}
                                    {% endif %}

                                    {% if tender.contact_email and tender.contact_email != '-' %}                                        
                                        {% trans 'Email' as key_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-contact_email' val_value=tender.contact_email key_value=key_value uni_value=uni_value ico_class='bi bi-envelope' val_class='' border='bottom' liner='' %}
                                    {% endif %}

                                    {% if tender.contact_fax and tender.contact_fax != '-' %}                                        
                                        {% trans 'Fax' as key_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-contact_fax' val_value=tender.contact_fax key_value=key_value uni_value=uni_value ico_class='bi bi-printer' val_class='' border='bottom' liner='' %}
                                    {% endif %}

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                {% if tender.changes.all %}
                    <div class="accordion my-3" id="accordionChanges">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#changesCollapse" aria-expanded="true" aria-controls="changesCollapse">
                                    <span><i class="{{ bicons.changes }}"></i></span>
                                    <span class="fw-bold ms-1">{{ tender.changes.count }}</span>
                                    <span class="ms-2 fw-light">{% trans "Changes" %}</span>
                                    <span><i class="bi bi-exclamation-diamond px-1 ms-2 small fw-light text-warning"> {% trans "Experimental" %}</i></span>
                                </button>
                            </h2>
                            <div id="changesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionChanges">
                                <div class="accordion-body small p-0">
                                    <table class="table table-hover small mb-0">
                                        <tbody>
                                            {% trans 'None' as empty %}
                                            {% for change in tender.changes.all %}
                                                {% for mod in change.changes|dictify %}
                                                    <tr>
                                                        <td class="p-3">
                                                            <i class="bi bi-clock"></i>
                                                            <span>{{ change.reported }}</span>
                                                            <i class="{{ bicons.changes }} ms-2"></i>
                                                            <span class="fw-bold">{{ mod.field }}</span>
                                                            <i class="bi bi-eraser ms-2"></i>
                                                            <span class="text-muted">{{ mod.old_value|default:empty }}</span>
                                                            <i class="bi bi-pen ms-2"></i>
                                                            <span class="fw-bold">{{ mod.new_value|default:empty }}</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>                                                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="accordion my-3" id="accordionMeta">
                    <div class="accordion-item shadow-sm">
                        <h2 class="accordion-header">
                            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#metaCollapse" aria-expanded="true" aria-controls="metaCollapse">
                                <span><i class="{{ bicons.database }}"></i></span>
                                <span class="ms-2 fw-light">{% trans "Advanced data" %}</span>
                            </button>
                        </h2>
                        <div id="metaCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionMeta">
                            <div class="accordion-body py-0 px-3">
                                <div class="row gx-3 gy-1">
                                    {% timezone "UTC" %}
                                        {% trans 'Created' as key_value %}
                                        {% trans 'UTC' as unit %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-created' val_value=tender.created key_value=key_value uni_value=unit ico_class=bicons.created val_class='text-muted small' border='bottom' liner='' %}
                                    {% endtimezone %}
                                    
                                    {% timezone "UTC" %}
                                        {% trans 'UTC' as unit %}
                                        {% trans 'Last updated' as key_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-updated' val_value=tender.updated key_value=key_value uni_value=unit ico_class=bicons.updated val_class='text-muted small' border='bottom' liner='' %}
                                    {% endtimezone %}

                                    {% trans 'Time on display' as key_value %}
                                    {% trans 'days' as uni_value %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-days_span' val_value=tender.days_span key_value=key_value uni_value=uni_value ico_class=bicons.days_span val_class='text-muted small' border='bottom' liner='' %}

                                    {% trans 'Guarantee ratio' as key_value %}
                                    {% with tender.bond_ratio|floatformat:3 as val_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-bond_ratio' val_value=val_value key_value=key_value uni_value='%' ico_class=bicons.ratio val_class='text-muted small' border='bottom' liner='' %}
                                    {% endwith %}

                                    {% if aliens_attack %}
                                        {% trans 'Database ID' as key_value %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-id' val_value=tender.id key_value=key_value uni_value='' ico_class=bicons.hash val_class='text-muted small' border='bottom' liner='' %}
                                    {% endif %}

                                    {% trans 'Views' as key_value %}
                                    {% with count=tender.views.all|length|metrify:0 %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-views' val_value=count key_value=key_value uni_value='' ico_class=bicons.views val_class='text-muted small' border='bottom' liner='' %}
                                    {% endwith %}
                                    {% if tender.views.all %}
                                        {% trans 'Latest view since' as key_value %}
                                        {% with latest=tender.views.first.when|timesince %}
                                            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-latest' val_value=latest key_value=key_value uni_value='' ico_class=bicons.history val_class='text-muted small' border='bottom' liner='' %}
                                        {% endwith %}
                                    {% endif %}

                                    {% trans 'Downloads' as key_value %}
                                    {% with count=tender.downloads.all|length|metrify:0 %}
                                        {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-downloads' val_value=count key_value=key_value uni_value='' ico_class=bicons.downloads val_class='text-muted small' border='bottom' liner='' %}
                                    {% endwith %}
                                    {% if tender.downloads.all %}
                                        {% trans 'Latest download since' as key_value %}
                                        {% with latest=tender.downloads.first.when|timesince %}
                                            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-latest' val_value=latest key_value=key_value uni_value='' ico_class=bicons.history val_class='text-muted small' border='bottom' liner='' %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div id="resultsBookmark"></div>
                </div>

            </div>
        </div>
    </div>

    {% if tender.expired %}
        {% if tender.openings.all|length > 0 %}
            <div class="accordion my-3" id="accordionResults">
                <div class="accordion-item shadow-sm">
                    <h2 class="accordion-header">
                        <button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#resultsCollapse" aria-expanded="true" aria-controls="resultsCollapse">
                            <span><i class="{{ bicons.deliberated }}"></i></span>
                            <span class="ms-2 fw-light">{% trans "Awarding Minutes" %}</span>
                        </button>
                    </h2>
                    <div id="resultsCollapse" class="accordion-collapse collapse show" data-bs-parent="#accordionResults">
                        <div class="accordion-body p-2">
                            {% include 'portal/snippets/tenders/results-digest.html' %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="my-3">
                {% trans 'Awarding Minutes' as key_value %}
                {% trans 'No Minutes found' as value %}
                {% include 'base/snippets/ico-key-val.html' with id_value=tender.address_bidding|add:'-no-result' val_value=value key_value=key_value uni_value='' ico_class=bicons.deliberated val_class='text-danger small fw-light' full_width='yes' border='bottom' liner='' %}
            </div>
        {% endif %}
    {% endif %}


    {% if tender.cancelled %}
        <div class="my-3" id="tender-cancelled-bottom" >
            <div class="text-bg-danger rounded text-center my-2">
                <div class="fw-bold p-1">
                    {% trans 'CANCELLED' %}
                </div>
            </div>
        </div>
    {% endif %}
    
    {% with 'bottom' as position %}
        <div class="my-3" id="tender-actions" >
            <div class="text-center">
                {% include 'portal/snippets/tenders/tender-actions.html' %}
            </div>
        </div>
    {% endwith %}


    <div id="tender-modals">
        <div id="dceModal" class="modal fade" tabindex="-1" aria-labelledby="dceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="dceModalLabel">{% translate "Tender's files" %}</h1>
                    </div>
                    <div class="modal-body">

                        {% if files_info  %}
                            <div class="small text-muted my-2">{% translate "Once you click on an item, your browser or device should handle the download process." %}</div>
                            {% for f in files_info %}
                                <a id="dce-{{ tender.chrono }}000{{ forloop.counter }}"
                                class="text-decoration-none w-100 btn btn-outline-primary text-start mt-2" 
                                href="{% url 'portal_tender_get_file' tender.id f.name %}">
                                    <span class=""><i class="{{ bicons.downloads }}"></i></span>
                                    <span class="ms-1 badge text-bg-primary">{{ f.size|metrify:0 }}</span>
                                    <span class="ms-1">{{ f.name }}</span>
                                </a>
                            {% endfor %}
                        {% else %}
                        <div class="text-center mb-2">
                            <img class="img-fluid" style="max-height: 6rem;" src="{% static 'graphics/wheelbarrow.svg' %}" alt="X">
                        </div>
                        <div class="text-danger">{% translate "Files for this Tender are not ready, yet." %}</div>
                        <div class="small text-muted">{% translate "Please try again later, or contact us if this problem persists." %}</div>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        {% if files_info  %}
                            <a href="/base_legal'" target="_blank" class="btn btn-outline-secondary">
                                <span><i class="bi bi-shield-exclamation"></i></span>
                                <span class="ms-1">{% translate 'Legal Information' %}</span>
                            </a>
                        {% else %}
                            <a href="/base_contact" target="_blank" class="btn btn-outline-primary">
                                <span><i class="bi bi-send"></i></span>
                                <span class="ms-1">{% translate 'Contact Us' %}</span>
                            </a>
                        {% endif %}
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <span><i class="bi bi-x-lg"></i></span>
                            <span class="ms-1">{% translate 'Close' %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% include 'portal/snippets/tenders/tender-simulator-modal.html' %}

        <div id="bidConfirmModal" class="modal fade" 
            tabindex="-1" aria-labelledby="bidConfirmModalLabel" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="bidConfirmModalLabel">{% trans "Bidding process" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="small mb-2 text-muted">
                            {% trans "We provide Bidding Processing as a paid service. Please feel free to contact our support for more inforamtion" %}.
                        </div>

                        <a href="/contact"
                           class="btn btn-outline-success"data-bs-dismiss="modal"
                           onclick="window.open(this.href, '_blank');">
                            <span><i class="{{ bicons.support }}"></i></span>
                            <span class="ms-1">{% trans 'Support' %}</span>
                        </a>
                    </div>
                    <!-- bidding_bid_create -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <span><i class="{{ bicons.close }}"></i></span>
                            <span class="ms-1">{% trans 'Cancel' %}</span>
                        </button>
                        <a href="{% url 'bidding_bid_create' tender.id %}"
                           class="m-1 btn btn-outline-primary" data-bs-dismiss="modal"
                           onclick="window.open(this.href, '_blank');">
                            <span><i class="{{ bicons.bidding }}"></i></span>
                            <span class="ms-1">{% trans 'Create Bid' %}</span>
                        </a>
                        <a href="{{ link_prefix }}{{ tender.link }}"
                           class="m-1 btn btn-outline-primary" data-bs-dismiss="modal"
                           onclick="window.open(this.href, '_blank');">
                            <span><i class="{{ bicons.bidding }}"></i></span>
                            <span class="ms-1">{% trans 'Official Link' %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="advancedModal" class="modal fade" 
            tabindex="-1" aria-labelledby="advancedModalLabel" 
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="advancedModalLabel">{% trans "Advanced data" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body small">
                        <div class="row gx-4 gy-1">
                            {% timezone "UTC" %}
                                {% trans 'Created' as key_value %}
                                {% trans 'UTC' as unit %}
                                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-created' val_value=tender.created key_value=key_value uni_value=unit ico_class=bicons.created val_class='text-muted small' border='bottom' liner='' %}
                            {% endtimezone %}
                            
                            {% timezone "UTC" %}
                                {% trans 'UTC' as unit %}
                                {% trans 'Last updated' as key_value %}
                                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-updated' val_value=tender.updated key_value=key_value uni_value=unit ico_class=bicons.updated val_class='text-muted small' border='bottom' liner='' %}
                            {% endtimezone %}

                            {% trans 'Time on display' as key_value %}
                            {% trans 'days' as uni_value %}
                            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-days_span' val_value=tender.days_span key_value=key_value uni_value=uni_value ico_class=bicons.days_span val_class='text-muted small' border='bottom' liner='' %}

                            {% trans 'Guarantee ratio' as key_value %}
                            {% with tender.bond_ratio|floatformat:3 as val_value %}
                                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-bond_ratio' val_value=val_value key_value=key_value uni_value='%' ico_class=bicons.ratio val_class='text-muted small' border='bottom' liner='' %}
                            {% endwith %}

                            {% trans 'Database ID' as key_value %}
                            {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-id' val_value=tender.id key_value=key_value uni_value='' ico_class=bicons.hash val_class='text-muted small' border='bottom' liner='' %}
                            

                            {% trans 'Views' as key_value %}
                            {% with count=tender.views.all|length|metrify:0 %}
                                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-views' val_value=count key_value=key_value uni_value='' ico_class=bicons.views val_class='text-muted small' border='bottom' liner='' %}
                            {% endwith %}
                            {% if tender.views.all %}
                                {% trans 'Latest view since' as key_value %}
                                {% with latest=tender.views.first.when|timesince %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-latest' val_value=latest key_value=key_value uni_value='' ico_class=bicons.history val_class='text-muted small' border='bottom' liner='' %}
                                {% endwith %}
                            {% endif %}

                            {% trans 'Downloads' as key_value %}
                            {% with count=tender.downloads.all|length|metrify:0 %}
                                {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-downloads' val_value=count key_value=key_value uni_value='' ico_class=bicons.downloads val_class='text-muted small' border='bottom' liner='' %}
                            {% endwith %}
                            {% if tender.downloads.all %}
                                {% trans 'Latest download since' as key_value %}
                                {% with latest=tender.downloads.first.when|timesince %}
                                    {% include 'base/snippets/ico-key-val.html' with id_value=tender.chrono|add:'-latest' val_value=latest key_value=key_value uni_value='' ico_class=bicons.history val_class='text-muted small' border='bottom' liner='' %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <span><i class="{{ bicons.close }}"></i></span>
                            <span class="ms-1">{% trans 'Close' %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="changesModal" class="modal fade" 
            tabindex="-1" aria-labelledby="changesModalLabel" 
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changesModalLabel">{% trans "Found changes" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body small">
                        <div class="mb-3 p-1 border rounded bg-warning-subtle shadow shadow-sm">
                            <span><i class="bi bi-exclamation-diamond px-1"></i></span>
                            <span class="small fw-light text-muted">{% trans 'Changes are collected independantly and are prone to inaccuracies' %}.</span>
                        </div>
                        <table class="table table-hover small">
                            <tbody>
                                {% trans 'None' as empty %}
                                {% for change in tender.changes.all %}
                                    {% for mod in change.changes|dictify %}
                                        <tr>
                                            <td>
                                                <i class="bi bi-clock"></i>
                                                <span>{{ change.reported }}</span>
                                                <i class="{{ bicons.changes }} ms-2"></i>
                                                <span class="fw-bold">{{ mod.field }}</span>
                                                <i class="bi bi-eraser ms-2"></i>
                                                <span class="text-muted">{{ mod.old_value|default:empty }}</span>
                                                <!-- <span>&#10230;</span> -->
                                                <i class="bi bi-pen ms-2"></i>
                                                <span class="fw-bold">{{ mod.new_value|default:empty }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <span><i class="{{ bicons.close }}"></i></span>
                            <span class="ms-1">{% trans 'Close' %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% if files_info|length == 1 %}
        <script>
            document.getElementById('dce-{{ tender.chrono }}0001').addEventListener('click', () => {
                bootstrap.Modal.getInstance(document.getElementById('dceModal')).hide();
                document.getElementById('dceModal').classList.toggle('show');
            });
        </script>
    {% endif %}


    

    <div id="tosts-container" class="toast-container bottom-0 end-0 p-3" style="position: fixed; z-index: 99;">
            
        <div class="toast bg-success-subtle " id="favToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-success">
                    <strong class="me-auto" id="dlToastHeader">
                        {% trans "Item added to Favourites" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

        <div class="toast bg-success-subtle " id="defToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-success">
                    <strong class="me-auto" id="dlToastHeader">
                        {% trans "Item removed from Favourites" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

        <div class="toast bg-danger-subtle " id="failedToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-danger">
                    <strong class="me-auto" id="failedToastHeader">
                        {% trans "Operation failed" %}. {% trans "Please refresh the page or try again later" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 
                    
        <div class="toast bg-success-subtle " id="copyToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-success">
                    <strong class="me-auto" id="dlToastHeader">
                        {% trans "URL was copied to clipboard" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

    </div>


    <script>
        const azrems = document.querySelectorAll('.wait-azrem');
        
        function heartToggle(makas='fav') {
            azrems.forEach(azrem => { azrem.classList.remove('d-none'); });
            const token = document.getElementById('csrf_token').value;

            if (makas=='fav'){ url = "{% url 'portal_tender_favorite_add' tender.id %}"
            } else { url = "{% url 'portal_tender_favorite_remove' tender.id %}"}
            const xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('X-CSRFToken', token);
            xhr.setRequestHeader('Accept', 'text/plain');
            const fav_indicator = document.getElementById('faved')
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const buttons = document.querySelectorAll('.favorite-toggle');
                        buttons.forEach(button => { button.classList.toggle('d-none'); });
                        fav_indicator.classList.toggle('d-none');
                
                        if ( makas == 'fav' ) {
                            let favToast = document.getElementById('favToast');
                            let favAlert = new bootstrap.Toast(favToast);
                            favAlert.show();
                        }
                        if ( makas == 'unfav' ) {
                            const defToast = document.getElementById('defToast');
                            const defAlert = new bootstrap.Toast(defToast);
                            defAlert.show();
                        }
                    } else {
                        let failedToast = document.getElementById('failedToast');
                        let failedAlert = new bootstrap.Toast(failedToast);
                        failedAlert.show();
                        // alert('Operation Failed !')
                    }
                    azrems.forEach(azrem => { azrem.classList.add('d-none'); });
                }
            };
            xhr.onerror = function () {
                console.error('Network error while saving Favorite record');
            };

            xhr.send();
        }
    </script>
    <script>
        function sharePage(host='https://www.emarches.com') {
            const tender_id = "{{ tender.id|escapejs }}";    
            const baseUrl = `${host}/tenders/details/`;
            const fullUrl = baseUrl + tender_id + "/";
            const title = document.title;

            if (navigator.share) {
                navigator.share({
                    title: title,
                    url: fullUrl
                })
                .then(() => console.log('Shared successfully'))
                .catch((error) => console.error('Error sharing:', error));
            } else {
                navigator.clipboard.writeText(fullUrl)
                    .then(() => {
                        var toastElement = document.getElementById('copyToast');
                            var toast = new bootstrap.Toast(toastElement);
                            toast.show();
                    })
                    .catch((error) => console.error('Error copying URL:', error));
            }
        }
    </script>

    <script>
        const toastEls = document.getElementsByClassName('alert-dismissible');
        if (toastEls) {
            for (let i = 0; i < toastEls.length; i++) {
                const toastEl = toastEls[i];
                if (!toastEl.classList.contains('alert-danger')){
                    const timeout = 5000 + 1000*i;
                    let timeoutId;
                    let startTime;
                    let remainingTime = timeout;

                    const handleMouseEnter = () => {
                    clearTimeout(timeoutId);
                    startTime = Date.now();
                    };

                    const handleMouseLeave = () => {
                    const elapsedTime = Date.now() - startTime;
                    remainingTime -= elapsedTime;

                    if (remainingTime > 0) {
                        timeoutId = setTimeout(() => {
                        toastEl.style.display = 'none';
                        }, remainingTime);
                    } else {
                        toastEl.style.display = 'none';
                    }
                    };

                    const updateTimerDisplay = (elt) => {
                        if (elt){
                            elt.style.width = "${remainingTime/timeout}%";
                        }
                    };


                    toastEl.addEventListener('mouseenter', handleMouseEnter);
                    toastEl.addEventListener('mouseleave', handleMouseLeave);

                    timeoutId = setTimeout(() => {
                    toastEl.style.display = 'none';
                    }, timeout);
                }
            }
        }
    </script>


{% endblock content %}
