{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}
    {% trans "Tenders list" %}
{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between">
        <h3>{{ tenders.count }} {% trans "Tenders list" %}</h3>
        <div class="small text-muted">
            <span><i class="bi bi-hash"></i></span>
            <span>{{ tenders.count }}</span>
        </div>
    </div>
    {% for tender in tenders %}
        <div class="my-4">
            {% include 'portal/snippets/tenders/tender-summary.html' %}
        </div>
        
    {% empty %}
        {% trans "Nothing to show here !" %}
    {% endfor %}

    {% include 'base/snippets/paginator.html' %}
{% endblock content %}
