{% extends 'base/base.html' %}
{% load i18n static %}
{% load paraminos %}
{% load humanize %}
{% load tz %}

{% block title %}
    {% trans "Bidding Simulator" %}
{% endblock title %}

{% block content %}

    <div class="mb-3">
        <span class="h3 mb-0">{% trans "Bidding Simulator" %}
            {% if lot %}
                <span class="small ms-2">({% trans "Lot" %} {{ lot.number }})</span>
            {% endif %}
        </span>
        <!-- <span class="small ms-2"><i class="{{ bicons.estimate }}"></i></span>
        <span id="estimateValue" class="fw-bold text-muted ms-1"></span> -->
    </div>

    <div class="my-3" id="tender-details">

        <div class="d-flex mb-2 ms-3">
            <div>
                <button class="btn btn-sm btn-outline-secondary disabled"><i class="{{ bicons.estimate }}"></i>
                </button>
            </div>
            <div class="card shadow-sm px-2 w-100 ms-2 bg-secondary-subtle">
                <div class="d-flex justify-content-between">
                    <div class="mt-1 mb-0 small">
                        <span id="spanEsti" class="value"></span>
                        <span class="small ms-1">{% trans 'Estimate' %}</span>
                    </div>
                </div>
                <input id="sliderEsti" type="range" step="0" min="0" max="0" class="mb-1 mt-0" disabled>
            </div>
        </div>
        
        <div id="candidateList" class="ms-3 my-3"></div>

        <div class="d-flex mb-3 align-items-center">
            <div>
                <button id="addCandidate" class="btn btn-sm btn-outline-primary">
                    <span><i class="{{ bicons.plus }}"></i></span>
                    <span>{% trans 'Add Offer' %}</span>
                </button>
            </div>
            <div class="ms-2">
                <span>{% trans 'Offers' %} : </span>
                <span id="offersCount" class="fw-bold"></span>
            </div>
        </div>

        <div class="d-flex mb-2 ms-3"> 
            <div>
                <button class="btn btn-sm btn-outline-primary disabled"><i class="{{ bicons.target }}"></i>
                </button>
            </div>
            <div class="card shadow-sm px-2 w-100 ms-2 bg-primary-subtle">
                <div class="d-flex justify-content-between">
                    <div class="mt-1 mb-0 small text-primary">
                        <span id="spanTarget" class="value fw-bold"></span>
                        <span class="small ms-1">{% trans 'Target Price' %}</span>
                    </div>
                </div>
                <input id="sliderTarget" type="range" step="0" min="0" max="0" class="mb-1 mt-0" disabled>
            </div>
        </div>

        <div class="d-flex mb-2 ms-3">
            <div>
                <button class="btn btn-sm btn-outline-secondary disabled"><i class="{{ bicons.mean }}"></i>
                </button>
            </div>
            <div class="card shadow-sm px-2 w-100 ms-2">
                <div class="d-flex justify-content-between">
                    <div class="mt-1 mb-0 small">
                        <span id="spanMean" class="value"></span>
                        <span class="small ms-1">{% trans 'Offers Average' %}</span>
                    </div>
                </div>
                <input id="sliderMean" type="range" step="0" min="0" max="0" class="mb-1 mt-0" disabled>
            </div>
        </div>

    </div>


    <script>
            /* ---------- DATA & HELPERS ---------- */
            const candidates = []; // {id, nameInp, slider, valSpan, bid}
            let candidateIdCounter = 0;
            const Esti = Number({{ eEst|safe }});
            const Emin = Number({{ eMin|safe }});
            const Emax = Number({{ eMax|safe }});

            const offerStrings = {{ offers|safe }};

            const estimateValue = document.getElementById('estimateValue');
            const spanEsti = document.getElementById('spanEsti');
            const sliderEsti = document.getElementById('sliderEsti');
            // const rangeMin = document.getElementById('rangeMin');
            // const rangeMax = document.getElementById('rangeMax');

            // estimateValue.textContent = formatMoney(Esti);
            spanEsti.textContent = formatMoney(Esti);
            sliderEsti.min = Emin;
            sliderEsti.max = Emax;
            sliderEsti.value = Esti;
            // rangeMin.textContent = formatMoney(Emin);
            // rangeMax.textContent = formatMoney(Emax);


            /* ---------- UI CREATION ---------- */
            function createCandidateRow(initial_bid=0) {
                const id = ++candidateIdCounter;

                const flexDiv = document.createElement('div');
                flexDiv.className = 'd-flex mb-2';

                // delete button
                actionsDiv = document.createElement('div');
                const delBtn = document.createElement('button');
                delBtn.className = 'btn btn-sm btn-outline-danger';
                delBtn.onclick = () => {
                    flexDiv.remove();
                    candidates.splice(candidates.findIndex(c=>c.id===id),1);
                    recalc();
                };
                const delIco = document.createElement('i');
                delIco.className = 'bi bi-trash';
                delBtn.appendChild(delIco);

                actionsDiv.appendChild(delBtn);
                flexDiv.appendChild(actionsDiv);

                const card = document.createElement('div');
                card.className = 'candidate card px-2 w-100 ms-2';
                card.dataset.id = id;

                const divTop = document.createElement('div');
                divTop.classList = 'd-flex justify-content-between';

                card.appendChild(divTop);
                flexDiv.appendChild(card);

                const offerDiv = document.createElement('div');
                offerDiv.classList = 'mt-1 mb-0';
                const rankingEl = document.createElement('div');
                rankingEl.classList = 'small';
                const winnerInd = document.createElement('i');
                // winnerInd.classList = 'winner';
                rankingEl.dataset.id = id;
                const rankSpan = document.createElement('span');
                rankSpan.classList = 'ranker fw-bold badge bg-primary mx-1';
                rankSpan.dataset.id = id;
                
                winnerInd.classList = 'bi bi-trophy-fill small winner';
                winnerInd.dataset.id = id;
                rankingEl.appendChild(winnerInd);
                rankingEl.appendChild(rankSpan);

                divTop.appendChild(offerDiv);
                divTop.appendChild(rankingEl);

                // name
                const nameInp = document.createElement('span');
                // nameInp.type = 'text';
                // nameInp.value = `OFFER #${id}`;
                nameInp.className = 'small text-muted ms-2';
                nameInp.textContent = `{{ offer_litteral }} FO#${id}D`;

                // value display
                const valSpan = document.createElement('span');
                valSpan.className = 'value';
                valSpan.textContent = formatMoney(initial_bid);

                offerDiv.appendChild(valSpan);
                offerDiv.appendChild(nameInp);

                // slider
                const slider = document.createElement('input');
                slider.type = 'range';
                slider.step = 0.01;
                slider.min = Emin;
                slider.max = Emax;
                slider.value = initial_bid;
                slider.className = 'mb-1 mt-0';
                card.appendChild(slider);

                // store
                candidates.push({id, nameInp, slider, valSpan, bid:Number(initial_bid)});
                document.getElementById('candidateList').appendChild(flexDiv);

                // listeners
                slider.addEventListener('input', () => updateCandidate(id, Number(slider.value)));
                nameInp.addEventListener('change', recalc);
                return flexDiv;
            }

            /* ---------- CANDIDATE UPDATE ---------- */
            function updateCandidate(id, newBid) {
                const c = candidates.find(x=>x.id===id);
                if (!c) return;
                c.bid = newBid;
                c.valSpan.textContent = formatMoney(newBid);
                recalc();
            }

            /* ---------- CALCULATION ---------- */
            function recalc() {
                const E = Esti 
                const accepted = [];
                for (const c of candidates) {
                    const bid = c.bid;
                    accepted.push(bid);
                }

                const offersCount = document.getElementById('offersCount');
                const spanR = document.getElementById('spanTarget');
                const spanM = document.getElementById('spanMean');
                const sliderMean = document.getElementById('sliderMean');
                const sliderTarget = document.getElementById('sliderTarget');
                const winnerBgClass = 'bg-success-subtle fw-bold text-success'.split(" ");
                
                let M = 0;
                if (accepted.length) {
                    M = accepted.reduce((a,b)=>a+b,0) / accepted.length;
                    offersCount.textContent = accepted.length.toString();
                } else {
                    offersCount.textContent = '0';
                }

                sliderMean.min = Emin;
                sliderMean.max = Emax;
                sliderTarget.min = Emin;
                sliderTarget.max = Emax;

                const R = 0.5 * (E + M);
                if (accepted.length) {
                    spanM.textContent = formatMoney(M);
                    spanR.textContent = formatMoney(R);

                    sliderMean.value = M;
                    sliderTarget.value = R;
                } else {
                    spanM.textContent = '-';
                    spanR.textContent = '-';
                    sliderMean.value = 0;
                    sliderTarget.value = 0;
                }

                // 4. winner (closest from below, else smallest above)
                let winnerBid = null;
                // let winnerDiff = Infinity;
                // let winnerBelow = false;

                // for (const bid of accepted) {
                //     const diff = Math.abs(bid - R);
                //     const below = bid <= R;

                //     if (below) {
                //         if (diff < winnerDiff || (diff === winnerDiff && !winnerBelow)) {
                //             winnerBid = bid; 
                //             winnerDiff = diff;
                //              winnerBelow = true;
                //     }
                //     } else if (!winnerBelow && diff < winnerDiff) {
                //         winnerBid = bid; 
                //         winnerDiff = diff; 
                //         winnerBelow = false;
                //     }
                // }

                document.querySelectorAll('.ranker').forEach(r=>r.textContent='-');

                function sortCandidates(candidates, R) {
                    // Filter and sort bids below R in descending order
                    const belowR = candidates.filter(candidate => candidate.bid < R).sort((a, b) => b.bid - a.bid);
                    // objectsList.sort((a, b) => a.key - b.key);
                    
                    // Filter and sort bids at or above R in ascending order
                    const atOrAboveR = candidates.filter(candidate => candidate.bid >= R).sort((a, b) => a.bid - b.bid);
                    
                    // Append atOrAbove to below
                    return belowR.concat(atOrAboveR);
                }

                sortedCandidates = sortCandidates(candidates, R);

                // console.log(sortedCandidates);
                if (sortedCandidates.length){
                    winnerBid = sortedCandidates[0].bid;

                    let currentRank = 1;
                    for (let i = 0; i < sortedCandidates.length; i++) {
                        if (i === 0 || sortedCandidates[i].bid !== sortedCandidates[i - 1].bid) {
                            currentRank = i + 1;
                        }
                        sortedCandidates[i].rank = currentRank;
                    }

                    sortedCandidates.forEach(cand => {
                        // cand.rank = index + 1;
                        // console.log(cand.bid);
                        const rankElement = document.querySelector(`.ranker[data-id="${cand.id}"]`);
                        if (rankElement) rankElement.textContent = cand.rank;
                    });
                }
                // below = winnerBid < R;
                // const sortedBids = document.getElementById('sortedBids');
                // sortedBids.textContent = sortedCandidates.map(obj => obj.bid);

                // highlight
                document.querySelectorAll('.candidate').forEach(r=>r.classList.remove(...winnerBgClass));
                document.querySelectorAll('.winner').forEach(r=>r.classList.add('d-none'));

                if (winnerBid !== null) {
                    const winnerCands = candidates.filter(c => c.bid === winnerBid);
                    winnerCands.forEach(winnerCand => {
                        const element = document.querySelector(`.candidate[data-id="${winnerCand.id}"]`);
                        if (element) {
                            element.classList.add(...winnerBgClass);
                        };
                        const winnerEl = document.querySelector(`.winner[data-id="${winnerCand.id}"]`);
                        if (winnerEl) {
                            // console.log(winnerCand.rank);
                            winnerEl.classList.remove('d-none');
                        };
                    });
                }

                // ----- DISPLAY -----
                // const res = document.getElementById('results');
                // const fmt = n => `<span class="highlight">${formatMoney(n)}</span>`;

                //  let html = `<strong>Estimate E:</strong> ${fmt(E)}<br>`;
                // let html = ``;
                // html += `<strong>Range (±20 %):</strong> ${fmt(lower)} – ${fmt(upper)}<br>`;
                //  html += `<strong>Accepted (${accepted.length}):</strong> ${accepted.map(fmt).join(', ') || '—'}<br>`;
                // html += `<strong>Mean M:</strong> ${fmt(M)} ----- `;
                // html += `<strong>Reference R:</strong> ${fmt(R)}<br>`;

                // const winnerVal = document.getElementById('winnerValue');
                // const winnerExp = document.getElementById('winnerExplain');



                // if (winnerBid !== null) {
                //     winnerVal.textContent = formatMoney(winnerBid);
                //     // winnerExp.textContent = winnerBid <= R ? '(closest from below)' : '(smallest above)';
                //     winnerExp.textContent = winnerBid <= R ? '(Below R)' : '(Above R)';

                //     // const wc = candidates.find(c=>c.bid===winnerBid);
                //     // const name = wc ? wc.nameInp.value : '';
                //     // html += `<strong>Winner:</strong> ${name} – ${fmt(winnerBid)}`;
                //     // html += winnerBid <= R ? ' (closest from below)' : ' (smallest above)';
                // } else {
                //     // html += `<strong>Winner:</strong> —`;
                //     winnerVal.textContent = '-';
                //     winnerExp.textContent = '--';
                // }
                // res.innerHTML = html;
            }

            /* ---------- UTILITIES ---------- */
            function formatMoney(n) {
                const locale = navigator.language || navigator.userLanguage || 'en-US';
                return new Intl.NumberFormat(locale, {minimumFractionDigits:2, maximumFractionDigits:2}).format(n);
            }

            /* ---------- INITIALISATION ---------- */
            document.getElementById('addCandidate').onclick = () => {
                createCandidateRow(Esti);
                recalc();
            };

            // const estimateInput = document.getElementById('estimate');
            // estimateInput.addEventListener('input', () => {
            //     updateSliderLimits();
            //     recalc();
            // });

            offerStrings.forEach(offer => {
                const sanitized = String(offer).trim().replace(/[^\d.-]/g, '');
                const bid = Number(sanitized);
                createCandidateRow(bid);
            });
            recalc();
        </script>



{% endblock content %}
