
<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language_bidi as LB %}
{% get_current_language as LANGUAGE_CODE %}


<html dir="{% if LB %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<title>eMarchés | {% block title %}{% endblock title %}</title>
		{% include 'base/includes/head.html' %}
	</head>
	<body>

		{% include 'base/includes/navbar.html' %}

		<div id="main-content">
			<div class="container mt-4">
				<div class="row justify-content-center">
					{% if messages %}{% include 'base/snippets/messages.html' %}{% endif %}
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

		{% include 'base/includes/knee.html' %}
	</body>
</html>

