{% load i18n %}
{% get_current_language_bidi as LB %}

<!DOCTYPE html>
<html  dir="{% if LB %}rtl{% else %}ltr{% endif %}">
    <head>
        {% include 'authy/includes/head.html' %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-8 col-xl-6">
                    <div class="p-2">
                        {% block body %}
                            {% if messages %}
                                {% include 'base/snippets/messages.html' %}
                            {% endif %}
                            <div class="mb-4">{% include 'authy/snippets/top-bar.html' %}</div>
                            
                            {% block content %}
                            {% endblock content %}
                        {% endblock body %}
                        {% block extra_body %}
                        {% endblock extra_body %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'authy/includes/footer.html' %}
    </body>
</html>
