{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    {% trans "Public Procurement Market in Morocco" %}
{% endblock title %}

{% block content %}
    <h2>{% trans "Public Procurement Market in Morocco" %}</h2>
    <div class="">
        <div class="">
            <div class="mb-2">
                {% if request.user.is_authenticated %}
                    Welcome, {{ request.user.username }}
                {% else %}
                    Welcome, Guest!
                {% endif %}
            </div>
            <h3>{% trans "Home sweet home" %}</h3>
            <div>
                <img class="img-fluid mb-4 mt-5" src="{% static 'graphics/volait.png' %}" alt="EROR">
            </div>
            <p>{% trans "Le veau laid violet volait le volet et volait avec le vieux lait." %} </p>
        </div>
    </div>
{% endblock %}