{% load i18n static %}
<div class="modal fade" 
    id="b{{ bdc.chrono }}m" tabindex="-1" 
    aria-labelledby="b{{ bdc.chrono }}Label" 
    aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header py-2">
        <h1 class="modal-title fs-5" id="b{{ bdc.chrono }}Label">{% trans "Items details" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include "bdc/snippets/articles/articles-details-list.html" %}
    </div>
    <div class="modal-footer py-2">
        {% if show_export == 'yes' %}
            <a href="{% url 'bdc_articles_csv' bdc.id %}" 
            class="btn btn-outline-primary">
                <i class="bi bi-file-earmark-spreadsheet me-1"></i>
                {% trans 'Export' %}
            </a>
        {% endif %}
        {% if show_print == 'yes' %}
            <a href="{% url 'bdc_articles_pdf' bdc.id %}" 
            class="btn btn-outline-primary">
                <i class="bi bi-file-earmark-pdf me-1"></i>
                {% trans 'Print' %}
            </a>
        {% endif %}
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-lg me-1"></i>
            {% trans 'Close' %}
        </button>
    </div>
    </div>
</div>
</div>


