{% load i18n %}
<div class="modal fade" 
     id="b{{ bdc.chrono }}m" tabindex="-1" 
     aria-labelledby="b{{ bdc.chrono }}Label" 
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h1 class="modal-title fs-5" id="b{{ bdc.chrono }}Label">{% trans "Items details" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group my-3 shadow-sm">
            {% for article in bdc.articles.all %}
            <div class="list-group-item list-group-item-action">
                <div class="">
                    <span class="me-1 text-muted">#{{ article.number }}.</span>
                    <span class="fw-bold">{{ article.title }}</span>
                    <span class="ms-1 badge bg-secondary">{{ article.quantity|floatformat:"-0" }} x {{ article.uom }}</span>
                    <span class="ms-1 badge text-bg-warning">{% trans "VAT" %}={{ article.vat_percent|floatformat:"-0" }}%</span>
                </div>
                {% if article.specifications %}
                    <div class="d-flex small text-muted ms-2 mt-2">
                        <div class="">
                            <i class="{{ bicons.specs }}"></i>
                        </div>
                        <div class="w-100 ms-2">
                            <span class="">{{ article.specifications }} </span>
                        </div>
                    </div>
                {% endif %}

                {% if article.warranties %}
                    <div class="d-flex small text-muted ms-2 mt-2">
                        <div class="">
                            <i class="{{ bicons.warranties }}"></i>
                        </div>
                        <div class="w-100 ms-2">
                            <span class="">{{ article.warranties }} </span>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% empty %}
                <div class="list-group-item text-danger small">{% trans "No items found" %}</div>
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer py-2">
        <a href="#" class="btn btn-outline-primary" disabled>{% trans 'Print' %} (Coming soon)</a>
        <a href="#" class="btn btn-outline-primary" disabled>{% trans 'Share' %} (Coming soon)</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>


