{% extends 'base.html' %}
{% load i18n %}

{% block title %} 400 - {% translate 'Bad Request' %} {% endblock title %}


{% block content %}
    <div id="main-content">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-10 col-xl-8">
                    <div class="text-center">
                        <div class="card shadow w-100">
                            <div class="card-body">
                                <div class="card-title">
                                    <span><i class="bi bi-4-circle-fill text-danger display-5"></i></span>
                                    <span><i class="bi bi-0-circle-fill text-danger display-5"></i></span>
                                    <span><i class="bi bi-0-circle-fill text-danger display-5"></i></span>                                    
                                    <h3 class="text-danger">{% trans 'BAD REQUEST' %}</h3>
                                </div>
                                <h6 class="card-subtitle mb-2 text-body-secondary">
                                    {% trans 'aka error 400' %}
                                </h6>
                                <p class="card-text">
                                    {% trans 'Sorry, our server did not understand your request.' %}
                                </p>
                                <p class="card-text text-muted small fw-light mb-4">
                                    {% trans 'Please try again later. If this problem persists, please let us know.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}