# This is a Service file that removes the scraper lock file at boot.
# Put this file in "/etc/systemd/system/delock.service" and enable delock service

[Unit]
Description=Scrpaer-Lock-Remover
After=network.target

[Service]
Type=oneshot
User=[local_user]
Group=[local_user]

ExecStart=[absolute/path/to]/crony/delock.sh

[Install]
WantedBy=multi-user.target