{% load i18n %}

<div class="card mt-3 shadow-sm">
    <ul class="list-group list-group-flush p-1">
        <li class="list-group-item text-success">
            <span><i class="bi bi-check-circle me-1"></i></span>
            <span class="small fw-bold">{% trans "Your personal data is kept private." %}</span>
            <span class="small fw-light">{% trans "Only your username and avatar may be seen by other users." %}</span>
            <span class="small fw-light"><a href="#">{% trans "Privacy policy" %}</a></span>
        </li>
    </ul>
</div>