{% load i18n %}

<div class="card mt-4 shadow">
    <ul class="list-group list-group-flush p-0">
        <li class="list-group-item text-success">
            <div >
                <span><i class="bi bi-check-circle me-1"></i></span>
                <span class="small fw-bold">{% trans "Your data is kept private." %}</span>
                <span class="small fw-light me-2">{% trans "Only your username and avatar may be visible." %}</span>
                <span class="d-inline-block small fw-light me-2"><a href="#"><i class="bi bi-cursor me-1"></i>{% trans "Privacy policy" %}</a></span>
                <span class="d-inline-block small fw-light"><a href="javascript:" class="text-danger" onclick="this.closest('.card').style.display='none'"><i class="bi bi-x-lg me-1"></i>{% trans "Close" %}</a></span>
            </div>
            <div class="text-end">
            </div>
        </li>
    </ul>
</div>