{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}
{% load tz %}

{% block title %}
    {% trans "Concurrent details" %}: {{ bidder.name }}
{% endblock title %}

{% block content %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

        <div class="mb-3">
            <span class="h3">{% trans "Concurrent details" %}</span>
        </div>
        <div class="card bg-secondary-subtle shadow shadow-sm">
            <div class="px-2 py-1 fs-5 fw-bold">{{ bidder.name }}</div>
        </div>

    <div class="my-3" id="bidder-details">


        <div class="row gx-4 gy-0" id="bidderDigest">

            <div class="col-12" 
                data-bs-toggle="tooltip" 
                title="{% trans 'Won offers' %} :{{ bidder.winner_bids_sum }} / {{ bidder.bidders_sum }}">
                <div class="d-flex my-3">
                    <div><i class="bi bi-pie-chart"></i></div>
                    <div class="ms-2 w-100 {% if not bidder.success_rate %}border border-0 border-bottom{% endif %}">
                        <div class="text-muted small fw-light">
                            {% trans "Success rate" %}
                        </div>
                        <div id="main-value" class="">
                            <span class="fw-bold">{{ bidder.winner_bids_sum|metrify }}</span>
                            <span class="fw-light">/</span>
                            <span class="">{{ bidder.bidders_sum|metrify }}</span>
                            <span class="small ms-2 {% if not bidder.success_rate >= 0 %}fw-light text-secondary{% endif %} float-end">{{ bidder.success_rate }}
                                {% if bidder.success_rate >= 0 %}%{% endif %}
                            </span>
                        </div>
                        {% if bidder.success_rate %}
                            <div class="progress bg-warning p-0 m-0"
                                    style="height: 0.25rem;"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Success rate' %}: {{ bidder.success_rate }}%">
                                <div class="progress-bar bg-success" 
                                        role="progressbar" style="width: {{ bidder.success_rate|unlocalize }}%;" 
                                        aria-valuenow="{{ bidder.success_rate|unlocalize }}" aria-valuemin="0" 
                                        aria-valuemax="100">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            

            {% if bidder.winner_bids.all|length > 2 %}
                <div class="col-12 col-md-6"
                    data-bs-toggle="tooltip"
                    title="{% trans 'Wins range' %}: {{ bidder.lowest_win }} - {{ bidder.highest_win }}">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-sort-up"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Wins range" %}
                            </div>
                            <div id="" class="small">
                                <span class="">{{ bidder.lowest_win|metrify }}</span>
                                <span class="fw-light">-</span>
                                <span class="">{{ bidder.highest_win|metrify }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6"
                    data-bs-toggle="tooltip"
                    title="{% trans 'Wins period' %}: {{ bidder.first_win }} - {{ bidder.latest_win }}">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-calendar2-check"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Wins period" %}
                            </div>
                            <div id="" class="small">
                                <span class="">{{ bidder.first_win|date:'SHORT_DATE_FORMAT' }}</span>
                                <span class="fw-light">-</span>
                                <span class="">{{ bidder.latest_win|date:'SHORT_DATE_FORMAT' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        
        </div>


        <div class="accordion my-3" id="accordionBidders">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#biddersCollapse" aria-expanded="true" aria-controls="biddersCollapse">
                        <span><i class="bi bi-building-up me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Participations" %}</span>
                        <span class="small fw-bold ps-2">{{ bidder.bidders.all|length }}</span>
                    </button>
                </h2>
                <div id="biddersCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionBidders">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for bid in bidder.bidders.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' bid.minutes.tender.id %}">
                                    <div>
                                        <span class="fw-bold small">{{ bid.minutes.date_end }}</span>
                                    </div>
                                    <div class="twolines">
                                        <span class="small me-1"><i class="{{ bid.minutes.tender.category.icon_bs_class }}"></i></span>
                                        {% if bid.minutes.tender.lots_count > 1 %}
                                            <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                        {% endif %}
                                        <span class="">{{ bid.minutes.tender.title }}</span>
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminRejects">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminRejectsCollapse" aria-expanded="true" aria-controls="adminRejectsCollapse">
                        <span><i class="bi bi-x-octagon me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Rejects" %}</span>
                        <span class="small fw-bold ps-2 
                                    {% if bidder.admin_rejects.all|length > 0 %}
                                        text-danger
                                    {% endif %}
                                    ">
                            {{ bidder.admin_rejects.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminRejectsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminRejects">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for admin_reject in bidder.admin_rejects.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' admin_reject.minutes.tender.id %}">
                                    {% ifchanged admin_reject.minutes.tender %}
                                        <div class="fw-light small">{{ admin_reject.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ admin_reject.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if admin_reject.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ admin_reject.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <div>
                                        <span class="float-end">
                                            {% if admin_reject.minutes.tender.lots_count > 1 %}
                                                <span class="fw-light small">{% trans 'Lot' %} {{ admin_reject.lot_number }}</span>
                                            {% endif %}
                                        </span>
                                        
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminAccepts">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminAcceptsCollapse" aria-expanded="true" aria-controls="adminAcceptsCollapse">
                        <span><i class="bi bi-fast-forward me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Accepts" %}</span>
                        <span class="small fw-bold ps-2 
                                    {% if bidder.admin_accepts.all|length == 0 %}
                                        text-danger
                                    {% endif %}
                                    ">
                            {{ bidder.admin_accepts.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminAcceptsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminAccepts">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for admin_accept in bidder.admin_accepts.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' admin_accept.minutes.tender.id %}">
                                    {% ifchanged admin_accept.minutes.tender %}
                                        <div class="fw-light small">{{ admin_accept.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ admin_accept.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if admin_accept.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ admin_accept.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <div>
                                        <span class="float-end">
                                            {% if admin_accept.minutes.tender.lots_count > 1 %}
                                                <span class="fw-light small">{% trans 'Lot' %} {{ admin_accept.lot_number }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminReserves">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminReservesCollapse" aria-expanded="true" aria-controls="adminReservesCollapse">
                        <span><i class="bi bi-fast-forward-circle me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Reserves" %}</span>
                        <span class="small fw-bold ps-2">
                            {{ bidder.admin_reserves.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminReservesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminReserves">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for admin_reserve in bidder.admin_reserves.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' admin_reserve.minutes.tender.id %}">
                                    {% ifchanged admin_reserve.minutes.tender %}
                                        <div class="fw-light small">{{ admin_reserve.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ admin_reserve.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if admin_reserve.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ admin_reserve.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <div>
                                        <span class="float-end">
                                            {% if admin_reserve.minutes.tender.lots_count > 1 %}
                                                <span class="fw-light small">{% trans 'Lot' %} {{ admin_reserve.lot_number }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionTechRejects">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#techRejectsCollapse" aria-expanded="true" aria-controls="techRejectsCollapse">
                        <span><i class="bi bi-x-octagon me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Tech Rejects" %}</span>
                        <span class="small fw-bold ps-2 
                                    {% if bidder.tech_rejects.all|length > 0 %}
                                        text-danger
                                    {% endif %}
                                    ">
                            {{ bidder.tech_rejects.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="techRejectsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechRejects">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for tech_reject in bidder.tech_rejects.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' tech_reject.minutes.tender.id %}">
                                    {% ifchanged tech_reject.minutes.tender %}
                                        <div class="fw-light small">{{ tech_reject.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ tech_reject.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if tech_reject.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ tech_reject.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <div>
                                        <span class="float-end">
                                            {% if tech_reject.minutes.tender.lots_count > 1 %}
                                                <span class="fw-light small">{% trans 'Lot' %} {{ tech_reject.lot_number }}</span>
                                            {% endif %}
                                        </span>
                                        
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionSelects">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#selrctsCollapse" aria-expanded="true" aria-controls="selrctsCollapse">
                        <div class="w-100">
                            <span>
                                <span><i class="{{ bicons.estimate }} me-1"></i></span>
                                <span class="fw-light text-uppercase">{% trans "Selected Offers" %}</span>
                                <span class="small fw-bold ps-2">{{ bidder.selected_bids.all|length }}</span>
                            </span>
                            <span class="small px-2 float-end text-end">{{ bidder.bidders_sum }}</span>
                        </div>
                    </button>
                </h2>
                <div id="selrctsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionSelects">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for sel in bidder.selected_bids.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' sel.minutes.tender.id %}">
                                    {% ifchanged sel.minutes.tender %}
                                        <div class="fw-light small">{{ sel.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ sel.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if sel.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ sel.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <span class="small float-end ms-2">
                                        {% if sel.minutes.tender.lots_count > 1 %}
                                            <span class="fw-light small">{% trans 'Lot' %} {{ sel.lot_number }}: </span>
                                            <span class="fw-light">{{ sel.lot.estimate }}</span>
                                            <span>+</span>
                                        {% endif %}
                                        {% if sel.amount_after != sel.amount_before %}
                                            <span class="small fw-light text-decoration-line-through">{{ sel.amount_before }}</span>
                                        {% endif %}
                                        <span class="badge small text-bg-secondary">{{ sel.offset|default:'0'|floatformat:1 }}%</span>
                                        <span>=</span>
                                        {% if sel.is_winner %}
                                            <span class="small"><i class="{{ bicons.winner }} small text-success text-success"></i></span>
                                        {% endif %}
                                        <span class="fw-bold {% if sel.is_winner %}text-success{% endif %}">{{ sel.amount_after }}</span>
                                    </span>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionWins">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#winsCollapse" aria-expanded="true" aria-controls="winsCollapse">
                        <div class="w-100">
                            <span>
                                <span><i class="{{ bicons.winner }} text-success me-1"></i></span>
                                <span class="fw-bold text-uppercase">{% trans "Winners" %}</span>
                                <span class="small fw-bold ps-2 {% if bidder.winner_bids.all|length > 0 %}text-success{% endif %}">{{ bidder.winner_bids.all|length }}</span>                                
                            </span>
                            <span class="small fw-bold px-2 float-end text-end">{{ bidder.winner_bids_sum }}</span>
                        </div>
                    </button>
                </h2>
                <div id="winsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionWins">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for win in bidder.winner_bids.all %}
                                <a class="list-group-item list-group-item-action" target="_blank" 
                                    href="{% url 'portal_tender_detail' win.minutes.tender.id %}">
                                    {% ifchanged win.minutes.tender %}
                                        <div class="fw-light small">{{ win.minutes.date_end }}</div>
                                        <div class="twolines">
                                            <span class="small me-1"><i class="{{ win.minutes.tender.category.icon_bs_class }}"></i></span>
                                            {% if win.minutes.tender.lots_count > 1 %}
                                                <span class="small me-1"><i class="{{ bicons.multi_lots }}"></i></span>
                                            {% endif %}
                                            <span class="">{{ win.minutes.tender.title }}</span>
                                        </div>
                                    {% endifchanged %}
                                    <div>
                                        <span class="float-end">
                                            {% if win.minutes.tender.lots_count > 1 %}
                                                <span class="fw-light small">{% trans 'Lot' %} {{ win.lot_number }}:</span>
                                            {% endif %}
                                            <span class="fw-bold ms-2">{{ win.amount }}</span>
                                        </span>
                                        
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>



        <div class="accordion mt-4 mb-3" id="accordionDomains">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domainsCollapse" aria-expanded="true" aria-controls="domainsCollapse">
                        <span><i class="{{ bicons.domains }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Domains" %}</span>
                        <span class="small fw-bold ps-2 {% if bidder.bid_domains.all|length > 0 %}text-success{% endif %}">{{ bidder.bid_domains.all|length }}</span>
                    </button>
                </h2>
                <div id="domainsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionDomains">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for dom in bidder.bid_domains.all %}
                                <a class="list-group-item list-group-item-action" target="_blank"
                                   href="{% url 'portal_tender_list' %}?&q={{ dom.name }}&f=domains&exact=yes">
                                    <div class="">{{ dom.name }}</div>
                                    <div>
                                        <span class="float-end">
                                                <span class="fw-light small">{% trans 'Bids' %}:</span>
                                            <span class="fw-bold ms-2">{{ dom.bidders_count }}</span>
                                        </span>
                                    </div>
                                </a>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionQualifs">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qualifsCollapse" aria-expanded="true" aria-controls="qualifsCollapse">
                        <span><i class="{{ bicons.qualifs_ico }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Qualifs" %}</span>
                        <span class="small fw-bold ps-2 {% if bidder.bid_qualifs.all|length > 0 %}text-success{% endif %}">{{ bidder.bid_qualifs.all|length }}</span>
                    </button>
                </h2>
                <div id="qualifsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionQualifs">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for qua in bidder.bid_qualifs.all %}
                                <div class="list-group-item list-group-item-action">
                                    <div class="small">
                                        <span class="fw-bold">{{ qua.short }}. {% trans 'Class' %} {{ qua.classe }}</span>
                                        <span>:</span>
                                        <span>{{ qua.name }}</span>
                                    </div>
                                    <div>
                                        <span class="float-end">
                                                <span class="fw-light small">{% trans 'Bids' %}:</span>
                                            <span class="fw-bold ms-2">{{ qua.bidders_count }}</span>
                                        </span>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        

        <div class="accordion my-3" id="accordionLicences">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#licencesCollapse" aria-expanded="true" aria-controls="licencesCollapse">
                        <span><i class="{{ bicons.agrements_ico }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Licences" %}</span>
                        <span class="small fw-bold ps-2 {% if bidder.bid_agrements.all|length > 0 %}text-success{% endif %}">{{ bidder.bid_agrements.all|length }}</span>
                    </button>
                </h2>
                <div id="licencesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionLicences">
                    <div class="accordion-body p-0">
                        <div class="list-group">
                            {% for agr in bidder.bid_agrements.all %}
                                <div class="list-group-item list-group-item-action">
                                    <div class="small">
                                        <span class="fw-bold">{{ arg.short }}</span>
                                        <span>:</span>
                                        <span>{{ arg.name }}</span>
                                    </div>
                                    <div>
                                        <span class="float-end">
                                                <span class="fw-light small">{% trans 'Bids' %}:</span>
                                            <span class="fw-bold ms-2">{{ agr.bidders_count }}</span>
                                        </span>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="list-group-item">
                                    <div class="fw-light small text-danger my-2">{% trans 'None' %}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div> 
            </div>
        </div>

    </div>




{% endblock content %}
