{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Concurrents list" %}
{% endblock title %}

{% block content %}

    <style>
        .circle-progress {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    </style>

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Concurrents list" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'insights/snippets/bidders/bidder-search-form.html' %}
            {% include 'insights/snippets/bidders/bidder-menu-sort.html' %}
        </div>
    </div>    


    <div class="fw-light mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
        {% endif %}
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Items found" %}.</span>
        {% if page_obj.has_other_pages %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>            
        {% endif %}
    </div>


    {% if page_obj %}
        <div class="container py-4 px-0">
                {% for bidder in page_obj %}
                    <a href="{% url 'insights_bidder_details' bidder.id %}" 
                       class="btn text-start w-100 p-0 mb-3">

                        <div class="card shadow p-2">

                            <div id="bidder-data">
                                <div class="{% if wrap_text == False %}oneline{% endif %}">
                                    <span>{% if show_bidders_names %}{{ bidder.name }}{% else %}{{ bidder.pseudo }}{% endif %}</span>
                                    <span class="small ms-1 float-end text-end"
                                        style="min-width: 5rem;">
                                        <span class="small fw-light">{{ bidder.wins_count }}/{{ bidder.deposits.all|length }}</span>
                                        <i class="small text-success me-1 
                                            {% if bidder.winners_sum > 0 %}
                                                {{ bicons.winner }}
                                            {% else %}
                                                bi bi-trophy
                                            {% endif %}">
                                        </i>
                                        <span class="small fw-bold">{{ bidder.winners_sum|metrify }}</span>
                                    </span>
                                </div>
                            </div>

                            <div id="linear-progress">
                                <div class="progress bg-warning p-0 m-0"
                                        style="height: 0.25rem;"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Success rate' %}: {{ bidder.succ_rate|default:'0' }}%">
                                    <div class="progress-bar bg-success" 
                                            role="progressbar" style="width: {{ bidder.succ_rate|unlocalize|default:'0' }}%;" 
                                            aria-valuenow="{{ bidder.succ_rate|unlocalize|default:'0' }}" aria-valuemin="0" 
                                            aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </a>
                {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}
{% endblock content %}


