{% extends 'base/base.html' %}
{% load i18n l10n static humanize groupify tz %}

{% block title %}{% trans "Concurrent details" %}: {{ bidder.name }}{% endblock title %}
{% block extra_keywords %}, {{ bidder.name }}, {% trans "Bidder" %}, {% trans "Concurrent" %}, {% trans "Stats" %}{% trans "Revenue" %}, {% trans "Participation" %}, {% trans "Award" %}, {% trans "Success Rate" %}, {% endblock extra_keywords %}
{% block extra_description %}, {{ bidder.name }}, {% trans "Bidder" %}, {% trans "Concurrent" %}, {% trans "Stats" %}{% trans "Revenue" %}, {% trans "Participation" %}, {% trans "Award" %}, {% trans "Success Rate" %}, {% endblock extra_description %}
{% block og_title_extra %} | {{ bidder.name }} | {% trans "Concurrent details" %}{% endblock og_title_extra %}
{% block og_description_extra %} | {{ bidder.name }} | {% trans "Concurrent details" %}{% endblock og_description_extra %}

{% block content %}

    <div class="mb-3">
        <span class="h3">{% trans "Concurrent details" %}</span>
    </div>

    {% include 'insights/snippets/bidders/digest-card.html' with bidder=bidder %}

    <div class="my-3" id="bidder-details">

        <div class="accordion my-3" id="accordionTenders">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tendersCollapse" aria-expanded="true" aria-controls="tendersCollapse">
                        <span><i class="bi bi-building-up me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Tenders" %}</span>
                        <span class="small fw-bold ps-2">{{ bidder.tenders.all|length }}</span>
                    </button>
                </h2>
                <div id="tendersCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTenders">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-tenders.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminRejects">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminRejectsCollapse" aria-expanded="true" aria-controls="adminRejectsCollapse">
                        <span><i class="bi bi-x-octagon me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Rejects" %}</span>
                        <span class="small fw-bold ps-2 
                                    {% if bidder.admin_rejects.all|length > 0 %}
                                        text-danger
                                    {% endif %}
                                    ">
                            {{ bidder.admin_rejects.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminRejectsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminRejects">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-admin-rejects.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminAccepts">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminAcceptsCollapse" aria-expanded="true" aria-controls="adminAcceptsCollapse">
                        <span><i class="bi bi-fast-forward me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Accepts" %}</span>
                        <span class="small fw-bold ps-2">
                            {{ bidder.admin_accepts.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminAcceptsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminAccepts">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-admin-accepts.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionAdminReserves">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminReservesCollapse" aria-expanded="true" aria-controls="adminReservesCollapse">
                        <span><i class="bi bi-fast-forward-circle me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Admin Reserves" %}</span>
                        <span class="small fw-bold ps-2">
                            {{ bidder.admin_reserves.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="adminReservesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionAdminReserves">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-admin-reserves.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionTechRejects">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#techRejectsCollapse" aria-expanded="true" aria-controls="techRejectsCollapse">
                        <span><i class="bi bi-x-octagon me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Tech Rejects" %}</span>
                        <span class="small fw-bold ps-2 
                                    {% if bidder.tech_rejects.all|length > 0 %}
                                        text-warning
                                    {% endif %}
                                    ">
                            {{ bidder.tech_rejects.all|length }}
                        </span>
                    </button>
                </h2>
                <div id="techRejectsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionTechRejects">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-tech-rejects.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionFinancials">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#financialsCollapse" aria-expanded="true" aria-controls="financialsCollapse">
                        <div class="w-100">
                            <span>
                                <span><i class="{{ bicons.estimate }} me-1"></i></span>
                                <span class="fw-light text-uppercase">{% trans "Fin. Offers" %}</span>
                                <span class="small fw-bold ps-2">{{ bidder.selects.all|length }}</span>
                            </span>
                            {% if bidder.deposits_sum != 0 %}                                
                                <span class="small px-2 float-end text-end"><span class="small fw-light text-secondary">=</span>{{ bidder.deposits_sum|metrify }}</span>
                            {% endif %}
                        </div>
                    </button>
                </h2>
                <div id="financialsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionFinancials">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-financials.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionWins">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#winsCollapse" aria-expanded="false" aria-controls="winsCollapse">
                        <div class="w-100">
                            <span>
                                <span><i class="{{ bicons.winner }} text-success me-1"></i></span>
                                <span class="fw-bold text-uppercase">{% trans "Awardings" %}</span>
                                <span class="small fw-bold ps-2 {% if bidder.winners.all|length > 0 %}text-success{% endif %}">{{ bidder.winners.all|length }}</span>                                
                            </span>
                            {% if bidder.winners_sum != 0 %}
                                
                                <span class="small fw-bold px-2 float-end text-end"><span class="small fw-light text-secondary">=</span>{{ bidder.winners_sum|metrify }}</span>
                            {% endif %}
                        </div>
                    </button>
                </h2>
                <div id="winsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionWins">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-wins.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>

        
        <div class="accordion mb-3" id="accordionClients">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clientsCollapse" aria-expanded="true" aria-controls="clientsCollapse">
                        <span><i class="{{ bicons.client }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Clients" %}</span>
                        <span class="small fw-bold ps-2">{{ bidder.clients|length }}</span>
                    </button>
                </h2>
                <div id="clientsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-clients.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionDomains">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domainsCollapse" aria-expanded="true" aria-controls="domainsCollapse">
                        <span><i class="{{ bicons.domains }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Domains" %}</span>
                        <span class="small fw-bold ps-2">{{ bidder.domains|length }}</span>
                    </button>
                </h2>
                <div id="domainsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionDomains">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-domains.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>


        <div class="accordion my-3" id="accordionQualifs">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qualifsCollapse" aria-expanded="true" aria-controls="qualifsCollapse">
                        <span><i class="{{ bicons.qualifs_ico }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Qualifs" %}</span>
                        <span class="small fw-bold ps-2 {% if bidder.qualifs|length > 0 %}text-success{% endif %}">{{ bidder.qualifs|length }}</span>
                    </button>
                </h2>
                <div id="qualifsCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionQualifs">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-qualifs.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>
    

        <div class="accordion my-3" id="accordionLicences">
            <div class="accordion-item shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#licencesCollapse" aria-expanded="true" aria-controls="licencesCollapse">
                        <span><i class="{{ bicons.agrements_ico }} me-1"></i></span>
                        <span class="fw-light text-uppercase">{% trans "Licences" %}</span>
                        <span class="small fw-bold ps-2 {% if bidder.licences|length > 0 %}text-success{% endif %}">{{ bidder.licences|length }}</span>
                    </button>
                </h2>
                <div id="licencesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionLicences">
                    <div class="accordion-body p-0">
                        {% include 'insights/snippets/bidders/table-licenses.html' with bidder=bidder %}
                    </div> 
                </div> 
            </div>
        </div>

        <div class="bidder-actions">
            <div id="bidder-actions" class="text-center mx-0 my-3">
                <a class="ms-2 mt-2 btn btn-outline-primary" target="_blank"
                    href="{% url 'insights_bidder_pdf' bidder.id %}">
                    <span><i class="{{ bicons.pdf }}"></i></span>
                    <span class="ms-1">{% trans 'Save PDF' %}</span>
                </a>
                <a class="ms-2 mt-2 btn btn-outline-secondary" 
                    type="button" onclick="shareBidderPage(`https://new.emarches.com`)">
                    <span><i class="{{ bicons.share }}"></i></span>
                    <span class="ms-1">{% trans 'Share' %}</span>
                </a>

                <a class="ms-2 mt-2 btn btn-outline-secondary" target="_blank"
                    href="{% url 'insights_bidder_pdf' bidder.id %}">
                    <span><i class="{{ bicons.excel }}"></i></span>
                    <span class="ms-1">{% trans 'Export Excel' %}</span>
                </a>
            </div>
        </div>

    </div>


    <div id="tosts-container" class="toast-container bottom-0 end-0 p-3" style="position: fixed; z-index: 99;">
                    
        <div class="toast bg-success-subtle " id="copyToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-success">
                    <strong class="me-auto" id="dlToastHeader">
                        {% trans "URL was copied to clipboard" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

    </div>

    <script>

        function shareBidderPage(host='https://www.emarches.com') {
            const bidder_id = "{{ bidder.id|escapejs }}";    
            const baseUrl = `${host}/bidders/`;
            const fullUrl = baseUrl + bidder_id + "/";
            const title = document.title;

            if (navigator.share) {
                navigator.share({
                    title: title,
                    url: fullUrl
                })
                .then(() => console.log('Shared successfully'))
                .catch((error) => console.error('Error sharing:', error));
            } else {
                navigator.clipboard.writeText(fullUrl)
                    .then(() => {
                        var toastElement = document.getElementById('copyToast');
                            var toast = new bootstrap.Toast(toastElement);
                            toast.show();
                    })
                    .catch((error) => console.error('Error copying URL:', error));
            }
        }

    </script>

{% endblock content %}
