{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Concurrents list" %}
{% endblock title %}

{% block content %}

    <style>
        .circle-progress {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    </style>

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Concurrents list" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'insights/snippets/bidders/bidder-search-form.html' %}
            {% include 'insights/snippets/bidders/bidder-menu-sort.html' %}
        </div>
    </div>    


    <div class="fw-light mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
        {% endif %}
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Items found" %}.</span>
        {% if page_obj.has_other_pages %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>            
        {% endif %}
    </div>


    {% if page_obj %}
        <div class="container py-4 px-0">
                {% for bidder in page_obj %}
                    <a href="{% url 'insights_bidder_details' bidder.id %}" 
                       class="btn text-start w-100 p-0 mb-2">
                        <div>
                            <div class="d-inline-flex align-items-center justify-content-center"
                                 style="width: 2rem; height: 2rem;">
                                <svg viewBox="0 0 36 36"
                                    class="w-100 h-100">

                                    <!-- background -->
                                    <path
                                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                        fill="none"
                                        stroke="var(--bs-warning)"
                                        stroke-width="3.5" />

                                    <!-- progress -->
                                    <path
                                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                        fill="none"
                                        stroke="var(--bs-success)"
                                        stroke-width="3.5"
                                        stroke-linecap="round"
                                        stroke-dasharray="{{ bidder.succ_rate|unlocalize }}, 100"/>

                                    <!-- label
                                    <text x="18" y="20"
                                        class="fw-semibold text-body"
                                        font-size="6"
                                        text-anchor="middle">
                                        {{ bidder.winners_sum|metrify }}
                                    </text> -->
                                </svg>
                            </div>

                        </div>
                        <div class="card shadow py-2 px-3">
                            <div class="{% if wrap_text == False %}oneline{% endif %}">
                                <span>{% if show_bidders_names %}{{ bidder.name }}{% else %}{{ bidder.pseudo }}{% endif %}</span>
                                <span class="small ms-1 float-end text-end"
                                      style="min-width: 5rem;">
                                    <span class="small fw-light">{{ bidder.wins_count }}/{{ bidder.deposits.all|length }}</span>
                                    <i class="small text-success me-1 
                                        {% if bidder.winners_sum > 0 %}
                                            {{ bicons.winner }}
                                        {% else %}
                                            bi bi-trophy
                                        {% endif %}">
                                    </i>
                                    <span class="small fw-bold">{{ bidder.winners_sum|metrify }}</span>
                                </span>
                            </div>

                            {% if bidder.succ_rate %}
                                <div class="progress bg-warning p-0 m-0"
                                        style="height: 0.25rem;"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Success rate' %}: {{ bidder.succ_rate }}%">
                                    <div class="progress-bar bg-success" 
                                            role="progressbar" style="width: {{ bidder.succ_rate|unlocalize }}%;" 
                                            aria-valuenow="{{ bidder.succ_rate|unlocalize }}" aria-valuemin="0" 
                                            aria-valuemax="100">
                                    </div>
                                </div>
                            {% else %}
                                <div class="progress bg-secondary p-0 m-0"style="height: 0.25rem;">
                                </div>
                            {% endif %}

                            <!-- <div class="small d-none">
                                <span class="text-secondary">{% trans 'Bids' %}:</span>
                                <span>{{ bidder.wins_count }}/{{ bidder.part_count }}</span>
                                <span class="text-secondary ms-2">{% trans 'Wins' %}:</span>
                                <span class="">{{ bidder.wins_sum|default:'-' }}/{{ bidder.bids_sum|default:'-' }}</span>
                                <span class="text-secondary ms-2">{% trans 'Success' %}:</span>
                                <span class="">{{ bidder.succ_rate|floatformat:2|default:'-' }}%</span>
                            </div> -->
                            
                        </div>
                    </a>
                {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}
{% endblock content %}


