{% extends 'base/base.html' %}
{% load i18n l10n static humanize groupify tz %}


{% block title %}
    {% trans "Bid details" %}
{% endblock title %}


{% block content %}

    <div class="">

        <div class="mb-3">
            <span class="h3">{% trans "Bid details" %}</span>
        </div>
 
        <div class="my-3" id="bid-details">

            <div class="row gx-4 gy-0" id="bidDigest">

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Bid Amount" %}
                            </div>
                            <div id="" class="">
                                {% if bid.amount_c %}<span class="fw-bold">{{ bid.amount_c }}</span>{% endif %}
                                <span class="{% if bid.amount_c %}small ms-1 fw-light text-decoration-linethrough{% else %}fw-bold{% endif %}">{{ bid.amount_s }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Bid status" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.get_status_display }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Bond amount" %}
                            </div>
                            <div id="" class="">
                                <span class="fw-bold">{{ bid.bond_amount }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Bond status" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.get_bond_status_display }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Object" %}
                            </div>
                            <div id="" class="">
                                {% if bid.lot.tender.lots_count > 1 %}
                                    <div class="mb-2">
                                        <span class="badge bg-secondary me-1">{% trans "Lot" %} {{ bid.lot.number }}</span>
                                        <span class="">{{ bid.lot.title }}</span>
                                    </div>
                                <span class="badge bg-secondary me-1">{% trans "Tender" %}</span>
                                {% endif %}
                                <span class="{% if bid.lot.tender.lots_count > 1 %}text-secondary{% endif %}">{{ bid.lot.tender.title }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Client" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.lot.tender.client.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Tender Deadline" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.lot.tender.deadline }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Bid Submitted" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.date_submitted.date|default:'--' }}</span>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-12 col-md-6">
                    <div class="d-flex my-3">
                        <div><i class="bi bi-dash-lg"></i></div>
                        <div class="ms-2 w-100 border border-0 border-bottom">
                            <div class="text-muted small fw-light">
                                {% trans "Result" %}
                            </div>
                            <div id="" class="">
                                <span class="">{{ bid.get_result_display }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if bid.file_bond %}
                    <div class="col-12 col-md-6">
                        <div class="d-flex my-3">
                            <div><i class="bi bi-dash-lg"></i></div>
                            <div class="ms-2 w-100 border border-0 border-bottom">
                                <div class="text-muted small fw-light">
                                    {% trans "Bond file" %}
                                </div>
                                <div id="">
                                    <a href="{% url 'bidding_bid_b_file' bid.id %}" 
                                    class="text-decoration-none">
                                        <span class="small"><i class="{{ bicons.download }}"></i></span>
                                        <span class="">{{ bid.file_bond_name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if bid.file_submitted %}
                    <div class="col-12 col-md-6">
                        <div class="d-flex my-3">
                            <div><i class="bi bi-dash-lg"></i></div>
                            <div class="ms-2 w-100 border border-0 border-bottom">
                                <div class="text-muted small fw-light">
                                    {% trans "Submitted file" %}
                                </div>
                                <div id="">
                                    <a href="{% url 'bidding_bid_s_file' bid.id %}" 
                                    class="text-decoration-none">
                                        <span class="small"><i class="{{ bicons.download }}"></i></span>
                                        <span class="">{{ bid.file_submitted_name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if bid.file_receipt %}
                    <div class="col-12 col-md-6">
                        <div class="d-flex my-3">
                            <div><i class="bi bi-dash-lg"></i></div>
                            <div class="ms-2 w-100 border border-0 border-bottom">
                                <div class="text-muted small fw-light">
                                    {% trans "Receipt file" %}
                                </div>
                                <div id="">
                                    <a href="{% url 'bidding_bid_r_file' bid.id  %}" 
                                    class="text-decoration-none">
                                        <span class="small"><i class="{{ bicons.download }}"></i></span>
                                        <span class="">{{ bid.file_receipt_name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div id="bid-tmeline" class="my-3">
                    <div class="col-12">

                        <div class="d-flex my-3">
                            <div><i class="bi bi-dash-lg"></i></div>
                            <div class="ms-2 w-100 border border-0 border-bottom">
                                <div class="text-muted small fw-light">
                                    {% trans "Timeline" %}
                                </div>
                                <div id="">                                    
                                    {% for item in timeline %}
                                        <div class="mb-1 {% if item.past == True %}text-secondary{% endif %}">
                                            <span><i class="small {% if item.bicon %}{{item.bicon}}{% else %}bi bi-dash-lg{% endif %}"></i></span>
                                            <span><i class="bi bi-dash-lg"></i></span>
                                            <span class="{% if item.past != True %}fw-bold{% endif %}">{{ item.date }}</span>
                                            {% if item.past != True %}
                                                <span class="badge small ms-1 bg-primary">{{ item.date|timeuntil }}</span>
                                            {% else %}
                                                <span class="badge small ms-1 bg-secondary-subtle text-secondary fw-light">{{ item.date|timesince }}</span>
                                            {% endif %}
                                            <span class="ms-2 small">{{ item.event }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="my-3" id="bid-files">

            <div>
                {% if bid.file_bond %}
                    <div>
                        <span class="small fw-light me-2">{% trans "Bond" %}:</span>                    
                        <span>{{ bid.file_bond.url }}</span>
                    </div>
                {% endif %}
                
                {% if bid.file_submitted %}
                    <div>
                        <span class="small fw-light me-2">{% trans "Submitted" %}:</span>
                        <span>{{ bid.file_submitted.url }}</span>
                    </div>
                {% endif %}

                {% if bid.file_receipt %}
                    <div>
                        <span class="small fw-light me-2">{% trans "Receipt" %}:</span>
                        <span>{{ bid.file_receipt.url }}</span>
                    </div>
                {% endif %} 
            </div>
        </div>

        <div class="my-3" id="bid-milestones">
            <h4>Tasks and Milestones</h4>
        </div>

        <div class="my-3" id="bid-contracts">
            <h4>Contracts list</h4>
        </div>

    </div>

{% endblock content %}


<!-- ################ -->

