{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Bids list" %}
{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Bids list" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'bidding/snippets/bids/bid-search-form.html' %}
            {% include 'bidding/snippets/bids/bid-menu-sort.html' %}
        </div>
    </div>

    <div class="fw-light mx-2 mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
        {% endif %}
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Items found" %}.</span>
        {% if page_obj.has_other_pages %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>            
        {% endif %}
    </div>

    <!-- lot               team              result
    amount_c          bond              
    file_bond         file_submitted    file_receipt      file_other    
    created           updated           creator -->

    {% if page_obj %}
        <div class="container py-4 px-0">
            {% for bid in page_obj %}
                <a href="{% url 'bidding_bid_details' bid.id %}" 
                    class="btn text-start w-100 p-0 mb-2">
                    <div class="card shadow py-2 px-3">
                        <div class="">
                            {% if bid.lot.tender.lots_count > 1 %}
                                <span class="fw-bold small">{% trans "Lot" %} {{ bid.lot.number }}: </span>
                                <span>{{ bid.lot.title }}</span>
                            {% else %}
                                <span>{{ bid.lot.tender.title }}</span>
                            {% endif %}
                            <div class="text-end">   
                                <span class="small badge bg-{{ bid.status_tint }}">{{ bid.get_status_display }}</span> 
                                {% if bid.result %}
                                    <span class="small badge bg-{{ bid.result_tint }}">{{ bid.get_result_display }}</span>
                                {% endif %} 
                                <span class="small badge bg-{% if bid.result %}{{ bid.result_tint }}{% else %}{{ bid.status_tint }}{% endif %}">{{ bid.amount_s }}</span>
                            </div>
                        </div>

                        <div class="small">
                            {% if bid.date_submitted %}
                                <span class="text-secondary">{% trans 'Sumbitted' %}:</span>
                                <span>{{ bid.date_submitted.date }}</span>
                            {% endif %}
                            <span class="text-secondary ms-2">{% trans 'Company' %}:</span>
                            <span class="">{{ bid.company.name }}</span>
                            <span class="text-secondary ms-2">{% trans 'Bond' %}:</span>
                            {% if bid.rebondable == True %}
                                <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                            {% else %}
                                <i class="bi bi-check-square"></i>
                            {% endif %}
                            <span class="">{{ bid.bond }}</span>
                        </div>
                        
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}
{% endblock content %}


