{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Bids list" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "My Bids" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'bidding/snippets/bids/bid-search-form.html' %}
            {% include 'bidding/snippets/bids/bid-menu-sort.html' %}
        </div>
    </div>

    <div class="fw-light mx-2 mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
        {% endif %}
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Tenders found" %}.</span>
        {% if page_obj.has_other_pages %}
        {% endif %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>
    </div>

    {% if page_obj %}
        <div class="container py-4 px-0">
            {% for tender in page_obj %}
            <div class="card shadow mb-3">
                <div class="card-header small p-2">
                    <span class="text-secondary fw-light twolines">{{ tender.title }}</span>
                </div>
                <div class="card-body p-0">
                    {% for lot in tender.lots.all %}
                        {% if lot.team_bids %}
                                {% if tender.lots_count > 1 %}
                                    <div class=" mx-1 mt-1 p-2 pb-0">
                                        <div class="oneline small fw-light text-secondary">
                                            <span class="fw-bold">Lot {{ lot.number }}</span>
                                            <span>: {{ lot.title }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            <div class="list-group">
                                {% for bid in lot.team_bids %}
                                    <a href="{% url 'bidding_bid_details' bid.id %}" 
                                       target="_parent" class="w-100 text-decoration-none
                                              {% if forloop.last %}
                                                rounded-bottom
                                              {% endif %}">
                                        <div class="list-group-item list-group-item-action p-2">
                                            <div class="row g-1 my-2">
                                                <div class="col-12 col-md-6">
                                                    <div>
                                                        <span class="badge bg-{{ bid.status_tint }}">{{ bid.get_status_display }}</span>
                                                        {% if bid.date_submitted %}
                                                            <span><i class="bi bi-clock small ms-2"></i></span>
                                                            <span class="small">{{ bid.date_submitted.date }}</span>
                                                        {% endif %}
                                                    </div>
                                                    {% if bid.duplicated %}
                                                        <span class="small text-danger"><i class="bi bi-layers-fill"></i></span>
                                                    {% endif %}
                                                    <span class="">{{ bid.company.name }}</span>
                                                    <span class="ms-2 fw-light">By</span>
                                                    <span>{{ bid.creator }}</span>
                                                    <div></div>
                                                </div>
                                                <div class="col-12 col-md-6 text-end">
                                                    <div>
                                                        <span class="fw-bold">{{ bid.amount }}</span>
                                                    </div>
                                                    <div>
                                                        <span class="badge bg-{{ bid.result_tint }}">{{ bid.get_result_display }}</span>
                                                        <!-- <span class="badge bg-{{ bid.tag_tint }}">{{ bid.tag_display }}</span> -->
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}
    

{% endblock content %}


