{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "My team" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "My team" %}</span>
        </div>
    </div>

    {% if manage %}
        <a href="#" class="btn btn-outline-primary my-3">
            <i class="{{ bicons.edit }} me-2"></i>
            <span>{% trans "Rename" %}</span>
        </a>

        <a href="#" class="btn btn-outline-primary my-3">
            <i class="{{ bicons.create }} me-2"></i>
            <span>{% trans "Add member" %}</span>
        </a>
    {% endif %}

    <div class="container py-4 px-0">

        <div class="row g-1 my-1">
            <div class="col-12 col-md-6">                
                <div class="">
                    <span class="text-muted small fw-light me-2">{% trans 'Name' %}</span>
                    <span>{{ team.name }}</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="">
                    <span class="text-muted small fw-light me-2">{% trans 'Active' %}</span>
                    <span>{{ team.active }}</span>
                </div>                
            </div>
            <div class="col-12 col-md-6">   
                <div class="mb-2">
                    <span class="text-muted small fw-light me-2">{% trans 'Creator' %}</span>
                    <span>{{ team.creator.username }}</span>
                </div>             
            </div>
            <div class="col-12 col-md-6">   
                <div class="mb-2">
                    <span class="text-muted small fw-light me-2">{% trans 'Created' %}</span>
                    <span>{{ team.created.date|default:'-' }}</span>
                </div>             
            </div>
            <div class="col-12">
                {% if team.image %}
                    <div class="mb-2">
                        <span class="text-muted small fw-light me-2">{% trans 'Image' %}</span>
                        <span>{{ team.image.url }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    
    {% if page_obj %}

        <div class="container py-3 px-0">

            <div class="fw-light mt-1">
                <span class="small text-muted">{% trans "Members found" %}: </span>
                <span class="fw-bold">
                    {{ page_obj.paginator.count }} 
                </span>
                <span class="small text-muted">.</span>

                <span class="small text-muted">{% trans "Showing" %}:</span>
                <span class="small">
                    {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
                </span>
            </div>

            {% for member in page_obj %}
                <div class="card shadow my-3">
                    {% include 'bidding/snippets/members/member-item.html' with member=member %}
                </div>
            {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}



    {% if manage %}

        <div id="rename-modal">
            
        </div>

        <div id="invite-modal">
            
            <div id="bidDeleteModal" class="modal fade" 
                    tabindex="-1" aria-labelledby="bidDeleteModalLabel" 
                    aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form id="bid-delete-form" method="post">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-danger fw-bold" id="bidDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="my-2">
                                    <div class="mb-1">
                                        <span class="small fw-light">{% trans "Amount" %}: </span>
                                        <span id="bid-span-amount"></span>
                                    </div>
                                    <div class="mb-1">
                                        <span class="small fw-light">{% trans "Company" %}: </span>
                                        <span id="bid-span-company"></span>
                                    </div>
                                    <div class="mb-1">
                                        <span class="small fw-light">{% trans "Result" %}: </span>
                                        <span id="bid-span-result"></span>
                                    </div>
                                </div>
                                
                                <div class="my-2">
                                    <span class="text-danger">{% trans "This bid, its associated data and files will be permanently deleted." %}</span>
                                </div>

                                <select class="form-select mb-2" name="confirmed" aria-label="Delete confirmation select">
                                    <option selected value="not_sure">{% trans "I am not sure" %}</option>
                                    <option selected value="just_delete">{% trans "Just delete it" %}</option>
                                    <option value="know">{% trans "I know what I am doing" %}</option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    <span><i class="bi bi-x-lg"></i></span>
                                    <span class="ms-1">{% trans "Cancel" %}</span>
                                </button>
                                <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                    <span><i class="{{ bicons.delete }}"></i></span>
                                    <span class="ms-1">{% trans 'Delete' %}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    

{% endblock content %}


