{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "My team" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "My team" %}</span>
        </div>
    </div>

    {% if manage %}
        <a href="#" class="btn btn-outline-primary my-3">
            <i class="{{ bicons.edit }} me-2"></i>
            <span>{% trans "Rename" %}</span>
        </a>

        <a href="#" class="btn btn-outline-primary my-3">
            <i class="{{ bicons.create }} me-2"></i>
            <span>{% trans "Add member" %}</span>
        </a>
    {% endif %}

    <div class="container py-4 px-0">

        <div class="row g-1 my-1">
            <div class="col-12 col-md-6">                
                <div class="">
                    <span class="text-muted small fw-light me-2">{% trans 'Name' %}</span>
                    <span>{{ team.name }}</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="">
                    <span class="text-muted small fw-light me-2">{% trans 'Active' %}</span>
                    <span>{{ team.active }}</span>
                </div>                
            </div>
            <div class="col-12 col-md-6">   
                <div class="mb-2">
                    <span class="text-muted small fw-light me-2">{% trans 'Creator' %}</span>
                    <span>{{ team.creator.username }}</span>
                </div>             
            </div>
            <div class="col-12 col-md-6">   
                <div class="mb-2">
                    <span class="text-muted small fw-light me-2">{% trans 'Created' %}</span>
                    <span>{{ team.created.date|default:'-' }}</span>
                </div>             
            </div>
            <div class="col-12">
                {% if team.image %}
                    <div class="mb-2">
                        <span class="text-muted small fw-light me-2">{% trans 'Image' %}</span>
                        <span>{{ team.image.url }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    
    {% if page_obj %}

        <div class="container py-3 px-0">

            <div class="fw-light mt-1">
                <span class="small text-muted">{% trans "Members found" %}: </span>
                <span class="fw-bold">
                    {{ page_obj.paginator.count }} 
                </span>
                <span class="small text-muted">.</span>

                <span class="small text-muted">{% trans "Showing" %}:</span>
                <span class="small">
                    {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
                </span>
            </div>

            {% for member in page_obj %}
                <div class="card shadow my-3">
                    {% include 'bidding/snippets/members/member-item.html' with member=member %}
                </div>
            {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}



    {% if manage %}

        <div id="rename-modal">
            
        </div>

        <div id="invite-modal">
            
        </div>

    {% endif %}
    

{% endblock content %}


