{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Expenses list" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Expenses list" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'bidding/snippets/expenses/expense-search-form.html' %}
            {% include 'bidding/snippets/expenses/expense-menu-sort.html' %}
        </div>
    </div>

    <div class="fw-light mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
            <span class="small text-muted">{% trans "Results are filtered" %}.</span>
        {% endif %}
        <span class="fw-bold">
            {{ expenses_count }} 
        </span>
        <span class="small text-muted">{% trans "Expenses found" %}.</span>
    </div>

    <div class="container py-4 px-0">
        {% if expenses_count > 0 %}

            {% if expenses_pending.all|length != 0 %}
                <div id="accordionPending">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pendingCollapse" aria-expanded="false" aria-controls="pendingCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.deadline }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Pending" %}:</span>
                                            <span class="ms-1 small">{{ expenses_pending.all|length }}</span>
                                        </span>
                                        {% if total_pending != 0 %}
                                            <span class="float-end text-end ms-3 me-2">
                                                <span class="fw-bold text-secondary">{{ total_pending }}</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </button>
                            </h2>
                                <div id="pendingCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionPending">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for expense in expenses_pending.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/expenses/expense-item.html' with expense=expense show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if expenses_paid.all|length != 0 %}
                <div id="accordionPaid">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paidCollapse" aria-expanded="false" aria-controls="paidCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.started }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Paid" %}:</span>
                                            <span class="ms-1 small">{{ expenses_paid.all|length }}</span>
                                        </span>
                                        {% if total_paid != 0 %}
                                            <span class="float-end text-end ms-3 me-2">
                                                <span class="fw-bold text-secondary">{{ total_paid }}</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </button>
                            </h2>
                                <div id="paidCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionPaid">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for expense in expenses_paid.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/expenses/expense-item.html' with expense=expense show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if expenses_confirmed.all|length != 0 %}
                <div id="accordionConfirmed">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#confirmedCollapse" aria-expanded="false" aria-controls="confirmedCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.finished }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Confirmed" %}:</span>
                                            <span class="ms-1 small">{{ expenses_confirmed.all|length }}</span>
                                        </span>
                                        {% if total_confirmed != 0 %}
                                            <span class="float-end text-end ms-3 me-2">
                                                <span class="fw-bold text-secondary">{{ total_confirmed }}</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </button>
                            </h2>
                                <div id="confirmedCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionConfirmed">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for expense in expenses_confirmed.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/expenses/expense-item.html' with expense=expense show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if expenses_cancelled.all|length != 0 %}
                <div id="accordionCancelled">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cancelledCollapse" aria-expanded="false" aria-controls="cancelledCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.cancelled }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Cancelled" %}:</span>
                                            <span class="ms-1 small">{{ expenses_cancelled.all|length }}</span>
                                        </span>
                                        {% if total_cancelled != 0 %}
                                            <span class="float-end text-end ms-3 me-2">
                                                <span class="fw-bold text-danger">{{ total_cancelled }}</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </button>
                            </h2>
                                <div id="cancelledCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionCancelled">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for expense in expenses_cancelled.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/expenses/expense-item.html' with expense=expense show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div id="confirmation-modlas">

                <div id="expenseDeleteModal" class="modal fade" 
                        tabindex="-1" aria-labelledby="expenseDeleteModalLabel" 
                        aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form id="expense-delete-form" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger fw-bold" id="expenseDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="my-2">
                                        <div class="mb-1">
                                            <span class="small fw-light">{% trans "Amount" %}: </span>
                                            <span id="expense-span-amount"></span>
                                        </div>
                                        <div class="mb-1">
                                            <span class="small fw-light">{% trans "Title" %}: </span>
                                            <span id="expense-span-title"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="my-2">
                                        <span class="text-danger">{% trans "This expense, its associated data and files will be permanently deleted." %}</span>
                                    </div>

                                    <select class="form-select mb-2" name="confirmed" aria-label="Delete confirmation select">
                                        <option selected value="not_sure">{% trans "I am not sure" %}</option>
                                        <option value="just_delete">{% trans "Just delete it" %}</option>
                                        <option value="know">{% trans "I know what I am doing" %}</option>
                                    </select>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        <span><i class="bi bi-x-lg"></i></span>
                                        <span class="ms-1">{% trans "Cancel" %}</span>
                                    </button>
                                    <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                        <span><i class="{{ bicons.delete }}"></i></span>
                                        <span class="ms-1">{% trans 'Delete' %}</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script>

                    // Expense deletion
                    const expenseDeleteModal = document.getElementById('expenseDeleteModal');
                    const expenseSpanAmount  = document.getElementById('expense-span-amount');
                    const expenseSpanTitle   = document.getElementById('expense-span-title');
                    const expenseDeleteForm  = document.getElementById('expense-delete-form');

                    expenseDeleteModal.addEventListener('show.bs.modal', function (event) {
                        const button = event.relatedTarget;

                        expenseSpanAmount.innerText  = button.dataset.amount;
                        expenseSpanTitle.innerText   = button.dataset.title;
                        expenseDeleteForm.action     = button.dataset.url;
                    });

                </script>

            </div>
    
        {% else %}
            {% include 'base/snippets/empty-list.html' %}
        {% endif %}

    </div>

{% endblock content %}


