{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Tasks list" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Tasks list" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'bidding/snippets/tasks/task-search-form.html' %}
            {% include 'bidding/snippets/tasks/task-menu-sort.html' %}
        </div>
    </div>

    <div class="fw-light mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
            <span class="small text-muted">{% trans "Results are filtered" %}.</span>
        {% endif %}
        <span class="fw-bold">
            {{ tasks_count }} 
        </span>
        <span class="small text-muted">{% trans "Tasks found" %}.</span>
    </div>

    <div class="container py-4 px-0">
        {% if tasks_count > 0 %}
            {% if tasks_overdue.all|length != 0 %}
                <div id="accordionOverdue">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#overdueCollapse" aria-expanded="false" aria-controls="overdueCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.expired }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Overdue" %}:</span>
                                            <span class="ms-1 small">{{ tasks_overdue.all|length }}</span>
                                        </span>
                                    </div>
                                </button>
                            </h2>
                                <div id="overdueCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionOverdue">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for task in tasks_overdue.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/tasks/task-item.html' with task=task show_bid='yes' %}                                                     
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if tasks_pending.all|length != 0 %}
                <div id="accordionPending">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pendingCollapse" aria-expanded="false" aria-controls="pendingCollapse">
                                    <div class="w-100">
                                        <span class="">                                    
                                            <span><i class="{{ bicons.edit }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Pending" %}:</span>
                                            <span class="ms-1 small">{{ tasks_pending.all|length }}</span>
                                        </span>
                                    </div>
                                </button>
                            </h2>
                                <div id="pendingCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionPending">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for task in tasks_pending.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/tasks/task-item.html' with task=task show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if tasks_started.all|length != 0 %}
                <div id="accordionStarted">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#startedCollapse" aria-expanded="false" aria-controls="startedCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.started }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Started" %}:</span>
                                            <span class="ms-1 small">{{ tasks_started.all|length }}</span>
                                        </span>
                                    </div>
                                </button>
                            </h2>
                                <div id="startedCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionStarted">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for task in tasks_started.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/tasks/task-item.html' with task=task show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if tasks_finished.all|length != 0 %}
                <div id="accordionFinished">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#finishedCollapse" aria-expanded="false" aria-controls="finishedCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.finished }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Finished" %}:</span>
                                            <span class="ms-1 small">{{ tasks_finished.all|length }}</span>
                                        </span>
                                    </div>
                                </button>
                            </h2>
                                <div id="finishedCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionFinished">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for task in tasks_finished.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/tasks/task-item.html' with task=task show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if tasks_cancelled.all|length != 0 %}
                <div id="accordionCancelled">
                    <div class="accordion my-3">
                        <div class="accordion-item shadow-sm">
                            <h2 class="accordion-header">
                                <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cancelledCollapse" aria-expanded="false" aria-controls="cancelledCollapse">
                                    <div class="w-100">
                                        <span class="">
                                            <span><i class="{{ bicons.cancelled }}"></i></span>
                                            <span class="ms-2 fw-light">{% trans "Cancelled" %}:</span>
                                            <span class="ms-1 small">{{ tasks_cancelled.all|length }}</span>
                                        </span>
                                    </div>
                                </button>
                            </h2>
                                <div id="cancelledCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionCancelled">
                                    <div class="accordion-body p-0">
                                        <div class="list-group small mb-0">
                                            {% for task in tasks_cancelled.all %}
                                                <div class="list-group-item-action border-bottom p-0">
                                                    {% include 'bidding/snippets/tasks/task-item.html' with task=task show_bid='yes' %}
                                                </div>
                                            {% empty %}
                                                <div class="list-group-item p-2 text-secondary">
                                                    <span class="ms-1">{% trans "None found" %}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            <div id="confirmation-modlas">

                <div id="taskDeleteModal" class="modal fade" 
                        tabindex="-1" aria-labelledby="taskDeleteModalLabel" 
                        aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form id="task-delete-form" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger fw-bold" id="taskDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="my-2">
                                        <div class="mb-1">
                                            <span class="small fw-light">{% trans "Due date" %}: </span>
                                            <span id="task-span-date"></span>
                                        </div>
                                        <div class="mb-1">
                                            <span class="small fw-light">{% trans "Title" %}: </span>
                                            <span id="task-span-title"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="my-2">
                                        <span class="text-danger">{% trans "This task, its associated data and files will be permanently deleted." %}</span>
                                    </div>

                                    <select class="form-select mb-2" name="confirmed" aria-label="Delete confirmation select">
                                        <option selected value="not_sure">{% trans "I am not sure" %}</option>
                                        <option value="just_delete">{% trans "Just delete it" %}</option>
                                        <option value="know">{% trans "I know what I am doing" %}</option>
                                    </select>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        <span><i class="bi bi-x-lg"></i></span>
                                        <span class="ms-1">{% trans "Cancel" %}</span>
                                    </button>
                                    <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                        <span><i class="{{ bicons.delete }}"></i></span>
                                        <span class="ms-1">{% trans 'Delete' %}</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script>

                    // Task deletion
                    const taskDeleteModal = document.getElementById('taskDeleteModal');
                    const taskSpanDate    = document.getElementById('task-span-date');
                    const taskSpanTitle   = document.getElementById('task-span-title');
                    const taskDeleteForm  = document.getElementById('task-delete-form');

                    taskDeleteModal.addEventListener('show.bs.modal', function (event) {
                        const button = event.relatedTarget;

                        taskSpanDate.innerText  = button.dataset.date;
                        taskSpanTitle.innerText = button.dataset.title;
                        taskDeleteForm.action   = button.dataset.url;
                    });
                    
                </script>

            </div>
    
        {% else %}
            {% include 'base/snippets/empty-list.html' %}
        {% endif %}

    </div>

{% endblock content %}


