{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Member disabled" %}
{% endblock title %}


{% block content %}



    <div class="mb-5">
        <div class="d-flex align-items-center justify-content-between px-0">
            <div class="">
                <span class="h3">{% trans "Member disabled" %}</span>
            </div>

        </div>

        <div>

            <div class="container px-0 pt-2">

                <div class="my-2">
                    <span class="small text-secondary me-1">{% trans "Team" %}:</span>
                    <span class="fw-bold">{{ team.name }}</span>
                </div>
                <div class="text-danger my-2">
                    {% trans "Your membership is disabled" %}
                </div>
                <div class="text-secondary small my-2">
                    {% trans "Please contact your team Manager" %}:
                </div>

                <div class="my-2">
                    {% if team.active_managers %}
                        <div class="list-group">
                            {% for member in team.active_managers %}
                                {% if member != user %}
                                {% endif %}
                                    <div class="list-group-item">
                                        <div class="text-secondary small">
                                            <span class="fw-bold me-2">@{{ member.username }}</span>
                                            <span class="fw-light small">{{ member.first_name|default:'' }}</span>
                                            <span class="fw-light small">{{ member.last_name|default:'' }}</span>
                                            <span class="ms-2">
                                                <a href="mailto:{{ member.email }}">{{ member.email }}</a>                                                
                                            </span>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>                
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    

{% endblock content %}


