{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "My team" %}
{% endblock title %}


{% block content %}

    {% if invitable and invited.all %}
        <div id="received-invitations-section" class="mb-5">                    
            <div class="d-flex align-items-center justify-content-between px-0">
                <div class="">
                    <span class="h3">{% trans "Received Invitations" %}</span>
                    <span class="small text-muted me-1">: </span>
                    <span class="fw-bold">
                        {{ invited.count }} 
                    </span>
                </div>
            </div>

            <div id="received-invitations" class="pt-2">
                {% for invit in invited.all %}
                    <div class="list-group mb-3 shadow">
                        <div class="list-group-item list-group-item-action bg-warning-subtle p-2">
                            <div class="d-flex justify-content-between px-0">
                                <div>
                                    <div>
                                        <span class="me-2">  
                                            <span><i class="{{ bicons.team }} small text-secondary"></i></span>
                                            <span class="fw-bold">{{ invit.team.name }}</span>                                          
                                        </span>
                                        <span class="badge bg-warning" data-bs-toggle="tooltip" title="{% trans 'Expiry' %}: {{ invit.expiry }}">
                                            <i class="{{ bicons.deadline }}"></i>
                                            <span>{{ invit.expiry|timeuntil }}</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="small text-secondary me-2" data-bs-toggle="tooltip" title="{% trans 'Sent' %}: {{ invit.created }}">
                                            <i class="{{ bicons.history }} small"></i>
                                            <span class="small">{{ invit.created }}</span>
                                        </span>
                                        <span>
                                            <span><i class="{{ bicons.contact }} small text-secondary"></i></span>
                                            <span class="">@{{ invit.creator.username }}</span>          
                                        </span>
                                    </div>
                                    {% if invit.message %}
                                        <div class="fw-bold m-2 ms-4">
                                            {{ invit.message }}
                                        </div>
                                    {% endif %}

                                    <div class="mt-2 g-4">
                                        {% if invit.show_my_email %}
                                            {% if invit.creator.email %}
                                                <a href="mailto:{{ invit.creator.email }}" 
                                                   class="me-2 btn btn-sm btn-outline-primary"
                                                   data-bs-toggle="tooltip" title="{{ invit.creator.email }}"
                                                   >
                                                    <i class="{{ bicons.email }}"></i>
                                                    <span class="text-uppercase">{% trans "Email" %}</span>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        <a class="me-2 btn btn-sm btn-outline-success" 
                                           data-bs-toggle="modal" data-bs-target="#acceptInvitationModal"
                                           data-url="{% url 'bidding_invitation_accept' invit.id %}"
                                           data-team="{{ invit.team.name }}">
                                            <i class="{{ bicons.accept }}"></i>
                                            <span class="text-uppercase">{% trans "Accept" %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group mb-3 shadow">
                        <div class="list-group-item list-group-item-action p-2">
                            <span class="text-danger small">{% trans "No open invitation found" %}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    <div id="team-header" class="mb-5">
        <div class="d-flex align-items-center justify-content-between px-0">
            <div class="">
                <span class="h3">{% trans "My team" %}</span>
            </div>
            <div id="team-actions">
                {% if manage %}
                    <a href="#" class="ms-2 btn btn-sm btn-outline-secondary"
                       data-bs-toggle="modal" data-bs-target="#teamEditModal">
                        <i class="{{ bicons.edit }}"></i>
                    </a>
                {% endif %}
            </div>

        </div>

        <div id="team-info">

            <div class="container px-0 pt-2">

                <div class="d-inline-block me-3">                
                    <div class="">
                        <span class="text-muted small fw-light me-1">{% trans 'Name' %}:</span>
                        <span>{{ team.name }}</span>
                    </div>
                </div>
                <div class="d-inline-block me-3">   
                    <div class="">
                        <span class="text-muted small fw-light me-1">{% trans 'Creator' %}:</span>
                        <span>@{{ team.creator.username }}</span>
                    </div>             
                </div>

                <div class="d-inline-block me-3">   
                    <div class="">
                        <span class="text-muted small fw-light me-1">{% trans 'Created' %}:</span>
                        <span>{{ team.created.date|default:'-' }}</span>
                    </div>             
                </div>

            </div>
        </div>
    </div>
    
    {% if invitations %}
        <div id="open-invitations" class="mb-5">
            {% if manage %}
                <div class="d-flex align-items-center justify-content-between px-0">
                    <div class="">
                        <span class="h3">{% trans "Sent Invitations" %}</span>
                        <span class="small text-muted me-1">: </span>
                        <span class="fw-bold">
                            {{ invitations.count }} 
                        </span>
                    </div>
                    <div id="open-invitations-actions">
                        {% if manage %}
                            <button type="button" class="ms-2 btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newInvitationModal">
                                <i class="{{ bicons.create }}"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="container px-0 pt-2">
                    <div class="list-group">
                        {% for inv in invitations %}
                            <div class="list-group-item list-group-item-action p-2">
                                <div class="d-flex justify-content-between px-0">
                                    <div>
                                        <div>
                                            <span><i class="{{ bicons.contact }} small text-secondary"></i></span>
                                            <span class="fw-bold">@{{ inv.username }}</span>
                                        </div>
                                        <div>
                                            <span class="badge bg-warning" data-bs-toggle="tooltip" title="{% trans 'Expiry' %}: {{ inv.expiry }}">
                                                <i class="{{ bicons.deadline }}"></i>
                                                <span>{{ inv.expiry|timeuntil }}</span>
                                            </span>
                                            {% if inv.reply == '0' %}
                                                <span class="badge bg-danger ms-2" data-bs-toggle="tooltip" title="{% trans 'Declined' %}: {{ inv.reply_on }}">
                                                    <i class="{{ bicons.cancelled }} small"></i>
                                                    <span class="small">{% trans "Declined" %}</span>
                                                </span>
                                                {% if inv.response %}
                                                    <div class="fw-bold m-2 ms-4">
                                                        {{ inv.response }}
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% if inv.seen_on %}
                                                    <span class="small text-secondary ms-2" data-bs-toggle="tooltip" title="{% trans 'Seen' %}: {{ inv.seen_on }}">
                                                        <i class="{{ bicons.views }} small"></i>
                                                        <span class="small">{{ inv.seen_on }}</span>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        {% if manage %}
                                            <a href="#" class="ms-2 btn btn-sm btn-outline-danger" 
                                            data-bs-toggle="modal" data-bs-target="#cancelInvitationModal"
                                            data-url="{% url 'bidding_invitation_cancel' inv.id %}">
                                                <i class="{{ bicons.cancelled }}"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="list-group-item list-group-item-action p-2">
                                <span class="text-danger small">{% trans "No open invitation found" %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
        
    <div id="team-members" class="mb-5">

        <div class="d-flex align-items-center justify-content-between px-0">
            <div class="">
                <span class="h3">{% trans "Members" %}</span>
                <span class="small text-muted me-1">: </span>
                <span class="fw-bold">
                    {{ page_obj.paginator.count }} 
                </span>
            </div>
            {% if not invitations %}
                <div id="open-invitations-actions">
                    {% if manage %}
                        <button type="button" class="ms-2 btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newInvitationModal">
                            <i class="{{ bicons.create }}"></i>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="container px-0 pt-2">
            {% if page_obj %}

                <div class="">

                    {% for member in page_obj %}
                        <div class="card shadow mb-3">
                            {% include 'bidding/snippets/members/member-item.html' with member=member %}
                        </div>
                    {% endfor %}
                    
                </div>

                {% include 'base/snippets/paginator.html' %}

            {% else %}
                {% include 'base/snippets/empty-list.html' %}
            {% endif %}

        </div>
    </div>


    <div id="rename-modal">
        
        <div id="teamEditModal" class="modal fade" 
                tabindex="-1" aria-labelledby="teamEditModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="team-edit-form" method="post" action="{% url 'bidding_team_edit' team.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="teamEditModalLabel">{% trans "Team edit" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-4">
                                    <div class="small text-muted">
                                        <span>{% trans "Name" %}</span>
                                    </div>
                                    <div class="ms-3">
                                        <input class="form-control" type="text" name="team_name" value="{{ team.name }}">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div id="invitation-modals">            
        
        <div id="newInvitationModal" class="modal fade" 
                tabindex="-1" aria-labelledby="newInvitationModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="new-invitation-form" method="post" action="{% url 'bidding_invitation_create' team.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="newInvitationModalLabel">{% trans "New member invitation" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                {% for field in invitation_form.visible_fields %}
                                    <div class="col-12 mt-3">
                                        <div class="small {% if field.errors %}text-danger{% else %}text-muted{% endif %}">
                                            <span>{{ field.label_tag }}</span>
                                        </div>
                                        <div class="ms-3">{{ field }}</div>

                                        {% for error in field.errors %}
                                            <div class="ms-3 text-danger small">
                                                <span><i class="bi bi-sign-stop"></i></span>
                                                <span class="">{{ error }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Validity" %}:</span> 
                                    <span class="fw-bold">{{ expiry_hours }}</span>
                                    <span>{% trans "hours" %}</span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary">
                                <span><i class="{{ bicons.delete }}"></i></span>
                                <span class="ms-1">{% trans 'Save' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="cancelInvitationModal" class="modal fade" 
                tabindex="-1" aria-labelledby="cancelInvitationModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="cancel-invitation-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="cancelInvitationModalLabel">{% trans "Confirm cancellation" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to cancel this invitation" %} ?</span> 
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-danger" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.cancelled }}"></i></span>
                                <span class="ms-1">{% trans 'Cancel invitation' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="acceptInvitationModal" class="modal fade" 
                tabindex="-1" aria-labelledby="acceptInvitationModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="accept-invitation-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="acceptInvitationModalLabel">{% trans "Confirm acceptation" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small">{% trans "Team" %}.</span> 
                                    <span id="team-name-span" class="fw-bold"></span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-danger">{% trans "You will leave your current team" %}.</span> 
                                    <span class="text-danger">{% trans "Your data may be visible to the new team members" %}.</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to accept this invitation" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <select class="form-select mb-2" name="confirmed" aria-label="Delete confirmation select">
                                        <option selected value="not_sure">{% trans "I am not sure" %}</option>
                                        <option selected value="just_accept">{% trans "Just accept it" %}</option>
                                        <option value="know">{% trans "I understand and I want to join this team" %}</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Accept invitation' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div id="member-modals">

        <div id="memberDisableModal" class="modal fade" 
                tabindex="-1" aria-labelledby="memberDisableModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="member-disable-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="memberDisableModalLabel">{% trans "Confirm disabling" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to disable this member" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Username" %}: </span> 
                                    <span id="member-disable-username-span" class="fw-bold"></span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="memberEnableModal" class="modal fade" 
                tabindex="-1" aria-labelledby="memberEnableModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="member-enable-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="memberEnableModalLabel">{% trans "Confirm enabling" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to enable this member" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Username" %}: </span> 
                                    <span id="member-enable-username-span" class="fw-bold"></span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="memberDebossifyModal" class="modal fade" 
                tabindex="-1" aria-labelledby="memberDebossifyModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="member-debossify-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="memberDebossifyModalLabel">{% trans "Confirm making not Manager" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to make this member not Manager" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Username" %}: </span> 
                                    <span id="member-debossify-username-span" class="fw-bold"></span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="memberBossifyModal" class="modal fade" 
                tabindex="-1" aria-labelledby="memberBossifyModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="member-bossify-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="memberBossifyModalLabel">{% trans "Confirm making Manager" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Team managers can edit other team members, including other team managers" %}.</span>
                                    <span class="text-secondary">{% trans "Are you sure you want to make this member Manager" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-danger fw-bold">{% trans "Only procede if you trust this user 100%" %}.</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Username" %}: </span> 
                                    <span id="member-bossify-username-span" class="fw-bold"></span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="memberFireModal" class="modal fade" 
                tabindex="-1" aria-labelledby="memberFireModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="member-fire-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="memberFireModalLabel">{% trans "Confirm firing" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row g-3">

                                <div class="col-12 mt-3">
                                    <span class="text-secondary">{% trans "Are you sure you want to fire this member" %} ?</span> 
                                </div>

                                <div class="col-12 mt-3">
                                    <span class="text-secondary small fw-light">{% trans "Username" %}: </span> 
                                    <span id="member-fire-username-span" class="fw-bold"></span>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Close" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-outline-primary" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.accept }}"></i></span>
                                <span class="ms-1">{% trans 'Confirm' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div id="bid-delete-modal">
        
        <div id="bidDeleteModal" class="modal fade" 
                tabindex="-1" aria-labelledby="bidDeleteModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="bid-delete-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-danger fw-bold" id="bidDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2">
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Amount" %}: </span>
                                    <span id="bid-span-amount"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Company" %}: </span>
                                    <span id="bid-span-company"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Result" %}: </span>
                                    <span id="bid-span-result"></span>
                                </div>
                            </div>
                            
                            <div class="my-2">
                                <span class="text-danger">{% trans "This bid, its associated data and files will be permanently deleted." %}</span>
                            </div>

                            <select class="form-select mb-2" name="confirmed" aria-label="Delete confirmation select">
                                <option selected value="not_sure">{% trans "I am not sure" %}</option>
                                <option selected value="just_delete">{% trans "Just delete it" %}</option>
                                <option value="know">{% trans "I know what I am doing" %}</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Cancel" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.delete }}"></i></span>
                                <span class="ms-1">{% trans 'Delete' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Invitation cancel
        const cancelInvitationModal = document.getElementById('cancelInvitationModal');
        // const expenseSpanAmount  = document.getElementById('expense-span-amount');
        // const expenseSpanTitle   = document.getElementById('expense-span-title');
        const cancelInvitationForm  = document.getElementById('cancel-invitation-form');

        cancelInvitationModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            // expenseSpanAmount.innerText  = button.dataset.amount;
            // expenseSpanTitle.innerText   = button.dataset.title;
            cancelInvitationForm.action     = button.dataset.url;
        });


        // Invitation accept
        const acceptInvitationModal = document.getElementById('acceptInvitationModal');
        const acceptInvitationForm  = document.getElementById('accept-invitation-form');
        const teamSpanName  = document.getElementById('team-name-span');

        acceptInvitationModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            teamSpanName.innerText  = button.dataset.team;
            acceptInvitationForm.action     = button.dataset.url;
        });


        // Member diasble
        const memberDisableModal = document.getElementById('memberDisableModal');
        const memberDisableForm  = document.getElementById('member-disable-form');
        const memberDisableUsernameSpan = document.getElementById('member-disable-username-span');

        memberDisableModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            memberDisableUsernameSpan.innerText  = button.dataset.username;
            memberDisableForm.action     = button.dataset.url;
        });


        // Member enble
        const memberEnableModal = document.getElementById('memberEnableModal');
        const memberEnableForm  = document.getElementById('member-enable-form');
        const memberEnableUsernameSpan = document.getElementById('member-enable-username-span');

        memberEnableModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            memberEnableUsernameSpan.innerText  = button.dataset.username;
            memberEnableForm.action     = button.dataset.url;
        });


        // Member make not manager
        const memberDebossifyModal = document.getElementById('memberDebossifyModal');
        const memberDebossifyForm  = document.getElementById('member-debossify-form');
        const memberDebossifyUsernameSpan = document.getElementById('member-debossify-username-span');

        memberDebossifyModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            memberDebossifyUsernameSpan.innerText  = button.dataset.username;
            memberDebossifyForm.action     = button.dataset.url;
        });


        // Member make not manager
        const memberBossifyModal = document.getElementById('memberBossifyModal');
        const memberBossifyForm  = document.getElementById('member-bossify-form');
        const memberBossifyUsernameSpan = document.getElementById('member-bossify-username-span');

        memberBossifyModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            memberBossifyUsernameSpan.innerText  = button.dataset.username;
            memberBossifyForm.action     = button.dataset.url;
        });


        // Member delete
        const memberFireModal = document.getElementById('memberFireModal');
        const memberFireForm  = document.getElementById('member-fire-form');
        const memberFireUsernameSpan = document.getElementById('member-fire-username-span');

        memberFireModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            memberFireUsernameSpan.innerText  = button.dataset.username;
            memberFireForm.action     = button.dataset.url;
        });

    </script>
    

{% endblock content %}


