{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Tenders bid on" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Tenders bid on" %}</span>
        </div>
        <div class="d-flex align-items-top">
            {% include 'bidding/snippets/tenders/tender-search-form.html' %}
            {% include 'bidding/snippets/tenders/tender-menu-sort.html' %}
        </div>
    </div>

    <div class="fw-light mt-1">
        {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
        {% endif %}
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Tenders found" %}.</span>
        {% if page_obj.has_other_pages %}
        {% endif %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>
    </div>

    {% if page_obj %}
        <div class="container py-4 px-0">
            {% for tender in page_obj %}
                <a class="text-decoration-none text-reset" target="_blank"
                   href="{% url 'portal_tender_detail' tender.id %}">                                               
                    <div class="card shadow mb-4" id="t-{{ tender.chrono }}-top">
                        
                        <div class="card-header p-2">
                            <div class="twolines text-secondary" data-bs-toggle="tooltip" 
                                title="{{ tender.client.name }}">
                                <span class="small"><i class="small {{ bicons.client }} me-1"></i></span>
                                <span class="small">{{ tender.client.name }}</span>
                            </div>
                        </div>

                        {% if not tender.expired %}
                            <div class="progress bg-danger p-0 m-0" 
                                style="max-height: 0.25rem;"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Bidding deadline' %}: {{ tender.deadline }}">
                                {% with tender.days_to_go|barify:full_bar_days as green %}
                                    <div class="progress-bar bg-success" 
                                        role="progressbar" style="width: {{ green }}%;" 
                                        aria-valuenow="{{ green }}" aria-valuemin="0" 
                                        aria-valuemax="100">
                                    </div>
                                {% endwith %}
                            </div>
                        {% endif %}

                        <div class="card-body p-0">
                            {% for lot in tender.lots.all %}
                                {% if lot.team_bids %}
                                    {% if tender.lots_count > 1 %}
                                        <div class="border-0 border-bottom">
                                            <div class="px-2 pt-3 pb-0">
                                                <div class="oneline small fw-light text-secondary">
                                                    <span class="fw-bold">Lot {{ lot.number }}</span>
                                                    <span>: {{ lot.title }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="">
                                        {% for bid in lot.team_bids %}
                                            {% include 'bidding/snippets/tenders/tender-item.html' %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card-footer small text-secondary p-2">
                            <div class="twolines" data-bs-toggle="tooltip" title="{{ tender.title }}">
                                {% if tender.openings.all|length > 0 %}
                                    <span><i class="{{ bicons.deliberated }} me-1"></i></span>
                                {% endif %}
                                {% if tender.cancelled %}
                                    <span class="small badge bg-danger me-1 blink">
                                        <i class="{{ bicons.cancelled }}"></i>
                                        <span>{% trans "CANCELLED" %}</span>
                                    </span>
                                {% endif %}
                                <span class="fw-light">{{ tender.title }}</span>
                            </div>
                        </div>

                    </div>
                </a> 
            {% endfor %}
        </div>

        {% include 'base/snippets/paginator.html' %}

    {% else %}
        {% include 'base/snippets/empty-list.html' %}
    {% endif %}
    
    <script>
        const deleteModal = document.getElementById('bidDeleteModal');
        const spanAmount = document.getElementById('span-amount');
        const spanCompany = document.getElementById('span-company');
        const spanResult = document.getElementById('span-result');
        const deleteForm = document.getElementById('delete-form');

        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            spanAmount.innerText = button.dataset.amount;
            spanCompany.innerText = button.dataset.company;
            spanResult.innerText = button.dataset.result;
            deleteForm.action = button.dataset.url;
        });
    </script>

{% endblock content %}


