{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link py-2 dropdown-toggle"
        href="#" id="portalScrollingDropdown" role="button" 
        data-bs-toggle="dropdown" aria-expanded="false">
    <i class="{{ bicons.bdc }} me-1"></i> {% trans 'Purchase Orders' %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="portalScrollingDropdown">
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'bdc_bdc_list' %}">
                <i class="{{ bicons.search }} me-2"></i>
                {% trans 'Browse' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.location }} me-2"></i>
                {% trans 'Results' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.insights }} me-2"></i>
                {% trans 'Insights' %}
            </a>
        </li>
    </ul>
</li>
