{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link py-2 dropdown-toggle"
        href="#" id="bdcDropdown" role="button" 
        data-bs-toggle="dropdown" aria-expanded="false">
        <span>{% trans 'Bidding' %}</span>
    </a>
    <ul class="dropdown-menu shadow" aria-labelledby="bdcDropdown">

        <li class="">
            <a class="dropdown-item py-2 fw-bold" href="{% url 'insights_bidders_list' %}">
                <i class="{{ bicons.concurrence }} me-2"></i>
                {% trans 'Concurrents' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" href="{% url 'bidding_tenders_list' %}">
                <i class="{{ bicons.bid_tender }} me-2"></i>
                <span>{% trans 'Tenders' %}</span>
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" href="{% url 'bidding_bids_list' %}">
                <i class="{{ bicons.bid }} me-2"></i>
                <span>{% trans 'Bids' %}</span>
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" href="{% url 'bidding_bonds_list' %}">
                <i class="{{ bicons.bond }} me-2"></i>
                <span>{% trans 'Bonds' %}</span>
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.contract }} me-2"></i>
                <span>{% trans 'Contracts' %}</span>
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.expense }} me-2"></i>
                <span>{% trans 'Expenses' %}</span>
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.payment }} me-2"></i>
                <span>{% trans 'Payments' %}</span>
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.task }} me-2"></i>
                <span>{% trans 'Schedule' %}</span>
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.contact }} me-2"></i>
                <span>{% trans 'Contacts' %}</span>
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" href="#">
                <i class="{{ bicons.analysis }} me-2"></i>
                <span>{% trans 'Analysis' %}</span>
            </a>
        </li>
    </ul>
</li>



