{% load i18n %}
{% load static %}


<div class="nav-item dropdown">
    {% if request.user.is_authenticated %}
        <a class="btn px-1 py-1 nav-link dropdown-toggle text-end" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span><img class="rounded-circle" height="24" width="24" src="{{ request.user.profile.avatar }}" alt="Avatar"></span>
            <span>{{ request.user.username|truncatechars:8 }}</span>
        </a>
    {% else %}
        <a class="btn px-1 py-1 nav-link dropdown-toggle text-end" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span><img class="rounded-circle" height="24" src="{% static 'avatars/default.png' %}" alt="Avatar"></span>
        </a>
    {% endif %}
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userDropdown">
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'nas_profile_view' %}" class="p-2 dropdown-item" type="button">
                    <span><i class="bi bi-person-vcard me-2"></i></span>
                    <span class="">{% trans "Profile" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'nas_user_settings' %}?&next={{ request.get_full_path }}" class="p-2 dropdown-item" type="button">
                    <span><i class="bi bi-gear me-2"></i></span>
                    <span class="">{% trans "Preferences" %}</span>
                </a>
            </li>
            <!-- {% url 'account_email' as email_url_ %}
            {% if email_url_ %}
                <li>
                    <a href="{{ email_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-envelope-check me-2"></i></span>
                        <span class="ms-1">{% trans "Change Email" %}</span>
                    </a>
                </li>
            {% endif %} -->
            <!-- {% url 'account_change_password' as change_password_url_ %}
            {% if change_password_url_ %}
                <li>
                    <a href="{{ change_password_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-person-lock me-2"></i></span>
                        <span class="ms-1">{% trans "Change Password" %}</span>
                    </a>
                </li>
            {% endif %} -->
            <!-- {% url 'socialaccount_connections' as connections_url_ %}
            {% if connections_url_ %}
                <li>
                    <a href="{{ connections_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-plug me-2"></i></span>
                        <span class="ms-1">{% trans "Account Connections" %}</span>
                    </a>
                </li>
            {% endif %} -->
            {% url 'mfa_index' as mfa_url_ %}
            {% if mfa_url_ %}
                <li>
                    <a href="{{ mfa_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-fingerprint me-2"></i></span>
                        <span class="">{% trans "Two-Factor Authentication" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'usersessions_list' as usersessions_list_url_ %}
            {% if usersessions_list_url_ %}
                <li>
                    <a href="{{ usersessions_list_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-database-lock me-2"></i></span>
                        <span class="">{% trans "Sessions" %}</span>
                    </a>
                </li>
            {% endif %}


            {% if request.user.is_superuser %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item p-2" href="https://emarches.com/crm/supervision">
                        <i class="bi bi-eye-fill me-2"></i> {% translate 'Supervision' %}
                        {% if new_contactings %}<span class="badge bg-danger text-white mx-1">{{ new_contactings.count }}</span>{% endif %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item p-2" target="_blank" href="/admin"><i class="bi bi-tools me-2"></i> {% translate 'Administration' %}</a>
                </li>
                <li>
                    <a class="dropdown-item p-2" target="_blank" href="https://pgadmin.emarches.com/"><i class="bi bi-database-fill-gear me-2"></i> {% translate 'Database' %}</a>
                </li>
                <li>
                    <a class="dropdown-item p-2" target="_blank" href="https://emarches.com/slogs"><i class="bi bi-robot me-2"></i> Scraper Logs</a>
                </li>
                <li>
                    <a class="dropdown-item p-2" target="_blank" href="https://emarches.com/certs.txt"><i class="bi bi-lock me-2"></i> Certificates</a>
                </li>
                <li><hr class="dropdown-divider"></li>
            {% endif %}


            {% url 'account_logout' as logout_url_ %}
            {% if logout_url_ %}
                <li>
                    <a href="{{ logout_url_ }}" class="p-2 dropdown-item text-danger fw-bold" type="button">
                        <span><i class="bi bi-door-open me-2"></i></span>
                        <span class="">{% trans "Sign Out" %}</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% url 'account_login' as login_url_ %}
            {% if login_url_ %}
                <li>
                    <a href="{{ login_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-box-arrow-in-right me-2"></i></span>
                        <span class="">{% trans "Sign In" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'account_signup' as signup_url_ %}
            {% if signup_url_ %}
                <li>
                    <a href="{{ signup_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-slash-square me-2"></i></span>
                        <span class="">{% trans "Sign Up" %}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
