{% load i18n l10n humanize groupify tz %}

<div class="card shadow shadow-sm">
    <div class="card-header p-0">
        <div class="px-2 py-1">
            <div class="fs-5 fw-bold text-center">{{ bidder.name }}</div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="d-flex justify-content-between align-items-center">
            <div id="round-progress" class="mt-2">

                <div class="d-inline-flex align-items-center justify-content-center"
                    style="width: 6rem; height: 6rem;">
 
                    <svg viewBox="0 0 36 36" class="w-100 h-100">

                        <circle
                            cx="18" cy="18" r="15.9155"
                            fill="var(--bs-light)"
                            stroke="#ccc"
                            stroke-width="1" />

                        {% if bids_success_rate %}
                            <circle
                                cx="18" cy="18" r="15.9155"
                                fill="none"
                                stroke="var(--bs-success)"
                                stroke-width="2" stroke-linecap="round"
                                stroke-dasharray="{{ bids_success_rate|unlocalize|default:'0' }}, 999"
                                transform="rotate(-90 18 18)" />
                        {% endif %}

                        {% if admin_reject_rate %}
                            <circle
                                cx="18" cy="18" r="15.9155"
                                fill="none"
                                stroke="var(--bs-danger)"
                                stroke-width="2" stroke-linecap="round"
                                stroke-dashoffset="-{{ bids_success_rate|unlocalize|default:'0' }}"
                                stroke-dasharray="{{ admin_reject_rate|unlocalize|default:'0' }}, 999"
                                transform="rotate(-90 18 18)" />
                        {% endif %}

                        {% if admin_reserve_rate %}
                            <circle
                                cx="18" cy="18" r="15.9155"
                                fill="none"
                                stroke="var(--bs-warning)"
                                stroke-width="2" stroke-linecap="round"
                                stroke-dashoffset="-{{ reserve_rate_offset|unlocalize|default:'0' }}"
                                stroke-dasharray="{{ admin_reserve_rate|unlocalize|default:'0' }}, 999"
                                transform="rotate(-90 18 18)" />
                        {% endif %}

                        {% if tech_reject_rate %}
                            <circle
                                cx="18" cy="18" r="15.9155"
                                fill="none"
                                stroke="var(--bs-danger)"
                                stroke-width="2" stroke-linecap="round"
                                stroke-dashoffset="-{{ tech_rate_offset|unlocalize|default:'0' }}"
                                stroke-dasharray="{{ tech_reject_rate|unlocalize|default:'0' }}, 999"
                                transform="rotate(-90 18 18)" />
                        {% endif %}

                        <circle
                            cx="18" cy="18" r="12"
                            fill="none"
                            stroke="#ccc"
                            stroke-width="1.5" />

                        {% if finacial_success_rate %}
                            <circle
                                cx="18" cy="18" r="12"
                                fill="none"
                                stroke="var(--bs-success)"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-dasharray="{% widthratio finacial_success_rate 100000 75398 %}, 999"
                                transform="rotate(-90 18 18)" />
                        {% endif %}

                        <text x="18" y="20"
                            class="fw-bold text-success"
                            font-size="5"
                            text-anchor="middle">
                            {{ all_awards_sum|metrify|default:'0' }}
                        </text>
                    </svg>


                </div>

            </div>
            <div id="extra-data" class="ms-2 small text-end">                

                <div>
                    <span class="text-secondary">{% trans 'Awarded Bids' %}:</span>
                    <span class="ms-1">{{ winners_deposits|length }}</span>
                    <span class="small">/</span>
                    <span class="">{{ all_deposits|length }}</span>
                </div>

                <div>
                    <span class="text-secondary">{% trans 'Awarded amount' %}:</span>
                    <span class="ms-1">{{ all_awards_sum|metrify|default:'-' }}</span>
                    <span class="small">/</span>
                    <span class="">{{ all_deposits_sum|metrify|default:'-' }}</span>                 
                </div>

                <div>
                    <span class="text-secondary">{% trans 'Latest bid' %}:</span>
                    <span class="ms-1">{{ latest_award_date|default:'-' }}</span>                    
                </div>

                <div>
                    <span class="text-secondary">{% trans 'Highest award' %}:</span>
                    <span class="ms-1">{{ highest_award_amount|metrify|default:'-' }}</span>
                </div>

            </div>
        </div>
    </div>
</div>


