{% load i18n %}

<div class="list-group">
    {% for client in bidder.clients %}
        <a class="list-group-item list-group-item-action border-0 border-bottom" target="_blank"
            href="{% url 'portal_tender_list' %}?&q={{ client.name }}&f=client&exact=yes">
            <div class="">{{ client.name }}</div>
            <div>
                <span class="float-end small">
                        <span class="fw-light small">{% trans 'Bids' %}:</span>
                    <span class="fw-bold">{{ client.deposits_count }}</span>
                </span>
            </div>
        </a>
    {% empty %}
        <div class="list-group-item border-0 border-bottom">
            <div class="fw-light small text-danger ">{% trans 'None' %}</div>
        </div>
    {% endfor %}
</div>