{% load i18n static %}   
{% load humanize %}
{% load tz %}

<div class="my-3">
    <div class="card shadow shadow-sm">
        <a class="btn p-0 w-100 text-start" href="{% url 'bdc_bdc_detail' bdc.id %}">           
            <div class="card-header px-3 py-1">
                <div class="d-flex justify-content-between">

                    <div class="d-flex align-items-center">
                        <div class="{% if wrap_text == False %}oneline{% endif %}" id="t{{ bdc.chrono }}h">
                            <span class="fs-5" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Main Category' %}: {{ bdc.category.label }}">
                                <i class="{{ bdc.category.icon_bs_class }} me-1"></i>
                            </span>
                            <span class="small me-2">
                                <i class="{{ bicons.articles }} me-0"></i>
                                <span class="">{{ bdc.articles.all.count }}</span>
                            </span>
                            {% if bdc.id in pinned_ids %}

                                <span id="pinned" class="me-2 px-2 py-1 badge text-bg-success">
                                    <span class="">
                                        <i class="{{ bicons.pinned }}"></i>
                                        <span class="d-none d-md-inline">{% trans "FAVORITED" %}</span>
                                    </span>
                                </span>

                            {% endif %}
                            {% if bdc.location %}
                                <span class="fw-light small text-muted me-1" 
                                    data-bs-toggle="tooltip" 
                                    title="{% trans 'Execution Location' %}: {{ bdc.location }}">
                                    <span><i class="{{ bicons.location }}"></i></span>
                                    <span>{{ bdc.location }}</span>
                                </span>
                            {% endif %}
                            <span class="fw-light small text-muted me-1" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Public Client' %}: {{ bdc.client.name }}">
                                <span><i class="{{ bicons.client }}"></i></span>
                                <span>{{ bdc.client|default:'?' }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="progress bg-danger p-0 mx-0 mb-1" 
                    style="height: 0.25rem;"
                    data-bs-toggle="tooltip"
                    title="{% trans 'Bidding deadline' %}: {{ bdc.deadline }}">
                {% with bdc.days_to_go|progrefy:full_bar_days as green %}
                    <div class="progress-bar bg-success" 
                            role="progressbar" style="width: {{ green }}%;" 
                            aria-valuenow="{{ green }}" aria-valuemin="0" 
                            aria-valuemax="100">
                    </div>
                {% endwith %}
            </div>

            <div class="card-body px-3 py-2">

                <div id="t{{ bdc.chrono }}t" class="{% if wrap_text == False %}twolines{% endif %}">
                    <div data-bs-toggle="tooltip"
                        title="{% trans 'Purchase Order object' %}: {{ bdc.title }}">
                        {% if bdc.expired %}
                            <span class="badge bg-secondary me-2 fst-italic">
                                <i class="{{ bicons.expired }} me-1"></i>
                                {% trans "EXPIRED" %}
                            </span>
                        {% endif %}
                        <span class="text-wrap 
                                     {% if bdc.expired %}text-secondary fst-italic{% endif %}
                                     {% if bdc.cancelled %}text-danger{% endif %}">
                            {{ bdc.title }}
                        </span>
                    </div>
                </div>

            </div> 

            {% if bdc.deliberated %}
                <div class="card-footer px-3 py-2">
                    <div class="">
                        <span class="">
                            {% timezone "Africa/Casablanca" %}
                                <span class="small text-muted">
                                    <i class="{{ bicons.deliberated }}"></i>
                                    <span>{{ bdc.deliberated }}</span>
                                </span>
                            {% endtimezone %}
                            
                            <span class="ms-2 small text-muted">
                                <i class="{{ bicons.count }}"></i>
                                <span class="">{{ bdc.bids_count|default:'-' }}</span>
                            </span>
                        </span>
                        <span class="">
                            {% if bdc.unsuccessful == True %}
                                <span class="ms-2 small text-danger">
                                    <i class="{{ bicons.unsuccessful }}"></i>
                                    <span class="">{% trans "UNSUCCESSFUL" %}</span>
                                </span>
                            {% elif bdc.unsuccessful == False %}
                                <span class="rounded ms-2 small text-success">  
                                    <span class="">
                                        <i class="{{ bicons.winner }}"></i>
                                        <span>{{ bdc.winner_entity|default:'?' }}</span>
                                    </span>
                                </span>
                                <span class="ms-2 small text-success">
                                    <span class="">
                                        <i class="{{ bicons.estimate }}"></i>
                                        <span>{{ bdc.winner_amount|default:'?' }}</span>                                        
                                    </span>
                                </span>
                            {% else %}
                                <span class="ms-2 small text-secondary">
                                    <span class="">
                                        <i class="bi bi-check-circle small"></i>
                                        <span>{% trans "DELIBIRATED" %}</span>
                                    </span>
                                </span>
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %}                    
        </a>
    </div>
</div>
