{% load i18n %}
{% load humanize %}

<div class="text-center">

    <a class="m-1 btn btn-outline-primary" 
       type="button" onclick="sharePage(`https://new.emarches.com`)">
        <span><i class="{{ bicons.share }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Share' %}</span>
    </a>

    <button class="m-1 btn btn-outline-primary" type="button" 
            data-bs-toggle="modal" data-bs-target="#dceModal">
        <span><i class="{{ bicons.downloads }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Files' %}</span>
    </button>

    <a href="{{ bdc.link }}" target="_blank" class="m-1 btn btn-outline-primary">
        <span><i class="{{ bicons.bidding }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Bidding' %}</span>
    </a>
    
</div>