{% load i18n %}
<div class="small">
    <div class="dropdown dropstart">
        <button class="btn btn-light py-1 mx-1" type="button" 
                data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-toggle="tooltip" 
                title="{% trans 'Clean my Favorites' %}">
            <i class="{{ bicons.delete }}"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end shadow">
            <div class="ms-3 mb-2">
                <span class="">{% trans 'Clean Favorites' %}</span>
            </div>
            
            <hr class="dropdown-divider">
            
            <li>
                <a class="dropdown-item py-2"
                   href="#" data-bs-toggle="modal"
                   data-bs-target="#cleanPinsModal"
                   data-button-id="unsuccessful">
                    <i class="{{ bicons.unsuccessful }}"></i>
                    {% trans "Unsuccessful" %}
                </a>
            </li>
            
            <li>
                <a class="dropdown-item py-2"
                   href="#" data-bs-toggle="modal"
                   data-bs-target="#cleanPinsModal"
                   data-button-id="awarded">
                    <i class="{{ bicons.winner }} me-2"></i>
                    {% trans "Awarded" %}
                </a>
            </li>
            
            <li>
                <a class="dropdown-item py-2"
                   href="#" data-bs-toggle="modal"
                   data-bs-target="#cleanPinsModal"
                   data-button-id="deliberated">
                    <i class="{{ bicons.deliberated }} me-2"></i>
                    {% trans "Deliberated" %}
                </a>
            </li>
            
            <li>
                <a class="dropdown-item py-2"
                   href="#" data-bs-toggle="modal"
                   data-bs-target="#cleanPinsModal"
                   data-button-id="expired">
                    <i class="{{ bicons.deadline }} me-2"></i>
                    {% trans "Expired" %}
                </a>
            </li>
            
            <li>
                <a class="dropdown-item py-2 text-danger"
                   href="#" data-bs-toggle="modal"
                   data-bs-target="#cleanPinsModal"
                   data-button-id="all">
                    <i class="{{ bicons.clean_all }} me-2"></i>
                    {% trans "All Favorites" %}
                </a>
            </li>
        </ul>
    </div>

    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <div id="cleanPinsModal" class="modal fade" tabindex="-1" aria-labelledby="cleanPinsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cleanPinsModalLabel">{% translate "Confirm Cleaning" %}</h1>
                </div>
                <div class="modal-body">

                    <div class="text-muted my-2">
                        {% translate "Are you sure you want to clean your selected Favorited items ?" %}
                    </div>

                    <div class="text-danger my-2">
                        {% translate "This operation is not reversible" %}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        <span><i class="bi bi-x-lg"></i></span>
                        <span class="ms-1">{% translate 'Cancel' %}</span>
                    </button>

                    <button class="btn btn-outline-danger"
                            id="cleanButton" type="button">
                        <i class="{{ bicons.delete }} me-2"></i>
                        {% trans 'Confirm' %}
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="tosts-container" class="toast-container bottom-0 end-0 p-3" style="position: fixed; z-index: 99;">
        
        <div class="toast bg-success-subtle " id="cleanAllToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-success">
                    <strong class="me-auto" id="cleanAllToastHeader">
                        {% trans "Favorites cleaned successfully." %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

        <div class="toast bg-danger-subtle " id="failedToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="d-flex  justify-content-between">
                <div class="toast-body alert-danger">
                    <strong class="me-auto" id="failedToastHeader">
                        {% trans "Operation failed" %}. {% trans "Please refresh the page or try again later" %}.
                    </strong>
                </div>
                    <button type="button" class="btn-close me-2 m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div> 

    </div>

    <script>
        function cleanAllPins(perimeter) {
            const token = document.getElementById('csrf_token').value;
            url = `{% url 'bdc_bdc_stickies_remove_all' %}`

            const xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('X-CSRFToken', token);
            xhr.setRequestHeader('Accept', 'text/plain');
            // xhr.setRequestHeader('body', 'text/plain');
            const payload = { perimeter: perimeter };

            // xhr.send(JSON.stringify(payload));


            // 
            const pin_indicator = document.getElementById('pinned')
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let cleanAllToast = document.getElementById('cleanAllToast');
                        let cleanAllAlert = new bootstrap.Toast(cleanAllToast);
                        cleanAllAlert.show();
                        location.reload(true);
                    } else {
                        let failedToast = document.getElementById('failedToast');
                        let failedAlert = new bootstrap.Toast(failedToast);
                        failedAlert.show();
                        // alert('Operation Failed !');
                    }
                }
            };
            xhr.onerror = function () {
                console.error('Network error while cleaning favorites');
            };

            xhr.send(JSON.stringify(payload));
            // xhr.send({ perimeter: perimeter });
        }

        document.getElementById('cleanPinsModal').addEventListener('show.bs.modal', function (e) {
            const button = e.relatedTarget;
            const perimeter = button.getAttribute('data-button-id');
            this.querySelector('#cleanButton').onclick = function() {
                cleanAllPins(perimeter);
            };
        });

    </script>
</div>