{% load i18n %}
<div class="small">
    <div class="dropdown dropstart">
        <button class="btn btn-light py-1 mx-1" type="button" 
                data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-toggle="tooltip" 
                title="{% trans 'Order items by' %}">
            <i class="{{ bicons.sort }}"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end shadow">
            <div class="ms-3 mb-2">
                <span class="">{% trans 'Ordering' %} :</span>
            </div>

            <li>
                {% trans 'Deadline' as caption %}
                {% include 'bdc/snippets/bdcs/menu-sort-item.html' with caption=caption field='deadline' icon=bicons.deadline %}
            </li>
            
            <li>
                {% trans 'Published' as caption %}
                {% include 'bdc/snippets/bdcs/menu-sort-item.html' with caption=caption field='published' icon=bicons.published %}
            </li>
            
            <li>
                {% trans 'Deliberated' as caption %}
                {% include 'bdc/snippets/bdcs/menu-sort-item.html' with caption=caption field='deliberated' icon=bicons.deliberated %}
            </li>
            
            <li>
                {% trans 'Winner amount' as caption %}
                {% include 'bdc/snippets/bdcs/menu-sort-item.html' with caption=caption field='winner_amount' icon=bicons.estimate %}
            </li>

            <li><hr class="dropdown-divider"></li>

            <li class="">
                <a class="dropdown-item py-2"
                href="{% url 'nas_user_settings' %}?&next={{ request.get_full_path }}#collapsePurchaseOrders">
                    <i class="{{ bicons.settings }} me-2"></i>
                    {% trans 'Preferences' %}
                </a>
            </li>
        </ul>
    </div>
</div>