{% load i18n %}
{% load paraminos %}

<button class="btn btn-light py-1 mx-1" type="button" 
        data-bs-toggle="modal" data-bs-target="#searchModal"
        data-bs-toggle="tooltip"
        title="{% trans 'Serach Tenders' %}">
    <i class="{{ bicons.search }}"></i>
</button>

<form action="{% url 'bdc_bdc_list' %}?{{ query_string }}&sort={{ query_string.sorter }}">
    <div class="modal fade" id="searchModal" tabindex="-1" 
        aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="searchModalLabel">{% trans "PO's Search" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body pb-0">

                    <div class="row gx-3">
                            
                        <div class="col-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Keywords" %}</span></span>
                                <input type="text" class="form-control" id="search_input" name="q" value="{{ query_dict.q }}" placeholder="{% trans 'keywords' %}" aria-label="search_query">
                            </div>
                        </div>
                            
                        <div class="col-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Search field" %}</span></span>
                                <select class="form-select" name="f" aria-label="f">
                                    <option {% if query_dict.f == '' %} selected {% endif %} value="">-- {% trans 'Any' %} --</option>
                                    <option {% if query_dict.f == 'title' %} selected {% endif %} value="title">{% trans 'Object' %}</option>
                                    <option {% if query_dict.f == 'reference' %} selected {% endif %} value="reference">{% trans 'Reference' %}</option>
                                    <option {% if query_dict.f == 'client' %} selected {% endif %} value="client">{% trans 'Client' %}</option>
                                    <option {% if query_dict.f == 'location' %} selected {% endif %} value="location">{% trans 'Location' %}</option>
                                    <option {% if query_dict.f == 'articles' %} selected {% endif %} value="articles">{% trans 'Articles' %}</option>
                                    <option {% if query_dict.f == 'winners' %} selected {% endif %} value="winners">{% trans 'Winners' %}</option>
                                </select>
                            </div>
                        </div>
                                                        
                        <div class="col-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Deadline Min" %}</span></span>
                                <input type="date" class="form-control text-end" name="ddlnn" value="{{ query_dict.ddlnn }}" placeholder="{% trans 'Min' %}" aria-label="deadline_min">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Deadline Max" %}</span></span>
                                <input type="date" class="form-control text-end" name="ddlnx" value="{{ query_dict.ddlnx }}" placeholder="{% trans 'Max' %}" aria-label="deadline_max">
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="collapseAdvanced">

                        <div class="row gx-3 mb-2">
                            
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Published Min" %}</span></span>
                                    <input type="date" class="form-control text-end" name="publn" value="{{ query_dict.publn }}" placeholder="{% trans 'Min' %}" aria-label="published_min">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Published Max" %}</span></span>
                                    <input type="date" class="form-control text-end" name="publx" value="{{ query_dict.publx }}" placeholder="{% trans 'Max' %}" aria-label="published_max">
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Deliberated Min" %}</span></span>
                                    <input type="date" class="form-control text-end" name="delin" value="{{ query_dict.delin }}" placeholder="{% trans 'Min' %}" aria-label="deliberated_min">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Deliberated Max" %}</span></span>
                                    <input type="date" class="form-control text-end" name="delix" value="{{ query_dict.delix }}" placeholder="{% trans 'Max' %}" aria-label="deliberated_max">
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Winner amount Min" %}</span></span>
                                    <input type="number" step="any" class="form-control text-end" name="amoun" value="{{ query_dict.amoun }}" placeholder="{% trans 'Min' %}" aria-label="winner_amount_min">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Winner amount Max" %}</span></span>
                                    <input type="number" step="any" class="form-control text-end" name="amoux" value="{{ query_dict.amoux }}" placeholder="{% trans 'Max' %}" aria-label="winner_amount_max">
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Category" %}</span></span>
                                    <select class="form-select" name="category" aria-label="category">
                                        <option {% if query_dict.category == '' %} selected {% endif %} value="">--</option>
                                        {% for c in categories %}
                                            <option {% if query_dict.category == c.id|stringify %} selected {% endif %} value="{{ c.id }}">{{ c.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><span class="small text-muted"><i class="bi bi-"></i>{% trans "Results" %}</span></span>
                                    <select class="form-select" name="results" aria-label="results">
                                        <option {% if query_dict.results == '' %} selected {% endif %} value="">--</option>
                                        <option {% if query_dict.results == 'no' %} selected {% endif %} value="no">{% trans 'No results' %}</option>
                                        <option {% if query_dict.results == 'deliberated' %} selected {% endif %} value="deliberated">{% trans 'Deliberated' %}</option>
                                        <option {% if query_dict.results == 'awarded' %} selected {% endif %} value="awarded">{% trans 'Awarded' %}</option>
                                        <option {% if query_dict.results == 'unsuccessful' %} selected {% endif %} value="unsuccessful">{% trans 'Unsuccessful' %}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" name="sort" value="{{ query_dict.sort }}">
                    </div>
                </div>

                <div class="modal-footer">
                    
                    <a href="{% url 'bdc_bdc_list' %}" type="button" class="btn btn-outline-secondary">
                        <i class="{{ bicons.backspace }} me-1"></i>
                        {% trans 'Reset' %}
                    </a>

                    <button type="button" class="btn btn-outline-secondary" 
                            data-bs-toggle="collapse" data-bs-target="#collapseAdvanced" 
                            aria-expanded="false" aria-controls="collapseAdvanced">
                        <i class="{{ bicons.filter }} me-1"></i>
                        {% trans 'Advanced' %}
                    </button>

                    <button type="submit" class="btn btn-primary">
                        <i class="{{ bicons.search }} me-1"></i>
                        {% trans 'Submit' %}
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    const myModal = document.getElementById('searchModal');
    myModal.addEventListener('shown.bs.modal', function () {
        document.getElementById('search_input').focus();
    });
</script>

