{% extends 'base/base.html' %}
{% load static i18n l10n %}

{% block title %}
    {% trans "Edit Bid" %}
{% endblock title %}

{% block content %}
    <h3>{% trans "Edit Bid" %}</h3>
    <div class="my-3">
        <div class="small text-muted">
            <span>{% trans 'Tender' %}</span>
        </div>
        <div class="ms-3">
            <div class="form-control bg-secondary-subtle text-secondary">
                <div>{{ tender.title }}</div>
            </div>
        </div>
    </div>

    {% if tender.lots_count > 1 %}
        <div class="my-3">
            <div class="small text-muted">
                <span>{% trans 'Lot' %}</span>
            </div>
            <div class="ms-3">
                <div class="form-control bg-secondary-subtle text-secondary">
                    <span class="badge bg-secondary me-1">{% trans "Lot" %} {{ lot.number }}</span>
                    <span class="">{{ lot.title }}</span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row g-3 mb-3">
        <div class="col-12 col-md-6">
            <div class="small text-muted">
                <span>{% trans 'Bidding deadline' %}</span>
            </div>
            <div class="ms-3">
                <div class="form-control bg-secondary-subtle text-secondary">
                    <span class="">{{ tender.deadline }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="small text-muted">
                <span>{% trans 'Estimate' %}</span>
            </div>
            <div class="ms-3">
                <div class="form-control bg-secondary-subtle text-secondary">
                    <span>
                        {% if tender.lots_count > 1 %}
                            E = {{ lot.estimate }}
                            <input type="hidden" class="d-none" id="estimate_raw" value="{{ lot.estimate|unlocalize }}">
                        {% else %}
                            E = {{ tender.estimate }}
                            <input type="hidden" class="d-none" id="estimate_raw" value="{{ tender.estimate|unlocalize }}">
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="needs-validation my-3" novalidate>
        {% csrf_token %}

        <input type="hidden" class="d-none" name="redirect" value="{{ redir }}">

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="row g-3">
            {% for field in form.visible_fields %}
                <div class="col-12 mt-4 
                            {% if not 'textarea' in field.field.widget.template_name %}
                                {% if field.name != 'lot' and field.name != 'company' and field.name != 'file_bond' and field.name != 'file_submitted' and field.name != 'file_receipt' %}col-md-6{% endif %}
                            {% endif %}
                            ">
                    <div class="small {% if field.errors %}text-danger{% else %}text-muted{% endif %}">
                        <span>{{ field.label_tag }}</span>
                        {% if field.name == 'amount_s' %}
                            <span id="beratio" class="fw-bold text-secondary"></span>
                        {% endif %}
                    </div>
                    <div class="ms-3">{{ field }}</div>

                    {% for error in field.errors %}
                        <div class="ms-3 text-danger small">
                            <span><i class="bi bi-sign-stop"></i></span>
                            <span class="">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="mt-3 text-center">

            <a href="{% if request.META.HTTP_REFERER %}
                        {{ request.META.HTTP_REFERER }}{% else %}
                        javascript:history.back(){% endif %}" 
                class="btn btn-outline-secondary m-1">
                <i class="bi bi-backspace me-1"></i>
                {% trans 'Cancel' %}
            </a>

            <button type="submit" class="btn btn-primary m-1">
                <i class="bi bi-floppy me-1"></i>
                <span>{% trans "Save" %}</span>
            </button>

        </div>
    </form>

    <script>
        const amountInput = document.getElementById("id_amount_s");
        const estimateInput = document.getElementById("estimate_raw");
        const ratioSpan = document.getElementById("beratio");

        function updateRatio() {
            const amount = parseFloat(amountInput.value);
            const estimate = parseFloat(estimateInput.value);

            if (!isNaN(amount) && !isNaN(estimate) && estimate !== 0) {
                const ratio = 100 * (amount - estimate) / estimate;
                const sign = ratio >= 0 ? "+" : "";
                ratioSpan.textContent = ` = E ${sign}${ratio.toFixed(2)}%`;
                ratioSpan.style.display = "";
                if (ratio >= 0){
                    ratioSpan.classList.add("text-success");
                    ratioSpan.classList.remove("text-danger");
                }else{
                    ratioSpan.classList.add("text-danger");
                    ratioSpan.classList.remove("text-success");
                }
            } else {
                ratioSpan.classList.remove("text-success", "text-danger");
                ratioSpan.textContent = "";
                ratioSpan.style.display = "none";
            }
        }

        // Update on change
        amountInput.addEventListener("input", updateRatio);

        // Initial calculation
        updateRatio();
    </script>

{% endblock content %}