{% load i18n %}

<div id="privacy-message" class="card mt-4 shadow">
    <ul class="list-group list-group-flush p-0">
        <li class="list-group-item text-success">
            <div >
                <span><i class="bi bi-check-circle me-1"></i></span>
                <span class="small fw-bold">{% trans "Your data is kept private." %}</span>
                <span class="small fw-light me-2">{% trans "Only your username and avatar may be visible." %}</span>
                <span class="d-inline-block small fw-light me-2"><a href="#"><i class="bi bi-cursor me-1"></i>{% trans "Privacy policy" %}</a></span>
                <!-- <span class="d-inline-block small fw-light"><a href="javascript:" class="text-danger" onclick="this.closest('.card').style.display='none'"><i class="bi bi-x-lg me-1"></i>{% trans "Hide" %}</a></span> -->
                <span class="d-inline-block small fw-light">
                    <a href="javascript:" class="text-danger" onclick="setCookieAndHide()">
                        <i class="bi bi-x-lg me-1"></i>
                        {% trans "Hide" %}
                    </a>
                </span>
            </div>
            <div class="text-end">
            </div>
        </li>
    </ul>
</div>

<script>
    // Function to set a cookie
    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    // Function to get a cookie
    function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // Function to check cookie and toggle element visibility
    function checkCookie() {
        const hidePrivacyMessage = getCookie("hidePrivacyMessage");
        const privacyMessage = document.getElementById("privacy-message");
        if (hidePrivacyMessage === "true") {
            privacyMessage.classList.add("d-none");
        } else {
            privacyMessage.classList.remove("d-none");
        }
    }

    // Function to set cookie and hide message
    function setCookieAndHide() {
        setCookie("hidePrivacyMessage", "true", 30); // Cookie lasts 30 days
        checkCookie();
    }

    // Check cookie on page load
    window.onload = checkCookie;
</script>