{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link py-2 dropdown-toggle" 
        href="#" id="portalScrollingDropdown" role="button" 
        data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-megaphone-fill"></i> {% trans 'Tenders' %}
        {% if faved_ids %}
            <span class="badge mb-2 px-1 text-white bg-primary"> </span>
        {% endif %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="portalScrollingDropdown">
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_list' %}">
                <i class="{{ bicons.search }} me-2"></i>
                {% trans 'Browse' %}
            </a>
        </li>
        
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_favorite_list' %}">
                <i class="{{ bicons.favorite }} me-2"></i>
                {% trans 'Favourites' %}
                {% if faved_ids %}
                    <span class="badge bg-primary text-white mx-1">
                        {{ faved_ids.count|default:0 }}
                    </span>
                {% endif %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.client }} me-2"></i>
                {% trans 'Public Clients' %}
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.location }} me-2"></i>
                {% trans 'Locations' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.insights }} me-2"></i>
                {% trans 'Insights' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.shopping }} me-2"></i>
                {% trans 'Purchase Orders' %}
            </a>
        </li>
    </ul>
</li>
