{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link py-2 dropdown-toggle" 
        href="#" id="tenderDropdown" role="button" 
        data-bs-toggle="dropdown" aria-expanded="false">
        <!-- <i class="{{ bicons.tenders }} me-1"></i> -->
        <span>{% trans 'Tenders' %}</span>
    </a>
    <ul class="dropdown-menu shadow" aria-labelledby="tenderDropdown">
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_list' %}">
                <i class="{{ bicons.ongoing }} me-2"></i>
                {% trans 'Ongoing' %}
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2"  href="{% url 'portal_tender_list' %}?&ddlnn=1970-01-01&results=with_minutes">
                <i class="{{ bicons.deliberated }} me-2"></i>
                {% trans 'Results' %}
            </a>
        </li>

        <!-- <li class="">
            <a class="dropdown-item py-2 fw-bold" href="{% url 'insights_bidders_list' %}">
                <i class="{{ bicons.concurrence }} me-2"></i>
                {% trans 'Concurrence' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>
        
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_favorite_list' %}">
                <i class="{{ bicons.favorite }} me-2"></i>
                {% trans 'Favourites' %}
                {% if faved_ids %}
                    <span class="badge bg-primary text-white mx-1">
                        {{ faved_ids.count|default:0 }}
                    </span>
                {% endif %}
            </a>
        </li> -->

        {% if categories %}
            <li><hr class="dropdown-divider"></li>
            {% for cat in categories %}
                <li class="">
                    <a class="dropdown-item py-2" href="{% url 'portal_tender_list' %}?&category={{ cat.id }}">
                        <i class="bi bi-{{ cat.icon_bs_class }} me-2"></i>                        
                        {% if cat.label == "Fournitures" %}
                            {% trans "Supplies" %}
                        {% elif cat.label == "Travaux" %}
                            {% trans "Works" %}
                        {% elif cat.label == "Services" %}
                            {% trans "Services" %}
                        {% else %}
                            {{ cat.label }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2"  href="{% url 'portal_client_list' %}">
                <i class="{{ bicons.client }} me-2"></i>
                {% trans 'Clients' %}
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2"  href="{% url 'portal_locations_list' %}">
                <i class="{{ bicons.location }} me-2"></i>
                {% trans 'Locations' %}
            </a>
        </li>

        <!-- <li class="">
            <a class="dropdown-item py-2"  href="#">
                <i class="{{ bicons.insights }} me-2"></i>
                {% trans 'Insights' %}
            </a>
        </li> -->
    </ul>
</li>
