{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link py-2 dropdown-toggle" 
        href="#" id="portalScrollingDropdown" role="button" 
        data-bs-toggle="dropdown" aria-expanded="false">
    <i class="{{ bicons.tenders }} me-1"></i> {% trans 'Tenders' %}
        {% if faved_ids %}
            <span class="badge mb-2 px-1 text-white bg-primary"> </span>
        {% endif %}
    </a>
    <ul class="dropdown-menu shadow" aria-labelledby="portalScrollingDropdown">
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_list' %}">
                <i class="{{ bicons.search }} me-2"></i>
                {% trans 'Browse' %}
            </a>
        </li>
        
        <li class="">
            <a class="dropdown-item py-2" href="{% url 'portal_tender_favorite_list' %}">
                <i class="{{ bicons.favorite }} me-2"></i>
                {% trans 'Favourites' %}
                {% if faved_ids %}
                    <span class="badge bg-primary text-white mx-1">
                        {{ faved_ids.count|default:0 }}
                    </span>
                {% endif %}
            </a>
        </li>

        {% if categories %}
            <li><hr class="dropdown-divider"></li>
            {% for cat in categories %}
                <li class="">
                    <a class="dropdown-item py-2" href="{% url 'portal_tender_list' %}?&category={{ cat.id }}">
                        <i class="bi bi-{{ cat.icon_bs_class }} me-2"></i>
                        {{ cat.label }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="{% url 'portal_client_list' %}" disabled>
                <i class="{{ bicons.client }} me-2"></i>
                {% trans 'Clients' %}
            </a>
        </li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="{% url 'portal_locations_list' %}">
                <i class="{{ bicons.location }} me-2"></i>
                {% trans 'Locations' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" href="#">
                <i class="{{ bicons.insights }} me-2"></i>
                {% trans 'Insights' %}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="">
            <a class="dropdown-item py-2" aria-disabled="true" 
               href="{% url 'nas_user_settings' %}?&next={{ request.get_full_path }}#collapseTenders">
                <i class="{{ bicons.settings }} me-2"></i>
                {% trans 'Preferences' %}
            </a>
        </li>
    </ul>
</li>
