{% load i18n %}

<div id="expense-{{ expense.id }}-line">
        
    <a data-bs-toggle="collapse" href="#expense-{{ expense.id }}-collapse"
        role="button" aria-expanded="false" aria-controls="expense-{{ expense.id }}-collapse"
        class="text-decoration-none text-reset">
        <div class="d-flex p-2">
            <div class="flex-grow-1">
                <span class="badge bg-{{ expense.status_tint }}" data-bs-toggle="tooltip" 
                    title="{% trans 'Status' %}: {{ expense.get_status_display|default:'-' }}">
                    {{ expense.get_status_display|default:'-' }}
                </span>
                <span>{{ expense.title|default:'-' }}</span>
            </div>
            <div class="text-end">
                <span class="fw-bold" data-bs-toggle="tooltip" 
                    title="{% trans 'Amount, Inc. Taxes' %}: {{ expense.amount_paid|default:'-' }}">{{ expense.amount_paid|default:'-' }}</span>
            </div>
        </div>

    </a>

    <div id="expense-{{ expense.id }}-collapse" class="collapse px-2 ms-4 border-start">

        <div id="expense-{{ expense.id }}-extended" class="mx-0 mb-3">
            <div>
                <span class="small fw-light me-1">{% trans "Bill date" %}</span>
                <span>{{ expense.bill_date|default:'-' }}</span>
            </div>
            <div>
                <span class="small fw-light me-1">{% trans "Paid date" %}</span>
                <span>{{ expense.date_paid|default:'-' }}</span>
            </div>
            <div>
                <span class="small fw-light me-1">{% trans "Payee" %}</span>
                <span>{{ expense.payee|default:'-' }}</span>
            </div>
            <div>
                <span class="small fw-light me-1">{% trans "Included VAT" %}</span>
                <span>{{ expense.amount_vat|default:'-' }}</span>
            </div>
            <div>
                <span class="small fw-light me-1">{% trans "Details" %}</span>
                <span>{{ expense.details|default:'-' }}</span>
            </div>
            
            <div class="">
                <span class="fw-light small me-1">{% trans "Files size" %}:</span>
                <span class="text-secondary">{{ expense.files_size|filesizeformat|default:'-' }}</span>
            </div>

            {% if expense.file %}
                <div class="small mt-1">
                    <span class="fw-light me-1">{% trans "Expense file" %}:</span>
                    <span class=""><a href="{% url 'bidding_expense_file' expense.id 'receipt' %}">{{ expense.file_name }}</a></span>
                </div>
            {% endif %}

            {% if show_bid %}
                <div>
                    <span class="small fw-light me-1">{% trans "Bid title" %}</span>
                    <span>{{ expense.bid.title|default:expense.bid.lot.title }}</span>
                </div>
            {% endif %}

        </div>

        <div id="expense-{{ expense.id }}-actions" class="text-end mx-0 mb-3">
            {% if show_bid %}
                <a href="{% url 'bidding_bid_details' expense.bid.id %}" target="_blank"
                    class="ms-2 mt-2 btn btn-sm btn-outline-secondary">
                    <span><i class="{{ bicons.bidding }}"></i></span>
                    <span class="ms-1">{% trans "Bid details" %}</span>
                </a>
            {% endif %}

            {% if not show_bid %}
                <a href="{% url 'bidding_expense_edit' expense.id %}"
                    class="ms-2 mt-2 btn btn-sm btn-outline-secondary">
                    <span><i class="{{ bicons.edit }}"></i></span>
                    <span class="d-none d-md-inline-block ms-1">{% trans "Edit expense" %}</span>
                </a>
            {% endif %}

            {% if expense.deletable and manager %}
                <button type="button" class="ms-2 mt-2 btn btn-sm btn-outline-danger"
                        data-bs-toggle="modal" data-bs-target="#expenseDeleteModal"
                        data-amount="{{ expense.amount_paid }}"
                        data-title="{{ expense.title }}"
                        data-url="{% url 'bidding_expense_delete' expense.id %}">
                    <span><i class="{{ bicons.delete }}"></i></span>
                    <span class="d-none d-md-inline-block ms-1">{% trans 'Delete expense' %}</span>
                </button>
            {% endif %}
        </div>

    </div>

</div>