{% extends 'base/base.html' %}
{% load i18n l10n static %}
{% load humanize %}

{% block title %}
    {% trans "Companies list" %}
{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-between px-0">
        <div class="">
            <span class="h3 me-1">{% trans "Companies list" %}</span>
        </div>
        <!-- <div class="d-flex align-items-top">
            {% include 'bidding/snippets/bonds/bond-search-form.html' %}
            {% include 'bidding/snippets/bonds/bond-menu-sort.html' %}
        </div> -->
    </div>

    <div class="fw-light mt-1">
        <!-- {% if query_dict.filters > 0 %}
            <span class="" data-bs-toggle="tooltip" 
                  title="{% trans 'Results are filtered' %}">
                <i class="{{ bicons.filters }}"></i>
            </span>
            <span class="small text-muted">{% trans "Results are filtered" %}.</span>
        {% endif %} -->
        <span class="fw-bold">
            {{ page_obj.paginator.count }} 
        </span>
        <span class="small text-muted">{% trans "Items found" %}.</span>
        {% if page_obj.has_other_pages %}
            <span class="small text-muted">{% trans "Showing" %}:</span>
            <span class="small">
                {{ page_obj.start_index }}<i class="bi bi-dash-lg"></i>{{ page_obj.end_index }}
            </span>
        {% endif %}
    </div>

    <div class="container py-4 px-0">
        {% if page_obj %}
            <div class="list-group small">
                {% for company in page_obj %}

                    {% ifchanged company.is_mine %}
                        <div class="list-group-item bg-secondary-subtle">
                            <span class="fw-bold">
                                {% if company.is_mine == True %}
                                    {% trans "My companies" %}
                                {% else %}
                                    {% trans "Team's companies" %}
                                {% endif %}
                            </span>
                        </div>
                    {% endifchanged %}

                    <div class="list-group-item list-group-item-action p-0">
                        {% include 'nas/companies/snippets/company-item.html' with company=company  %}
                    </div>
                {% empty %}
                    <div class="list-group-item-action p-2 text-secondary">
                        <span class="ms-1">{% trans "None found" %}</span>
                    </div>
                {% endfor %}
            </div>
            
            {% include 'base/snippets/paginator.html' %}
        {% else %}
            {% include 'base/snippets/empty-list.html' %}
        {% endif %}

    </div>

{% endblock content %}


