{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans "Company details" %}
{% endblock title %}

{% block content %}
    <div class="mt-5">
        <div id="headup" class="text-center">
            <div id="img-preview" class="position-relative d-inline-block ratio ratio-1x1" style="max-width: 10rem;">
                <img id="image-preview" src="{{ company.logo }}" alt="Logo" class="img-fluid border border-warning border-2 p-1 shadow rounded-circle object-fit-cover">
            </div>
            <div class="mt-1 fw-bold fs-5">
                <span>{{ company.name }}</span>
                {% if company.verified %}
                    <span data-bs-toggle="tooltip" title="{% trans 'Name, ICE and Commerce Register ID look fine' %}">
                        <i class="small bi bi-patch-check-fill text-primary"></i>
                    </span>
                {% else %}
                    <span>
                        <a href="javascript:" type="button" class="btn btn-sm btn-outline-primary m-1 p-1 pb-0" data-bs-toggle="modal" data-bs-target="#icedModal">
                            <i class="bi bi-patch-question me-2"></i>{% trans "Verify" %}
                        </a>
                    </span>
         
                {% endif %}
            </div>
        </div>
    </div>

    
    <div class="mt-5">
        {% include 'nas/companies/snippets/company_data.html' with company=company %}
    </div>
    <div class="mt-5">
        {% include 'nas/companies/snippets/manageriats_list.html' with company=company %}
    </div>
    <div class="mt-3">
        {% include 'nas/companies/snippets/signature_keys_list.html' with company=company %}
    </div>
    <div class="mt-3">
        {% include 'nas/companies/snippets/expirables_list.html' with company=company %}
    </div>
    <div class="mt-3">
        {% include 'nas/companies/snippets/qualif_list.html' with company=company %}
    </div>
    <div class="mt-3">
        {% include 'nas/companies/snippets/agrement_list.html' with company=company %}
    </div>

    {% if company.deletable %}
        <div id="company-actions" class="mt-3 text-center">
            <a href="{% url 'nas_company_delete' company.pk %}" class="btn btn-danger m-1"><i class="bi bi-trash me-2"></i>{% trans "Delete Company" %}</a>
        </div>
    {% endif %}

    <div class="">
        {% include 'nas/companies/snippets/iced_modal.html' with company=company %}
    </div>



    <div id="delete-confirmation-modlas">

        <div id="manageriatDeleteModal" class="modal fade" 
                tabindex="-1" aria-labelledby="manageriatDeleteModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="manageriat-delete-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-danger fw-bold" id="manageriatDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2">
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Name" %}: </span>
                                    <span id="manageriat-span-name"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Validity end" %}: </span>
                                    <span id="manageriat-span-date"></span>
                                </div>
                            </div>

                            <div class="my-2">
                                <span class="text-danger">{% trans "This item and its files will be permanently deleted." %}</span>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Back" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.delete }}"></i></span>
                                <span class="ms-1">{% trans 'Delete' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>

            const manageriatDeleteModal = document.getElementById('manageriatDeleteModal');
            const manageriatSpanDate    = document.getElementById('manageriat-span-date');
            const manageriatSpanTitle   = document.getElementById('manageriat-span-name');
            const manageriatDeleteForm  = document.getElementById('manageriat-delete-form');

            manageriatDeleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                manageriatSpanDate.innerText  = button.dataset.date;
                manageriatSpanTitle.innerText = button.dataset.name;
                manageriatDeleteForm.action   = button.dataset.url;
            });
            
        </script>

        <div id="signature_keyDeleteModal" class="modal fade" 
                tabindex="-1" aria-labelledby="signature_keyDeleteModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="signature_key-delete-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-danger fw-bold" id="signature_keyDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2">
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Name" %}: </span>
                                    <span id="signature_key-span-name"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Serial" %}: </span>
                                    <span id="signature_key-span-serial"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Validity end" %}: </span>
                                    <span id="signature_key-span-date"></span>
                                </div>
                            </div>

                            <div class="my-2">
                                <span class="text-danger">{% trans "This item and its files will be permanently deleted." %}</span>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Back" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.delete }}"></i></span>
                                <span class="ms-1">{% trans 'Delete' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>

            const signature_keyDeleteModal = document.getElementById('signature_keyDeleteModal');
            const signature_keySpanDate    = document.getElementById('signature_key-span-date');
            const signature_keySpanTitle   = document.getElementById('signature_key-span-name');
            const signature_keySpanSerial   = document.getElementById('signature_key-span-serial');
            const signature_keyDeleteForm  = document.getElementById('signature_key-delete-form');

            signature_keyDeleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                signature_keySpanDate.innerText  = button.dataset.date;
                signature_keySpanTitle.innerText = button.dataset.name;
                signature_keySpanSerial.innerText = button.dataset.serial;
                signature_keyDeleteForm.action   = button.dataset.url;
            });
            
        </script>

        <div id="expirableDeleteModal" class="modal fade" 
                tabindex="-1" aria-labelledby="expirableDeleteModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="expirable-delete-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-danger fw-bold" id="expirableDeleteModalLabel">{% trans "Permanent Delete" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2">
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Name" %}: </span>
                                    <span id="expirable-span-name"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Subject" %}: </span>
                                    <span id="expirable-span-subject"></span>
                                </div>
                                <div class="mb-1">
                                    <span class="small fw-light">{% trans "Validity end" %}: </span>
                                    <span id="expirable-span-date"></span>
                                </div>
                            </div>

                            <div class="my-2">
                                <span class="text-danger">{% trans "This item and its files will be permanently deleted." %}</span>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <span><i class="bi bi-x-lg"></i></span>
                                <span class="ms-1">{% trans "Back" %}</span>
                            </button>
                            <button type="submit" class="m-1 btn btn-danger" data-bs-dismiss="modal">
                                <span><i class="{{ bicons.delete }}"></i></span>
                                <span class="ms-1">{% trans 'Delete' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>

            const expirableDeleteModal = document.getElementById('expirableDeleteModal');
            const expirableSpanDate    = document.getElementById('expirable-span-date');
            const expirableSpanTitle   = document.getElementById('expirable-span-name');
            const expirableSpanSubject   = document.getElementById('expirable-span-subject');
            const expirableDeleteForm  = document.getElementById('expirable-delete-form');

            expirableDeleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                expirableSpanDate.innerText  = button.dataset.date;
                expirableSpanTitle.innerText = button.dataset.name;
                expirableSpanSubject.innerText = button.dataset.subject;
                expirableDeleteForm.action   = button.dataset.url;
            });
            
        </script>

    </div>

{% endblock %}
