{% load i18n %}
{% load static %}


<div class="nav-item dropdown">
    <a class="btn btn-light p-1 nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><img height="20" src="{% static 'users/person.svg' %}" alt="{{ lang.code|upper }}"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userDropdown">
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'authy_profile' %}" class="p-2 dropdown-item" type="button">
                    <span><i class="bi bi-person-vcard"></i></span>
                    <span class="ms-1">{% trans "Profile" %}</span>
                </a>
            </li>
            {% url 'account_email' as email_url_ %}
            {% if email_url_ %}
                <li>
                    <a href="{{ email_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-envelope-check"></i></span>
                        <span class="ms-1">{% trans "Change Email" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'account_change_password' as change_password_url_ %}
            {% if change_password_url_ %}
                <li>
                    <a href="{{ change_password_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-person-lock"></i></span>
                        <span class="ms-1">{% trans "Change Password" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'socialaccount_connections' as connections_url_ %}
            {% if connections_url_ %}
                <li>
                    <a href="{{ connections_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-plug"></i></span>
                        <span class="ms-1">{% trans "Account Connections" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'mfa_index' as mfa_url_ %}
            {% if mfa_url_ %}
                <li>
                    <a href="{{ mfa_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-fingerprint"></i></span>
                        <span class="ms-1">{% trans "Two-Factor Authentication" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'usersessions_list' as usersessions_list_url_ %}
            {% if usersessions_list_url_ %}
                <li>
                    <a href="{{ usersessions_list_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-database-lock"></i></span>
                        <span class="ms-1">{% trans "Sessions" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'account_logout' as logout_url_ %}
            {% if logout_url_ %}
                <li>
                    <a href="{{ logout_url_ }}" class="p-2 dropdown-item text-danger fw-bold" type="button">
                        <span><i class="bi bi-door-open"></i></span>
                        <span class="ms-1">{% trans "Sign Out" %}</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% url 'account_login' as login_url_ %}
            {% if login_url_ %}
                <li>
                    <a href="{{ login_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-box-arrow-in-right"></i></span>
                        <span class="ms-1">{% trans "Sign In" %}</span>
                    </a>
                </li>
            {% endif %}
            {% url 'account_signup' as signup_url_ %}
            {% if signup_url_ %}
                <li>
                    <a href="{{ signup_url_ }}" class="p-2 dropdown-item" type="button">
                        <span><i class="bi bi-slash-square"></i></span>
                        <span class="ms-1">{% trans "Sign Up" %}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
