{% load static %}
<div class="mt-2 py-2">
    <div class="clearfix">
        <div class="float-start my-1">
            <a href="/">
                <span><img height="32" src="{% static 'brand/insi.svg' %}" alt="eMarches"></span>
            </a>
        </div>
        <div class="float-end">
            <div class="d-flex">
                <div class="me-2 pt-2">{% include 'authy/snippets/menu-user.html' %}</div>
                <div class="pt-2">{% include 'authy/snippets/menu-languages.html' %}</div>                
            </div>
        </div>
    </div>
</div>