{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}
{% trans "User profile" %}
{% endblock title %}

{% block content %}
    <div>
        <div class="mt-5">
            <div id="headup" class="text-center">
                <div id="img-preview" class="position-relative d-inline-block ratio ratio-1x1" style="max-width: 10rem;">
                    <img id="image-preview" src="{{ profile.avatar }}" alt="Avatar" class="img-fluid border border-warning border-2 p-1 shadow rounded-circle object-fit-cover">
                </div>
                <div class="mt-1 fw-bold fs-5">@{{ user.username }}</div>
            </div>
        </div>

        {% include 'nas/snippets/private-data.html' %}

        <div class="row gx-4">
            <div class="col-md-6 col-12">
                <div class="mt-5">
                    {% include 'nas/profile/snippets/user-details.html' with user=user profile=profile %}
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="mt-5">
                    {% include 'nas/profile/snippets/companies-list.html' with companies=companies %}
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="mt-5">
                    {% include 'nas/profile/snippets/notifications.html' with notifications=notifications %}
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="mt-5">
                    {% include 'nas/profile/snippets/newsletters.html' with newsletters=newsletters %}
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="mt-5">
                {% include 'nas/profile/snippets/account-security.html' %}
            </div>
        </div>

    </div>
{% endblock content %}
