{% extends 'authy/base-authy.html' %}

{% block content %}
    <div class="text-center">
        <div class="h3">User Profile</div>
        <div id="img-preview" class="position-relative d-inline-block ratio ratio-1x1" style="max-width: 10rem;">
            <img id="image-preview" src="{{ profile.avatar }}" alt="Avatar" class="img-fluid border border-warning border-2 p-1 shadow rounded-circle object-fit-cover">
        </div>

        <!-- <img class="rounded-circle img-fluid" width="128" src="{{ profile.avatar }}" alt="No-Image"> -->
        <div class="mt-2">@{{ user.username }}</div>
        <div class="mt-2"><span class="small fw-light me-1">First Name</span>{{ user.first_name }}</div>
        <div class="mt-2"><span class="small fw-light me-1">Last Name</span>{{ user.last_name }}</div>
        <div class="mt-2"><span class="small fw-light me-1">About</span>{{ profile.about }}</div>
        <a class="btn btn-outline-secondary" href="{% url 'nas_profile_edit' %}">Edit</a>
    </div>
{% endblock content %}
