{% load i18n humanize groupify tz %}

{% group_tenders bidder.admin_reserves as grouped_ad_res %}

<div class="repeater">
    {% for opening, lots in grouped_ad_res.items %}
        <div class="repeater-container">
            <div>
                <div class="digital repeater-surtitle">
                    <span>&#10148;</span>
                    <span>{{ opening.date }}</span>
                </div>
                <div class="repeater-title">
                    <span>{{ opening.tender.title }}</span>
                </div>
            </div>
            
            <div class="repeater-emphasis">
                {% if opening.tender.lots_count > 1 %}
                    <div class="repeater-subtitle">
                        <span>{% trans 'Lots' %}: </span> 
                        <span>
                            {% for lot in lots %}
                                <span class="digital">{{ lot }}</span>
                                <span>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>
