{% load i18n humanize groupify tz %}

{% group_tenders bidder.admin_reserves as grouped_ad_res %}

<section style="margin-left: 1rem;">
    {% for opening, lots in grouped_ad_res.items %}
        <article style="margin-bottom: 2rem; border-right: 0.5rem solid var(--border); padding-right: 0.5rem;">
            <header>
                <div class="digital" style="opacity: 0.7; margin-bottom: 0.5rem;">{{ opening.date }}</div>
                <div>
                    <span style="opacity: 0.7;">{{ opening.tender.title }}</span>
                </div>
            </header>
            
            <div style="margin-top: 0.5rem;">
                {% if opening.tender.lots_count > 1 %}
                    <div style="text-align: right; margin-bottom: 2px;">
                        <span style="opacity: 0.7;">{% trans 'Lots' %}: </span> 
                        <span>
                            {% for lot in lots %}
                                <span class="digital">{{ lot }}</span>
                                <span>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </article>
    {% empty %}
        <p style="color: var(--focus);">{% trans 'None' %}</p>
    {% endfor %}
</section>
