{% load i18n %}

<section style="margin-left: 1rem;">
    {% for client in bidder.clients %}
        <article style="margin-bottom: 2rem; padding-right: 0.5rem; border-right: 0.25rem solid var(--bd-neutral); padding-right: 0.5rem; border-radius: 2px;">
            <header>
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.5rem;">
                    <div>
                        <div style="opacity: 0.7;">
                            <span>{{ client.name }}</span>
                        </div>                        
                    </div>
                </div>
                <div style="text-align: right;">
                    <span style="opacity: 0.7;"><small>{% trans 'Biddings' %}:</small></span>
                    <span class="digital">{{ client.deposits_count }}</span>
                </div>
            </header>            
        </article>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</section>
