{% load i18n %}

<div class="repeater">
    {% for domain in bidder.domains %}
        <div class="repeater-container">
            <div class="repeater-title">
                <span>{{ domain.name }}</span>
            </div>
            <div class="repeater-emphasis">
                <div class="repeater-subtitle">
                    <span>{% trans 'Biddings' %}:</span>
                    <span class="digital">{{ domain.deposits_count }}</span>
                </div>
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>