{% load i18n humanize groupify tz %}

{% group_depos bidder.selects as grouped_selects %}

<div class="repeater">
    {% for opening, depos in grouped_selects.items %}
        <div class="repeater-container">
            <div>
                <div class="digital repeater-surtitle">
                    <span>&#10148;</span>
                    <span>{{ opening.date }}</span>
                </div>
                <div>
                    <span class="repeater-title">{{ opening.tender.title }}</span>
                </div>
            </div>
            
            <div>
                {% for depo in depos %}
                        <div class="flexirow">
                            <div class="repeater-subtitle">
                                <span style="margin: 1rem;"></span>
                                <span>&#10141;</span>
                                {% if opening.tender.lots_count > 1 %}
                                    <span>{% trans 'Lot' %} {{ depo.lot_number }}: </span>
                                    <span>E={{ depo.lot.estimate }}</span>
                                {% else %}
                                    <span>E={{ opening.tender.estimate }}</span>
                                {% endif %}
                            </div>
                            <div class="flexiline"></div>
                            <div class="repeater-emphasis">
                                <span class="repeater-subtitle">E{{ depo.offset_string }}%</span>
                                <!-- <span style="color: brown;">{{ depo.offset|floatformat:3 }}</span> -->
                                <span>{% if depo.winner %}&starf;{% else %}&star;{% endif %}</span> 
                                <strong>{{ depo.amount_a }}</strong>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>