{% load i18n humanize groupify tz %}

{% group_depos bidder.selects as grouped_selects %}

<div class="repeater">
    {% for opening, depos in grouped_selects.items %}
        <div class="repeater-container">
            <div>
                <div class="digital repeater-surtitle">
                    <span>&#10148;</span>
                    <span>{{ opening.date }}</span>
                </div>
                <div>
                    <span class="repeater-title">{{ opening.tender.title }}</span>
                </div>
            </div>
            
            <div class="repeater-subtitle">
                {% for depo in depos %}
                    <div class="repeater-tiny">
                        <div class="flexirow">
                            <div>
                                <span>&mdash;</span>
                                {% if opening.tender.lots_count > 1 %}
                                    <span>{% trans 'Lot' %} {{ depo.lot_number }}: </span>
                                    <span>E={{ depo.lot.estimate }}</span>
                                {% else %}
                                    <span>E={{ opening.tender.estimate }}</span>
                                {% endif %}
                            </div>
                            <div>
                                <span>E{% if depo.offset > 0 %}+{% endif %}{% if depo.offset == 0 %}+{% endif %}{{ depo.offset|default:'0'|floatformat:1 }}%</span>
                                <span>{% if depo.winner %}&starf;{% else %}&star;{% endif %}</span>                                
                                <span class="digital">{{ depo.amount_a }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>