{% load i18n humanize groupify tz %}

<div class="repeater">
    {% for licence in bidder.licences %}
        <div class="repeater-container">
            <div class="repeater-title">
                <strong>{{ licence.short|default:'-' }}</strong>:
                <span>{{ licence.name }}</span>
            </div>
            <div class="repeater-subtitle">
                <div class="repeater-tiny">
                    <span>{% trans 'Biddings' %}:</span>
                    <span class="digital">{{ licence.deposits_count }}</span>
                </div>
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>