{% load i18n humanize groupify tz %}

<div class="repeater">
    {% for qualif in bidder.qualifs %}
        <div class="repeater-container">
            <div class="repeater-title">
                <strong>{{ qualif.short|default:'--' }}</strong>:
                <span>{{ qualif.name }}</span>
            </div>
            <div class="repeater-emphasis">
                <div class="repeater-subtitle">
                    <span>{% trans 'Biddings' %}:</span>
                    <span class="digital">{{ qualif.deposits_count }}</span>
                </div>
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>
