{% load i18n humanize groupify tz %}

{% group_tenders bidder.tech_rejects as grouped_tech_rej %}

<div class="repeater">
    {% for opening, lots in grouped_tech_rej.items %}
        <div class="repeater-container">
            
            <div class="digital repeater-surtitle">
                <span>&#10148;</span>
                <span>{{ opening.date }}</span>
            </div>
            <div class="repeater-title">
                <span>{{ opening.tender.title }}</span>
            </div>
            
            <div class="repeater-subtitle">
                {% if opening.tender.lots_count > 1 %}
                    <span class="repeater-tiny">{% trans 'Lots' %}: </span> 
                    <span>
                        {% for lot in lots %}
                            <span class="digital">{{ lot }}</span>
                            <span>{% if not forloop.last %}, {% endif %}</span>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>