{% load i18n humanize groupify tz %}


<div class="repeater">
    {% for bid in bidder.tenders.all %}
        <div class="repeater-container">
            <div>
                <div class="digital repeater-surtitle">
                    <span>&#10148;</span>
                    <span>{{ bid.opening.tender.deadline|date }}</span>                                          
                </div>

                <div>
                    <span class="repeater-title">{{ bid.opening.tender.title }}</span>
                </div>

                <div class="repeater-subtitle">
                    {% if bid.opening.tender.lots_count > 1 %}                    
                        <span class="repeater-tiny">
                            <span>{{ bid.opening.tender.lots_count }}</span>
                            <span>{% trans 'Lots' %}:</span>
                        </span>
                    {% endif %}
                    <span class="digital">{{ bid.opening.tender.estimate|default:'-' }}</span>
                </div>
            </div>
            
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>