{% load i18n humanize groupify tz %}

{% group_depos bidder.winners as grouped_winners %}

<div class="repeater">
    {% for opening, depos in grouped_winners.items %}

        <div class="repeater-container">
            <div class="digital repeater-surtitle">
                <span>&#10148;</span>
                <span>{{ opening.date }}</span>
            </div>

            <div class="repeater-title">
                <span>{{ opening.tender.title }}</span>
            </div>

            <div class="repeater-emphasis">
                {% for depo in depos %}
                    <div>
                        {% if opening.tender.lots_count > 1 %}
                                <span class="repeater-subtitle">{% trans 'Lot' %} {{ depo.lot_number }}:</span>
                        {% endif %}
                        <span>&starf;</span>
                        <strong>{{ depo.amount_w }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p style="color: var(--text-muted);">--</p>
    {% endfor %}
</div>
