{% load i18n l10n %}
{% load groupify humanize %}


<div id="bid-{{ bid.id }}-digest">
    <div class="row">
        <div class="col-12 col-md-6 p-1">
            {% if tender.lots_count > 1 %}
                <span class=" small me-1">{% trans "Lot" %} {{ bid.lot.number }} :</span>
            {% endif %}
            <span class="badge bg-{{ bid.status_tint }} me-1">{{ bid.get_status_display }}</span>
            <span class="small me-1">{{ bid.company.name }}</span>
            {% if bid.result %}
                <span class="badge bg-{{ bid.result_tint }} me-1">{{ bid.get_result_display }}</span>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 p-1 text-end">
            {% if bid.amount_c %}<span class="badge bg-warning small">!</span>{% endif %}
            <span class="small fw-light badge bg-secondary me-1">E{{bid.ratio_str}}</span>
            <span class="fw-bold">{{ bid.amount }}</span>
        </div>
    </div>
</div>


