{% load i18n l10n %}
{% load groupify humanize %}


<div id="bid-{{ bid.id }}-digest">

    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ bid.company.logo }}" alt="X" 
                 class="img-fluid rounded rounded-circle mt-2" 
                 style="width: 2rem; height: 2rem;">
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="row pe-2">
                <div class="col-12 col-md-6 p-1">
                    <div><span class="small me-1">{{ bid.company.name }}</span></div>
                    <div>
                        <span class="badge bg-{{ bid.status_tint }} me-1">{{ bid.get_status_display }}</span>
                        {% if tender.lots_count > 1 %}
                            <span class="fw-bold small me-1">{% trans "Lot" %} {{ bid.lot.number }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 p-1 text-end">
                    <div>
                        <span class="small fw-light badge bg-secondary me-1">E{{ bid.ratio_str|default:'?' }}</span>
                        <span class="fw-bold">{{ bid.bid_amount }}</span>
                    </div>
                    {% if bid.result %}
                        <div>
                            <span class="badge bg-{{ bid.result_tint }}">{{ bid.get_result_display }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


