
{% load i18n %}
<!-- href="{% url 'tender_favorite' tender.id %}" -->
<button onclick="heartToggle()"
        id="{{ tender.chrono }}-fav"
        class="btn btn-outline-primary
               {% if favorited %}d-none{% endif %}">
    <span><i class="{{ bicons.favorite }}"></i></span>
    <span class="d-none d-md-inline ms-1">{% trans 'Favorite' %}</span>
</button>
<button onclick="heartToggle('unfav')"
        id="{{ tender.chrono }}-unfav"
        class="btn btn-outline-primary
               {% if not favorited %}d-none{% endif %}">
    <span><i class="{{ bicons.unfavorite }}"></i></span>
    <span class="d-none d-md-inline ms-1">{% trans 'Unfavorite' %}</span>
</button>


<script>
    const btn_fav = document.getElementById('{{ tender.chrono }}-fav')
    const btn_unfav = document.getElementById('{{ tender.chrono }}-unfav')
    const fav_indicator = document.getElementById('faved')

    function heartToggle(makas='fav') {
      if (makas=='fav'){
        url = "{% url 'tender_favorite' tender.id %}"
      } else {
        url = "{% url 'tender_unfavorite' tender.id %}"
      }

      const xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);               // async
      xhr.setRequestHeader('Accept', 'text/plain');

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {

          if (xhr.status === 200) {
            btn_fav.classList.toggle('d-none');
            btn_unfav.classList.toggle('d-none');
            fav_indicator.classList.toggle('d-none');
          }
        }
      };

      xhr.send();
    }

    function unfavoriteTender() {

      const xhr = new XMLHttpRequest();
      const params = new URLSearchParams({
        pk: '{{ temnder.id }}',
      });
      const url = "{% url 'tender_unfavorite' tender.id %}";

      xhr.open('GET', url, true);               // async
      xhr.setRequestHeader('Accept', 'text/plain');

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {

          if (xhr.status === 200) {
            btn_fav.classList.toggle('d-none');
            btn_unfav.classList.toggle('d-none');
            fav_indicator.classList.toggle('d-none');
          }
        }
      };

      xhr.send();
    }
  </script>