{% load i18n static %}   
{% load humanize %}
{% load groupify %}

<div class="my-3">
    <div class="card shadow">
        <a class="btn p-0 w-100 text-start" 
           href="{% url 'portal_tender_detail' tender.id %}">
            <div class="card-header px-2 pt-1 pb-1">

                <div class="d-flex justify-content-between">

                    <div class="d-flex align-items-center">
                        <div class="{% if wrap_text == False %}oneline{% endif %}" id="t{{ tender.chrono }}h">
                            <span class="fs-5" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Main Category' %}: {{ tender.category.label }}">
                                <i class="{{ tender.category.icon_bs_class }} me-1"></i>
                            </span>
                            <span class="fw-bold fs-6 pe-1 border-0 border-end" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Total Estimate' %}: {{ tender.estimate }}">
                                {{ tender.estimate|metrify }}
                                {% if tender.lots_count > 1 %}
                                    <span class="small fw-light text-muted">
                                        /{{ tender.lots_count }}
                                    </span>
                                    <span class="small"
                                        data-bs-toggle="tooltip"
                                        title="{{ tender.lots_count }} {% trans 'Lots' %}">
                                        <i class="{{ bicons.multi_lots }}"></i>
                                    </span>
                                {% endif %}
                            </span>
                            <span class="fw-light small text-muted mx-1" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Total Guaranty' %}: {{ tender.bond }}">
                                {{ tender.bond|metrify:1 }}
                            </span>
                            {% if tender.id in faved_ids %}

                                <span id="faved" class="me-2 px-2 py-1 badge text-bg-success">
                                    <span class="">
                                        <i class="{{ bicons.favorited }}"></i>
                                        <span class="d-none d-md-inline">{% trans "FAVORITE" %}</span>
                                    </span>
                                </span>

                            {% endif %}
                            <span class="fw-light small text-muted mx-1" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Execution Location' %}: {{ tender.location }}">
                                <span><i class="{{ bicons.location }}"></i></span>
                                <span>{{ tender.location }}</span>
                            </span>
                            <span class="fw-light small text-muted mx-1" 
                                data-bs-toggle="tooltip" 
                                title="{% trans 'Public Client' %}: {{ tender.client.name }}">
                                <span><i class="{{ bicons.client }}"></i></span>
                                <span>{{ tender.client }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if not tender.expired %}
                <div class="progress bg-danger p-0 m-0" 
                        style="height: 0.25rem;"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Bidding deadline' %}: {{ tender.deadline }}">
                    {% with tender.days_to_go|progrefy:full_bar_days as green %}
                        <div class="progress-bar bg-success" 
                                role="progressbar" style="width: {{ green }}%;" 
                                aria-valuenow="{{ green }}" aria-valuemin="0" 
                                aria-valuemax="100">
                        </div>
                    {% endwith %}
                </div>
            {% endif %}

            <div class="card-body px-2 py-2">

                <div id="t{{ tender.chrono }}t" class="{% if wrap_text == False %}twolines{% endif %}">
                    <div data-bs-toggle="tooltip"
                        title="{% trans 'Tender object' %}: {{ tender.title }}">                        
                        {% if tender.cancelled %}
                            <span class="badge bg-danger me-2">{% trans "CANCELLED" %}</span>
                        {% endif %}
                        <span class="text-wrap 
                                     {% if tender.expired %}text-secondary fst-italic{% endif %}
                                     {% if tender.cancelled %}text-danger{% endif %}">
                            {{ tender.title }}
                        </span>
                    </div>
                </div>
                
            </div>

            <div class="card-footer px-2 py-1">
                <div id="t{{ tender.chrono }}f" class="oneline">
                        
                    {% if tender.expired %}
                        <div class="d-inline me-2">
                            {% if tender.openings.all|length > 0 %}
                                {% for opening in tender.openings.all %}
                                    <span class="small me-2" data-bs-toggle="tooltip"
                                          title="{% trans 'Awarding minutes found' %}: {{ opening.date }}">
                                        
                                        {% if opening.won_lots > 0 %}
                                            <span class="text-success">
                                                <i class="{{ bicons.winner }} me-1"></i>

                                                {% if opening.won_total is False %}
                                                    <span class="badge small text-bg-warning">
                                                        <i class="{{ bicons.lots }} small"></i>
                                                        <span>{{ opening.won_lots }}/{{ opening.tender.lots_count }}</span>
                                                    </span>
                                                {% else %}
                                                    <span class="badge small text-bg-secondary">{% if opening.win_offset >= 0 %}+{% endif %}{{ opening.win_offset|floatformat:1 }}%</span>
                                                {% endif %}
                                                <span class="fw-bold">{{ opening.won_amount|metrify }}</span>
                                                {% if show_bidders_names %}
                                                    {% for concurrent in opening.winners.all %}
                                                        {% ifchanged concurrent %}
                                                            <span><i class="bi bi-dash-lg ms-1"></i>{{ concurrent.name }}</span>
                                                        {% endifchanged %}
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="text-danger"><i class="bi bi-lock-fill ms-1">{% trans 'LOCKED' %}!</i></span>
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="text-danger">
                                                <i class="{{ bicons.unsuccessful }}"></i>
                                                {% trans 'No Awarding' %}
                                            </span>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% else %}
                                <span class="small me-2 text-warning"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'No minutes found' %}">
                                    <i class="{{ bicons.expired }} me-1"></i>
                                    <span>{% trans "No results" %}</span>
                                </span>
                            {% endif %}
                        </div>
                    {% else %}

                        <div class="d-inline me-2 small fw-light">

                            {% if tender.procedure.restricted %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Procedure may be restricted' %}: {{ tender.procedure.name }}">
                                    <i class="{{ bicons.restricted }}"></i>
                                </span>
                            {% endif %}

                            {% if tender.ebid == 1 %}
                                <span class="small me-0"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Electronic bidding is required' %}">
                                    <i class="{{ bicons.ebid_req }}"></i>
                                </span>
                            {% elif tender.ebid == 0 %}
                                <span class="small me-0"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Electronic bidding is optional' %}">
                                    <i class="{{ bicons.ebid_opt }}"></i>
                                </span>
                            {% else %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Electronic bidding is not applicable' %}">
                                    <i class="{{ bicons.ebid_na }}"></i>
                                </span>
                            {% endif %}

                            {% if tender.ebid == 1 or tender.ebid == 0 %}
                                {% if tender.esign == 1 %}
                                    <span class="small me-2"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Electronic signature is required' %}">
                                        <i class="{{ bicons.esign_req }}"></i>
                                    </span>
                                {% elif tender.esign == 0 %}
                                    <span class="small me-2"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Electronic signature is optional' %}">
                                        <i class="{{ bicons.esign_opt }}"></i>
                                    </span>
                                {% else %}
                                    <span class="small me-2"
                                        data-bs-toggle="tooltip"
                                        title="{% trans 'Electronic signature is not applicable' %}">
                                        <i class="{{ bicons.esign_na }}"></i>
                                    </span>
                                {% endif %}
                            {% endif %}

                            {% if tender.reserved %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Reserved to SMBs, individuals, Unions, ...' %}">
                                    <i class="{{ bicons.reserved }}"></i>
                                </span>
                            {% endif %}

                            {% if tender.has_agrements %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Licenses required' %}">
                                    <i class="{{ bicons.has_agrements }}"></i>
                                </span>
                            {% endif %}
                            {% if tender.has_qualifs %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Qualifications required' %}">
                                    <i class="{{ bicons.has_qualifs }}"></i>
                                </span>
                            {% endif %}
                            {% if tender.has_samples %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Samples required' %}">
                                    <i class="{{ bicons.has_samples }}"></i>
                                </span>
                            {% endif %}
                            {% if tender.has_visits %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'In-site visits scheduled' %}">
                                    <i class="{{ bicons.has_visits }}"></i>
                                </span>
                            {% endif %}
                            {% if tender.has_meetings %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Meetings scheduled' %}">
                                    <i class="{{ bicons.has_meetings }}"></i>
                                </span>
                            {% endif %}
                            {% if tender.variant %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Variants accepted' %}">
                                    <i class="{{ bicons.variant }}"></i>
                                </span>
                            {% endif %}

                            {% if tender.changes.all %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Tender has Changes' %}">
                                    {{ tender.changes.all.count|metrify:0 }}
                                    <i class="{{ bicons.changes }}"></i>
                                </span>
                            {% endif %}

                            <!-- <span class="small me-2"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Files size' %}">
                                <i class="{{ bicons.files_size }}"></i>
                                {{ tender.size_bytes|metrify:0 }}
                            </span> -->

                            {% if not tender.size_bytes or tender.size_bytes == 0 %}
                                <span class="small me-2"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Files may not be ready, yet' %}">
                                    <i class="{{ bicons.no_files }}"></i>
                                </span>
                            {% endif %}

                        </div>

                    {% endif %}

                    <div class="d-inline small ms-2 fw-light float-end">
                        <div class="text-end">
                            {% if tender.views.all.count > 0 %}
                                <span class="ms-2 small"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Views' %}">
                                    {{ tender.views.all.count|metrify:0 }}
                                    <i class="{{ bicons.views }} small"></i>
                                </span>
                            {% endif %}

                            {% if tender.favorites.all.count > 0 %}
                            <span class="ms-2 small"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Favorites' %}">
                                {{ tender.favorites.all.count|metrify:0 }}
                                <i class="{{ bicons.favorites }} small"></i>
                            </span>
                            {% endif %}

                            {% if tender.comments.all.count > 0 %}
                            <span class="ms-2 small"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Comments' %}">
                                {{ tender.comments.all.count|metrify:0 }}
                                <i class="{{ bicons.comments }} small"></i>
                            </span>
                            {% endif %}

                            {% if tender.downloads.all.count > 0 %}
                            <span class="ms-2 small"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Downloads' %}">
                                {{ tender.downloads.all.count|metrify:0 }}
                                <i class="{{ bicons.downloads }} small"></i>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
                    
        </a>
    </div>
</div>