{% load i18n %}
{% load humanize %}
<div class="text-center">

    <div class="wait-azrem pb-3 d-none">
        <div class="progress" 
            role="progressbar" aria-valuenow="100" 
            aria-valuemin="0" aria-valuemax="100"
            style="max-height: 0.5rem;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
                style="width: 100%">
            </div>
        </div>
    </div>

    {% if tender.lots_count > 1 %}
        <span>
            <button type="button" class="m-1 btn btn-outline-secondary" 
                    data-bs-toggle="modal" data-bs-target="#t{{ tender.chrono }}m">
                <span class="fw-bold">{{ tender.lots_count }}</span>
                <span><i class="{{ bicons.multi_lots }}"></i></span>
                <span class="ms-1">{% trans "Lots" %}</span>
            </button>
            <span class="text-start">
                {% include 'portal/snippets/lots/lots-details.html' with chrono=tender.chrono lots=tender.lots.all %}
            </span>
        </span>
    {% endif %}

    <button onclick="heartToggle()"
            id="{{ tender.chrono }}-fav"
            class="m-1 btn btn-outline-success favorite-toggle
                {% if favorited %}d-none{% endif %}">
        <span><i class="{{ bicons.favorite }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Favorite' %}</span>
    </button>
    <button onclick="heartToggle('unfav')"
            id="{{ tender.chrono }}-unfav"
            class="m-1 btn btn-outline-success favorite-toggle
                {% if not favorited %}d-none{% endif %}">
        <span><i class="{{ bicons.unfavorite }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Unfavorite' %}</span>
    </button>

    {% if total_size > 0 %}
    {% endif %}

    {% if files_info|length == 1 and not dce_modal %}
        {% with files_info|first as f %}
            <a href="{% url 'portal_tender_get_file' tender.id f.name %}"
                    class="m-1 btn btn-outline-primary" type="button">
                <span class="fw-bold">{{ total_size|metrify:1 }}</span>
                <span><i class="{{ bicons.downloads }}"></i></span>
                <span class="d-none d-md-inline ms-1">{% trans 'Download' %}</span>
            </a>
        {% endwith %}
    {% else %}
        <button class="m-1 btn 
                       {% if files_info|length == 0 %}
                            btn-outline-primary 
                       {% else %}
                            btn-outline-secondary
                       {% endif %}" 
                type="button" 
                data-bs-toggle="modal" data-bs-target="#dceModal">
            <span><i class="{{ bicons.downloads }}"></i></span>
            <span class="ms-1 fw-bold">{{ total_size|metrify:1 }}</span>
            <span class="d-none d-md-inline ms-1">{% trans 'Download' %}</span>
        </button>
    {% endif %}

    {% if tender.lots_count < 2 %}
        <!-- <form class="d-inline" action="{% url 'portal_tender_simulator' tender.id %}">
            <button class="m-1 btn btn-outline-primary
                    {% if tender.estimate == 0 %} disabled {% endif %}" 
                    type="submit">
                <span><i class="{{ bicons.simulator }}"></i></span>
                <span class="d-none d-md-inline ms-1">{% trans 'Simulator' %}</span>
            </button>
        </form> -->
        <button class="m-1 btn btn-outline-primary
                {% if tender.estimate == 0 %} disabled {% endif %}" 
                type="button"
                data-bs-toggle="modal" data-bs-target="#modalSimulator">
            <span><i class="{{ bicons.simulator }}"></i></span>
            <span class="d-none d-md-inline ms-1">{% trans 'Simulator' %}</span>
        </button>

    {% else %}
        <a      class="m-1 btn btn-outline-primary
                {% if tender.estimate == 0 %} disabled {% endif %}" 
                type="button"
                data-bs-toggle="modal" data-bs-target="#lotSelctModal">
            <span><i class="{{ bicons.simulator }}"></i></span>
            <span class="d-none d-md-inline ms-1">{% trans 'Simulator' %}</span>
        </a>


        <!-- <form class="d-inline" action="{% url 'portal_tender_simulator' tender.id %}">
            <div class="modal fade" id="lotSelctModal" 
                tabindex="-1" aria-labelledby="lotSelctModalLabel" 
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="lotSelctModalLabel">{% trans "Lot Selection" %}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <select name="lot_no" class="form-select" aria-label="Select Lot">
                                <option value = '' selected>
                                    <div class="d-flex justify-content-between">
                                        <div class="fw-bold">{% trans "All" %} = </div>
                                        <div>{{ tender.estimate }}</div>
                                    </div>
                                </option>
                                {% for lot in tender.lots.all %}
                                    {% if lot.estimate > 0 %}
                                        <option value="{{ lot.number }}">
                                            <div class="d-flex justify-content-between">
                                                <div class="fw-bold">{{ lot.number }} = </div>
                                                <div>{{ lot.estimate }}</div>
                                            </div>
                                        </option>
                                    {% endif %}
                                {% empty %}
                                    <div class="text-danger fw-bold">{% trans "No item found !" %}</div>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="m-1 btn btn-outline-primary
                                    {% if tender.estimate == 0 %} disabled {% endif %}" 
                                    type="submit">
                                <span><i class="{{ bicons.simulator }}"></i></span>
                                <span class="d-none d-md-inline ms-1">{% trans 'Submit' %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form> -->

    {% endif %}

    

    <a target="_blank"
        href="{{ link_prefix }}{{ tender.link }}"
        class="m-1 btn btn-outline-primary">
        <span><i class="{{ bicons.bidding }}"></i></span>
        <span class="d-none d-md-inline ms-1">{% trans 'Bid' %}</span>
    </a>
    
</div>