{% load i18n static %}   
{% load humanize %}

<div class="my-4">
    <div class="card shadow">
        <div class="card-header px-3 py-1 
                    {% if tender in favorites.all %}
                        bg-success-subtle
                    {% else %}
                        bg-light
                    {% endif %}">

            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="ms-1 oneline" id="h{{ tender.chrono }}l">
                        <span class="fs-5 border-0" 
                            data-bs-toggle="tooltip" title="{{ tender.category.label }}">
                            <i class="bi bi-{{ tender.category.icon_bs_class}} me-1"></i>
                        </span>
                        <!-- {% if tender in favorites.all %}
                            <i class="bi bi-heart-fill text-success"
                            data-bs-toggle="tooltip" 
                            title="{% trans 'Bookmarked' %}">
                            </i>
                        {% endif %} -->
                        <span class="fw-bold fs-6 me-1 border-0 border-end" 
                            data-bs-toggle="tooltip" 
                            title="{% trans 'Total Estimate' %}: {{ tender.estimate }}">
                            {{ tender.estimate|metrify }}
                        </span>
                        <span class="fw-light small text-muted me-1" 
                            data-bs-toggle="tooltip" 
                            title="{% trans 'Total Guaranty' %}: {{ tender.bond }}">
                            {{ tender.bond|metrify:1 }}
                        </span>
                        <span class="fw-light small text-muted mx-1" 
                            data-bs-toggle="tooltip" 
                            title="{% trans 'Execution Location' %}: {{ tender.location }}">
                            <span><i class="bi bi-{{ icon_location }}"></i></span>
                            <span>{{ tender.location }}</span>
                        </span>
                        <span class="fw-light small text-muted mx-1" 
                            data-bs-toggle="tooltip" 
                            title="{% trans 'Public Client' %}: {{ tender.client.name }}">
                            <span><i class="bi bi-{{ icon_client }}"></i></span>
                            <span>{{ tender.client }}</span>
                        </span>

                    </div>
                </div>
                <div class="ms-3">
                    <div class="dropstart">
                        <button class="btn py-1 px-2" type="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li>
                                <a class="dropdown-item my-1" href="javascript:">
                                    <i class="fs-5 bi bi-text-left me-1"></i>
                                    <span>{% trans "Details" %}</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item my-1" href="javascript:">
                                    <i class="fs-5 bi bi-download me-1"></i>
                                    <span>{% trans "Download" %}</span>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item my-1" href="javascript:">
                                    <i class="fs-5 bi bi-heart me-1"></i>
                                    <span>{% trans "Bookmark" %}</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item my-1" href="javascript:">
                                    <i class="fs-5 bi bi-share me-1"></i>
                                    <span>{% trans "Share" %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress bg-warning p-0 m-0" style="height: 0.25rem;">
            <div class="progress-bar bg-success" 
                    role="progressbar" style="width: {{ tender.progress_percent }}%;" 
                    aria-valuenow="{{ tender.progress_percent }}" aria-valuemin="0" 
                    aria-valuemax="100">
            </div>
        </div>

        <div class="card-body px-3 py-2 
                    {% if tender.cancelled %}
                        text-danger
                    {% endif %}">
            <div id="t{{ tender.chrono }}2" class="twolines">
                <div 
                    data-bs-toggle="tooltip"
                    title="{% trans 'Tender object' %}: {{ tender.title }}">
                    {% if tender.cancelled %}
                        <span class="badge bg-danger me-2">{% trans "CANCELLED" %}</span>
                    {% endif %}
                    
                    <span>{{ tender.title }}</span>
                </div>
                <!-- <div id="t{{ tender.chrono }}d" class="d-none">
                    <div class="fw-light small text-muted mt-2 me-2"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Public Client' %}: {{ tender.client.name }}">
                        <div class="d-flex">
                            <div class="me-2"><i class="i bi-{{ icon_client }}"></i></div>
                            <div>{{ tender.client.name }}</div>
                        </div>
                    </div>
                    <div class="fw-light small text-muted mt-2 me-2"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Execution Location' %}: {{ tender.location }}">
                        <div class="d-flex">
                            <div class="me-2"><i class="i bi-{{ icon_location }}"></i></div>
                            <div>{{ tender.location }}</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="card-footer py-1">
            <div class="d-flex justify-content-between">
                <div class="me-2 small fw-light">

                    {% if tender.lots_count > 1 %}
                        <span class="small me-2"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Tender is allotted' %}">
                            <span>{{ tender.lots_count }}</span>
                            <i class="bi bi-{{ icon_multi_lots }}"></i>
                        </span>
                    {% endif %}

                    {% if tender.procedure.restricted %}
                        <span class="small me-2 text-danger"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Procedure may be restricted' %}: {{ tender.procedure.name }}">
                            <i class="bi bi-{{ icon_restricted }}"></i>
                        </span>
                    {% endif %}

                    {% if tender.ebid == 1 %}
                        <span class="small me-0 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Electronic bidding is required' %}">
                            <i class="bi bi-{{ icon_ebid }}"></i>
                        </span>
                    {% elif tender.ebid == 0 %}
                        <span class="small me-0 text-success"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Electronic bidding is optional' %}">
                            <i class="bi bi-{{ icon_ebid }}"></i>
                        </span>
                    {% else %}
                        <span class="small me-2 text-danger"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Electronic bidding is not applicable' %}">
                            <i class="bi bi-{{ icon_no_ebid }}"></i>
                        </span>
                    {% endif %}

                    {% if tender.ebid == 1 or tender.ebid == 0 %}
                        {% if tender.esign == 1 %}
                            <span class="small me-2 text-primary"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Electronic signature is required' %}">
                                <i class="bi bi-{{ icon_esign }}"></i>
                            </span>
                        {% elif tender.esign == 0 %}
                            <span class="small me-2 text-success"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Electronic signature is optional' %}">
                                <i class="bi bi-{{ icon_esign }}"></i>
                            </span>
                        {% else %}
                            <span class="small me-2 text-secondary"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Electronic signature is not applicable' %}">
                                <i class="bi bi-{{ icon_esign }}"></i>
                            </span>
                        {% endif %}
                    {% endif %}

                    {% if tender.reserved %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Reserved to SMBs, individuals, Unions, ...' %}">
                            <i class="bi bi-{{ icon_reserved }}"></i>
                        </span>
                    {% endif %}

                    {% if tender.lots.first.agrements.first %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Licenses required' %}">
                            <i class="bi bi-{{ icon_has_agrements }}"></i>
                        </span>
                    {% endif %}
                    {% if tender.lots.first.qualifs.first %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Qualifications required' %}">
                            <i class="bi bi-{{ icon_has_qualifs }}"></i>
                        </span>
                    {% endif %}
                    {% if tender.lots.first.samples.first %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Samples required' %}: {{ tender.lots.first.samples.first.when }}">
                            <i class="bi bi-{{ icon_has_samples }}"></i>
                        </span>
                    {% endif %}
                    {% if tender.lots.first.visits.first %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'In-site visits scheduled' %}: {{ tender.lots.first.visits.first.when }}">
                            <i class="bi bi-{{ icon_has_visits }}"></i>
                        </span>
                    {% endif %}
                    {% if tender.lots.first.meetings.first %}
                        <span class="small me-2 text-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Meetings scheduled' %}: {{ tender.lots.first.meetings.first.when }}">
                            <i class="bi bi-{{ icon_has_meetings }}"></i>
                        </span>
                    {% endif %}
                    {% if tender.variant %}
                        <span class="small me-2 text-success"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Variants accepted' %}">
                            <i class="bi bi-{{ icon_variant }}"></i>
                        </span>
                    {% endif %}
                </div>

                <div class="ms-2 small fw-light text-end">
                    {% if tender.changes.all %}
                        <span class="ms-2"
                            data-bs-toggle="tooltip"
                            title="{% trans 'Tender was changed since it was created' %}">
                            {{ tender.changes.all.count|metrify:0 }}
                            <i class="bi bi-{{ icon_changes }}"></i>
                        </span>
                    {% endif %}

                    <span class="ms-2"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Bookmarks' %}">
                        {{ tender.favorites.all.count|metrify:0 }}
                        <i class="bi bi-{{ icon_favorites }}" style="width: 1rem; height: 1rem;"></i>
                    </span>
                    <span class="ms-2"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Comments' %}">
                        {{ tender.comments.all.count|metrify:0 }}
                        <i class="bi bi-{{ icon_comments }}" style="width: 1rem; height: 1rem;"></i>
                    </span>
                    <span class="ms-2"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Downloads' %}">
                        {{ tender.downloads.all.count|metrify:0 }}
                        <i class="bi bi-{{ icon_downloads }}" style="width: 1rem; height: 1rem;"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tenderTitle = document.querySelector('#t{{ tender.chrono }}2'); 
        //const tenderExtra = document.querySelector('#t{{ tender.chrono }}d');        
        if (tenderTitle) {
            // const tooltip = new bootstrap.Tooltip(tenderTitle);
            tenderTitle.addEventListener('click', function() {
                this.classList.toggle('twolines');
                // if (tenderExtra) {
                //     tenderExtra.classList.toggle('d-none');
                // }
                // Check if my-class is present
                // if (this.classList.contains('twolines')) {
                //     tooltip.show();
                // } else {
                //     tooltip.hide();
                // }
            });
        }
    });
</script>