{% load i18n %}
{% load l10n %}

<div class="modal fade" id="lotSelctModal" 
    tabindex="-1" aria-labelledby="lotSelctModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="lotSelctModalLabel">{% trans "Lot Selection" %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="lot-select" name="lot_no" class="form-select" aria-label="Select Lot">
                    <option value = '' selected>{% trans "All lots" %} = {{ tender.estimate }}</option>
                    {% for lot in tender.lots.all %}
                        {% if lot.estimate > 0 %}
                            <option value="{{ lot.estimate }}">{% trans "Lot" %} {{ lot.number }} = {{ lot.estimate }}</option>
                        {% endif %}
                    {% empty %}
                        <div class="text-danger fw-bold">{% trans "No item found !" %}</div>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <span><i class="{{ bicons.close }}"></i></span>
                    <span class="ms-1">{% trans 'Close' %}</span>
                </button>
                
                <button class="m-1 btn btn-outline-primary
                        {% if tender.estimate == 0 %} disabled {% endif %}" 
                        type="button"
                        data-bs-toggle="modal" data-bs-target="#modalSimulator">
                    <span><i class="{{ bicons.simulator }}"></i></span>
                    <span class="ms-1">{% trans 'Simulate' %}</span>
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .striped-modal-body {
    /* Fallback color */
    background-color: #f8f9fa;
    
    /* Vertical stripes: 10px white + 10px light gray */
    background-image: 
        repeating-linear-gradient(
        to right,
        #ffffff 0px,
        #ffffff 35px,
        #f1f3f5 1px,
        #f1f3f5 36px
        );
    
    /* Optional: Add subtle shadow or padding */
    background-attachment: local; /* Ensures pattern scrolls with content */
    }
</style>


<div class="modal fade" id="modalSimulator" aria-hidden="true" aria-labelledby="modalSimulatorLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title fs-5" id="modalSimulatorLabel">{% trans "Bidding Simulator" %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body striped-modal-body">
                    
                <div id="candidateList" class="mb-3"></div>

                <div class="d-flex mb-3 justify-content-between align-items-center">
                    <div>
                        <button id="addCandidate" class="btn btn-outline-primary">
                            <span><i class="{{ bicons.plus }}"></i></span>
                            <span>{% trans 'Add Offer' %}</span>
                        </button>
                    </div>
                </div>

                <hr>

                <!-- <div class="d-flex mb-2"> 
                    <div>
                        <button class="btn btn-sm btn-outline-secondary bg-light disabled"><i class="{{ bicons.target }}"></i>
                        </button>
                    </div>
                    <div class="card shadow-sm px-2 w-100 ms-2 bg-primary-subtle">
                        <div class="d-flex justify-content-between">
                            <div class="mt-1 mb-0 small text-primary">
                                <span id="spanTarget" class="value fw-bold"></span>
                                <span class="small ms-1 text-muted">{% trans 'Target Price' %}</span>
                            </div>
                        </div>
                        <input id="sliderTarget" type="range" step="0.01" min="0" max="0" class="mb-1 mt-0 w-100" disabled>
                    </div>
                </div> -->


                <div class="d-flex mb-2">
                    <div>
                        <button class="btn btn-sm btn-outline-secondary bg-light disabled"><i class="{{ bicons.target }}"></i>
                        </button>
                    </div>
                    <div class="card shadow-sm px-2 w-100 ms-2 bg-secondary-subtle">
                        <div class="row gx-3 gy-0">
                            <div class="col-12 col-md-6">
                                <div class="mt-1 mb-0 small text-primary">
                                    <span id="spanTarget" class="value fw-bold"></span>
                                    <span class="small ms-1 text-muted">{% trans 'Target Price' %}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- <div class="mt-1 mb-0 ms-2 text-end small">
                                    <span class="small mx-1 text-muted">E±20%: </span>
                                    <span id="spanMin" class="small"></span>
                                    <span><i class="{{ bicons.range }}"></i></span>
                                    <span id="spanMax" class="small"></span>
                                </div> -->
                            </div>
                            <div class="col-12">
                                <input id="sliderTarget" type="range" step="0.01" min="0" max="0" class="mb-1 mt-0 w-100" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-2">
                    <div>
                        <button class="btn btn-sm btn-outline-secondary bg-light disabled"><i class="{{ bicons.mean }}"></i>
                        </button>
                    </div>
                    <div class="card shadow-sm px-2 w-100 ms-2 bg-secondary-subtle">
                        <div class="row gx-3 gy-0">
                            <div class="col-12 col-md-6">
                                <div class="mt-1 mb-0 small">
                                    <span id="spanMean" class="value"></span>
                                    <span class="small ms-1 text-muted">{% trans 'Offers Average' %}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mt-1 mb-0 ms-2 text-end small">
                                    <span class="small ms-1 text-muted">{% trans 'Offers count' %}: </span>
                                    <span id="offersCount" class="fw-bold"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <input id="sliderMean" type="range" step="0.01" min="0" max="0" class="mb-1 mt-0 w-100" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-2">
                    <div>
                        <button class="btn btn-sm btn-outline-secondary bg-light disabled"><i class="{{ bicons.estimate }}"></i>
                        </button>
                    </div>
                    <div class="card shadow-sm px-2 w-100 ms-2 bg-secondary-subtle">
                        <div class="row gx-3 gy-0">
                            <div class="col-12 col-md-6">
                                <div class="mt-1 mb-0 small">
                                    <span id="spanEsti" class="value"></span>
                                    <span class="small ms-1 text-muted">{% trans 'Estimate' %}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mt-1 mb-0 ms-2 text-end small">
                                    <span class="small mx-1 text-muted">E±20%: </span>
                                    <span id="spanMin" class="small"></span>
                                    <span><i class="{{ bicons.range }}"></i></span>
                                    <span id="spanMax" class="small"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <input id="sliderEsti" type="range" step="0.01" min="0" max="0" class="mb-1 mt-0 w-100" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button class="btn btn-outline-primary" type="button" disabled>
                    <span><i class="{{ bicons.printer }}"></i></span>
                    <span class="ms-1">{% trans 'Export' %}</span>
                </button>

                {% if tender.lots_count == 1 %}
                    <button class="btn btn-outline-primary" type="button" 
                            data-bs-dismiss="modal" aria-label="Close">
                        <span><i class="{{ bicons.close }}"></i></span>
                        <span class="ms-1">{% trans 'Close' %}</span>
                    </button>
                {% else %}
                    <button class="btn btn-outline-primary" 
                            data-bs-target="#lotSelctModal" 
                            data-bs-toggle="modal">
                        <span><i class="{{ bicons.close }}"></i></span>
                        <span class="ms-1">{% trans 'Back' %}</span>
                    </button>
                {% endif %} 
            </div>
        </div>
    </div>
</div>

<script>
    /* ---------- DATA & HELPERS ---------- */
    let candidates = [];
    let candidateIdCounter = 0;
    let esti_str = '{{ tender.estimate|unlocalize }}';
    let Esti = Number(esti_str);

    const selot = document.getElementById("lot-select");

    const tol_dn = Number({{ tolerance_dn }});
    const tol_up = Number({{ tolerance_up }});
    let Emin = Number(Esti * (1- tol_dn/100));
    let Emax = Number(Esti * (1+ tol_up/100));

    const spanEsti = document.getElementById('spanEsti');
    const sliderEsti = document.getElementById('sliderEsti');

    const spanMin = document.getElementById('spanMin');
    const spanMax = document.getElementById('spanMax');


    /* ---------- UI CREATION ---------- */
    function createCandidateRow(initial_bid=Esti) {
        const id = ++candidateIdCounter;

        const flexDiv = document.createElement('div');
        flexDiv.className = 'd-flex mb-2 full-flex-row';

        // delete button
        actionsDiv = document.createElement('div');
        const delBtn = document.createElement('button');
        delBtn.className = 'btn btn-sm btn-outline-danger bg-light';
        delBtn.onclick = () => {
            flexDiv.remove();
            candidates.splice(candidates.findIndex(c=>c.id===id),1);
            recalc();
        };
        const delIco = document.createElement('i');
        delIco.className = '{{ bicons.delete }}';
        delBtn.appendChild(delIco);

        actionsDiv.appendChild(delBtn);
        flexDiv.appendChild(actionsDiv);

        const card = document.createElement('div');
        card.className = 'candidate card px-2 py-1 w-100 ms-2';
        card.dataset.id = id;

        const divTop = document.createElement('div');
        divTop.classList = 'd-flex justify-content-between';

        card.appendChild(divTop);
        flexDiv.appendChild(card);

        const offerDiv = document.createElement('div');
        offerDiv.classList = 'mt-1 mb-0';
        const rankingEl = document.createElement('div');
        rankingEl.classList = 'small';
        const prizeInd = document.createElement('i');
        rankingEl.dataset.id = id;
        
        const rankSpan = document.createElement('span');
        rankSpan.classList = 'ranker fw-bold badge bg-primary ms-1';
        rankSpan.dataset.id = id;
        
        const prizeSpan = document.createElement('span');
        prizeSpan.classList = 'winner badge bg-success ms-1';
        prizeSpan.dataset.id = id;
        
        prizeInd.classList = '{{ bicons.winner }}';
        prizeSpan.appendChild(prizeInd);
        rankingEl.appendChild(prizeSpan);
        rankingEl.appendChild(rankSpan);

        divTop.appendChild(offerDiv);
        divTop.appendChild(rankingEl);

        // name
        const nameInp = document.createElement('span');
        // nameInp.type = 'text';
        // nameInp.value = `{{ offer_litteral }}${id}D`;
        nameInp.className = 'small text-muted ms-2 d-none d-md-inline';
        nameInp.textContent = `{{ offer_litteral }}${id}D`;

        // value display
        const posiSpan = document.createElement('span');
        posiSpan.className = 'positioner ms-2 small text-muted d-none d-md-inline';
        posiSpan.dataset.id = id;
        const valSpan = document.createElement('span');
        valSpan.className = 'value';
        valSpan.textContent = formatMoney(initial_bid);

        offerDiv.appendChild(valSpan);
        // offerDiv.appendChild(nameInp);
        offerDiv.appendChild(posiSpan);


        // slider
        const slider = document.createElement('input');
        slider.type = 'range';
        slider.step = 0.01;
        slider.min = Emin;
        slider.max = Emax;
        slider.value = initial_bid;
        slider.className = 'mb-1 mt-0';
        card.appendChild(slider);

        // store
        candidates.push({id, nameInp, slider, valSpan, bid:Number(initial_bid)});
        document.getElementById('candidateList').appendChild(flexDiv);

        // listeners
        slider.addEventListener('input', () => updateCandidate(id, Number(slider.value)));
        nameInp.addEventListener('change', recalc);
        return flexDiv;
    }

    /* ---------- CANDIDATE UPDATE ---------- */
    function updateCandidate(id, newBid) {
        const c = candidates.find(x=>x.id===id);
        if (!c) return;
        c.bid = newBid;
        c.valSpan.textContent = formatMoney(newBid);
        // console.log(newBid, newBid.toString());
        recalc();
    }

    /* ---------- LOT SELECT ---------- */
    selot.addEventListener('change', function(event) {
        if (selot.selectedIndex > 0) {
            esti_str = selot.options[selot.selectedIndex].value;
        } else {
            esti_str = '{{ tender.estimate }}';
        }

        Esti = Number(esti_str.replace(/,/g, ''));
        Emin = Number(Esti * (1- tol_dn/100));
        Emax = Number(Esti * (1+ tol_up/100));

        createInitialCandidates();
        recalc();
        
    });

    /* ---------- CALCULATION ---------- */
    function recalc() {
        spanEsti.textContent = formatMoney(Esti);
        // console.log(Esti, Esti.toString());
        spanMin.textContent = formatMoney(Emin);
        spanMax.textContent = formatMoney(Emax);

        sliderEsti.min = Emin;
        sliderEsti.max = Emax;
        sliderEsti.value = Esti;


        const E = Esti 
        const accepted = [];
        
        for (const c of candidates) {
            const bid = c.bid;
            accepted.push(bid);
        }

        const offersCount = document.getElementById('offersCount');
        const spanR = document.getElementById('spanTarget');
        const spanM = document.getElementById('spanMean');
        const sliderMean = document.getElementById('sliderMean');
        const sliderTarget = document.getElementById('sliderTarget');
        const winnerBgClass = 'bg-success-subtle fw-bold text-success'.split(" ");
        
        let M = 0;
        if (accepted.length) {
            M = accepted.reduce((a,b)=>a+b,0) / accepted.length;
            offersCount.textContent = accepted.length.toString();
        } else {
            offersCount.textContent = '0';
        }

        sliderMean.min = Emin;
        sliderMean.max = Emax;
        sliderTarget.min = Emin;
        sliderTarget.max = Emax;

        const R = 0.5 * (E + M);
        if (accepted.length) {
            spanM.textContent = formatMoney(M);
            spanR.textContent = formatMoney(R);
        // console.log(R, R.toString());
        // console.log(M, M.toString());

            sliderMean.value = M;
            sliderTarget.value = R;
        } else {
            spanM.textContent = '-';
            spanR.textContent = '-';
            sliderMean.value = 0;
            sliderTarget.value = 0;
        }

        let winnerBid = null;

        document.querySelectorAll('.ranker').forEach(r=>r.textContent='-');

        function sortCandidates(candidates, R) {
            const equalR = candidates.filter(candidate => candidate.bid == R);
            const belowR = candidates.filter(candidate => candidate.bid < R).sort((a, b) => b.bid - a.bid);
            const aboveR = candidates.filter(candidate => candidate.bid > R).sort((a, b) => a.bid - b.bid);
            return equalR.concat(belowR).concat(aboveR);
        }

        // highlight
        document.querySelectorAll('.candidate').forEach(r=>r.classList.remove(...winnerBgClass));
        document.querySelectorAll('.winner').forEach(r=>r.classList.add('d-none'));


        sortedCandidates = sortCandidates(candidates, R);

        if (sortedCandidates.length){
            winnerBid = sortedCandidates[0].bid;

            sortedCandidates.forEach((cand, index) => {
                cand.rank = index + 1;
                cand.eDiff = cand.bid - E;
                cand.eDiffPercent = 0;
                if (E != 0) cand.eDiffPercent = 100 * cand.eDiff/E;
                const rankElement = document.querySelector(`.ranker[data-id="${cand.id}"]`);
                if (rankElement) rankElement.textContent = cand.rank;

                const positioneEl = document.querySelector(`.positioner[data-id="${cand.id}"]`);
                let unit = "E+";
                if (cand.eDiff < 0) unit = "E"
                if (positioneEl) positioneEl.textContent = `(${unit}${formatMoney(cand.eDiff)} ≈ ${unit}${cand.eDiffPercent.toFixed(1)}%)`;
            });
        }


        if (winnerBid !== null) {
            const winnerCand = candidates.find(c => c.bid === winnerBid);
            if (winnerCand) {
                const winnerCard = document.querySelector(`.candidate[data-id="${winnerCand.id}"]`);
                if (winnerCard) {
                    winnerCard.classList.add(...winnerBgClass);
                };
                const winnerEl = document.querySelector(`.winner[data-id="${winnerCand.id}"]`);
                if (winnerEl) {
                    winnerEl.classList.remove('d-none');
                };
            }
        }
    }

    /* ---------- UTILITIES ---------- */
    function formatMoney(n, precision=2) {
        const locale = '{{ LANGUAGE_CODE }}' || navigator.language || navigator.userLanguage || 'en-US';

        return new Intl.NumberFormat(locale, {
            minimumFractionDigits:precision, 
            maximumFractionDigits:precision
        }).format(n);
    }

    /* ---------- INITIALISATION ---------- */

    document.getElementById('addCandidate').onclick = () => {
        let randomBid = Math.random() * (Emax - Emin) + Emin;
        createCandidateRow(randomBid);
        recalc();
    };

    function createInitialCandidates(){
        document.querySelectorAll('.full-flex-row').forEach(r=>r.remove());
        candidates.length = 0;
        let candidateIdCounter = 0;
        for (let i = 0; i < Number({{ offers_count }}); i++) {
            let randomBid = Math.random() * (Emax - Emin) + Emin;
            createCandidateRow(randomBid);
        }
        recalc();
    }

    createInitialCandidates();
</script>

