{% load i18n %}
<div class="small">
    <div class="dropdown dropstart">
        <button class="btn btn-light py-1 mx-1" type="button" 
                data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-toggle="tooltip" 
                title="{% trans 'Order items by' %}">
            <i class="{{ bicons.sort }}"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end shadow">
            <div class="ms-3 mb-2">
                <span class="">{% trans 'Ordering' %}</span>
            </div>
            
            <li>
                {% trans 'Latest published' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='latest_published' icon=bicons.published %}
            </li>
            
            <hr class="dropdown-divider">
            
            <li>
                {% trans 'Active tenders count' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='tenders_count' icon=bicons.count %}
            </li>
            
            <li>
                {% trans 'All tenders count' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='all_tenders_count' icon=bicons.count %}
            </li>
            
            <hr class="dropdown-divider">
            
            <li>
                {% trans 'Active tenders amount' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='total_estimate' icon=bicons.estimate %}
            </li>
            
            <li>
                {% trans 'All tenders amount' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='all_total_estimate' icon=bicons.estimate %}
            </li>

            <hr class="dropdown-divider">
            
            <li>
                {% trans 'Client Acronym' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='short' icon=bicons.client %}
            </li>
            
            <li>
                {% trans 'Client Name' as caption %}
                {% include 'base/snippets/menu-sort-item.html' with caption=caption field='name' icon=bicons.client %}
            </li>
        </ul>
    </div>
</div>