{% load i18n %}
{% load humanize %}

<div id="cliennt-{{ client.id }}-line">

    <a data-bs-toggle="collapse" href="#cliennt-{{ client.id }}-collapse"
       role="button" aria-expanded="false" aria-controls="cliennt-{{ client.id }}-collapse"
       class="text-decoration-none text-reset">

        <div id="cliennt-{{ client.id }}-digest" class="p-2">
            <div class="{% if wrap_text == False %}threelines{% endif %} small text-muted">{{ client.name }}</div>             
        </div>

    </a>

    <div id="cliennt-{{ client.id }}-collapse" class="collapse px-2 ms-4 border-start">  

        <div id="cliennt-{{ client.id }}-extended" class="mx-0 mb-3">

            <div class="text-secondary">
                <span class="fw-light small me-1">{% trans "Latest published" %}:</span>
                <span class="">{{ client.latest_published }}</span>
            </div>

            <div class="text-secondary">
                <span class="fw-light small me-1">{% trans "Active Tenders" %}:</span>
                <span class="">{{ client.tenders_count }} / {{ client.all_tenders_count }}</span>
            </div>
            <!-- <div class="text-secondary">
                <span class="fw-light small me-1">{% trans "All Tenders" %}:</span>
                <span class="">{{ client.all_tenders_count }}</span>
            </div> -->

            <div class="text-secondary">
                <span class="fw-light small me-1">{% trans "Estimate average" %}:</span>
                <span class="float-end">{{ client.estimate_average }}</span>
            </div>
            {% if client.total_estimate %}
                <div class="text-secondary">
                    <span class="fw-light small me-1">{% trans "Active Tenders estimate" %}:</span>
                    <span class="float-end">{{ client.total_estimate }}</span>
                </div>
            {% endif %}
            <div class="text-secondary">
                <span class="fw-light small me-1">{% trans "All Tenders estimate" %}:</span>
                <span class="float-end">{{ client.all_total_estimate }}</span>
            </div>

        </div>
        
        <div id="cliennt-{{ client.id }}-actions" class="text-end mx-0 mb-3">

            {% if client.tenders_count != 0 %}
                <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" 
                href="{% url 'portal_tender_list' %}?&q={{ client.name }}&f=client">
                    <span><i class="{{ bicons.details }}"></i></span>
                    <span class="ms-1">{% trans 'Active Tenders' %}</span>
                </a>
            {% endif %}

            {% if client.tenders_count != client.all_tenders_count %}
                <a class="ms-2 mt-2 btn btn-sm btn-outline-secondary" 
                href="{% url 'portal_tender_list' %}?&q={{ client.name }}&f=client&ddlnn=1970-01-01">
                    <span><i class="{{ bicons.details }}"></i></span>
                    <span class="ms-1">{% trans 'All Tenders' %}</span>
                </a>
            {% endif %}
            
        </div>

    </div>

</div>