{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans "Company details" %}
{% endblock title %}

{% block content %}
    <div class="mt-5">
        <div id="headup" class="text-center">
            <div id="img-preview" class="position-relative d-inline-block ratio ratio-1x1" style="max-width: 10rem;">
                <img id="image-preview" src="{{ company.logo }}" alt="Logo" class="img-fluid border border-warning border-2 p-1 shadow rounded-circle object-fit-cover">
            </div>
            <div class="mt-1 fw-bold fs-5">
                <span>{{ company.name }}</span>
                {% if company.verified %}
                    <span data-bs-toggle="tooltip" title="{% trans 'Name, ICE and Commerce Register ID look fine' %}">
                        <i class="small bi bi-patch-check-fill text-primary"></i>
                    </span>
                {% else %}
                    <span>
                        <a href="javascript:" type="button" class="btn btn-sm btn-outline-primary m-1 p-1 pb-0" data-bs-toggle="modal" data-bs-target="#icedModal">
                            <i class="bi bi-patch-question me-2"></i>{% trans "Verify" %}
                        </a>
                    </span>
         
                {% endif %}
            </div>
        </div>
    </div>

    
    <div class="mt-5">
        {% include 'nas/companies/snippets/company_details.html' with company=company %}
    </div>
    <div class="mt-5">
        {% include 'nas/companies/snippets/qualif_list.html' with company=company %}
    </div>
    <div class="mt-5">
        {% include 'nas/companies/snippets/agrement_list.html' with company=company %}
    </div>

    <div id="company-actions" class="mt-5 text-center">
        <a href="" class="btn btn-outline-secondary m-1 disabled"><i class="bi bi-share me-2"></i>{% trans "Share" %}</a>
        <a href="" class="btn btn-outline-secondary m-1 disabled"><i class="bi bi-printer me-2"></i>{% trans "Print" %}</a>
        <a href="{% url 'nas_company_delete' company.pk %}" class="btn btn-danger m-1"><i class="bi bi-trash me-2"></i>{% trans "Delete Company" %}</a>
    </div>

    <div class="">
        {% include 'nas/companies/snippets/iced_modal.html' with company=company %}
    </div>




{% endblock %}
